<div class="container user-dashboard">
    <div class="row my-3">
        <div class="col-md-3 sidebar" *ngIf="check_login() && !institute() && !admin()">
            <nav>
                <form class="user-profile-form ">
                        <div class="profile-picture" *ngIf="profilePhoto"> <img src="{{profilePhoto}}" onerror="this.src='../assets/img/default-user-icon-profile.png'">
                        </div>
                        <div class="profile-picture" *ngIf="!profilePhoto"> <img src="../assets/img/default-user-icon-profile.png"
                                onerror="this.src='../assets/img/default-user-icon-profile.png'"> </div>
                    <h4 class="user-name text_cap">{{firstname}} {{lastname}}</h4>
                </form> <a class="user-link" routerLink="/userprofile" routerLinkActive="active1"><i class="fas fa-user"></i>
                    Profile</a> <a class="user-link" routerLink="/change-password" routerLinkActive="active1"><i class="fas fa-key"></i>
                    Change Password</a>
            </nav>
        </div>
        <div class="col-md-8 user-profile">
            <h1 class="user-heading">Change Password</h1>
            <form method="post" class="user-add-ingo-form changePassword" [formGroup]="changepass">
                <div [ngClass]="displayFieldCss(changepass, 'currentPassword')" class="mrg-btm">
                    <mat-form-field> <input matInput [type]="hide? 'password' : 'text'" #password type="password" required
                            placeholder="Current Password" name="currentPassword" formControlName="currentPassword" (change)="onChange($event)"
                            [(ngModel)]="currentPassword" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off>
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide? 'Show':'Hide'}}Password"
                            matSuffix (click)="hide=!hide">{{hide? 'visibility_off':'visibility'}}</mat-icon>
                        <mat-error *ngIf="changepass.controls.currentPassword.value==''"> <strong>Current Password
                                cannot be empty</strong> </mat-error>
                        <mat-error *ngIf="changepass.controls.currentPassword.hasError('pattern')"> Please enter a
                            valid current password </mat-error>
                    </mat-form-field>
                </div>
                <div [ngClass]="displayFieldCss(changepass, 'newPassword')" class="mrg-btm">
                    <mat-form-field> <input matInput [type]="hide2 ? 'password' : 'text'" #password type="password" required
                            placeholder="New Password" name=newpassword name="newPassword" formControlName="newPassword" (change)="onChange($event)"
                            [(ngModel)]="newPassword" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off>
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide2? 'Show':'Hide'}}Password"
                            matSuffix (click)="hide2=!hide2">{{hide2? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="changepass.controls.newPassword.value==''"> <strong>New Password cannot be
                                empty</strong> </mat-error>
                        <mat-error *ngIf="changepass.controls.newPassword.hasError('pattern')">Password must be 8 characters long and must include 1 upper case, 1 lower case, 1 number and 1 special character</mat-error>
                    </mat-form-field>
                    <div class="max-amount-alert" *ngIf="isInvalid">Current password and new password cannot be same</div> 
                </div>
                <div [ngClass]="displayFieldCss(changepass, 'newPassword2')">
                    <mat-form-field> <input matInput [type]="hide3 ? 'password' : 'text'" #password placeholder="Confirm New Password"
                            type="password" name="newPassword2" formControlName="newPassword2" [(ngModel)]="newPassword2" required
                            onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off>
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide3? 'Show':'Hide'}}Password"
                            matSuffix (click)="hide3=!hide3">{{hide3? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="(changepass.controls.newPassword2.value !=changepass.controls.newPassword.value) || changepass.controls.newPassword2.value==''">
                            <strong>Password must match </strong> </mat-error>
                    </mat-form-field>
                </div>
                <a class="btn-style btn  margin-top-10 width100" (click)="editclick(currentPassword,newPassword,newPassword2)">Save</a>
            </form>
        </div>
    </div>
</div>