<div class="container user-dashboard">
    <div class="row my-3">
        <div class="col-md-3 sidebar" *ngIf="check_login() && !institute() && !admin()">
            <nav>
                <form class="user-profile-form ">

                    <div class="profile-picture" *ngIf="profilePhoto" >
                        <img src="{{profilePhoto}}">
                    </div>
                    <div class="profile-picture" *ngIf="!profilePhoto" >
                        <img src="../assets/img/default-user-icon-profile.png">
                    </div>

                      
                    
                    <h4 class="user-name">{{firstname}} {{lastname}}</h4>
                </form>
                <a class="user-link" routerLink="/userprofile" routerLinkActive="active1" *ngIf="check_login() && !institute() && !admin()"><i class="fas fa-user"></i> Profile</a>
              <!--<a class="user-link" routerLink="/experience" routerLinkActive="active1">  Experience </a>-->
                <a class="user-link" routerLink="/change-password" routerLinkActive="active1" *ngIf="check_login() && institute() && admin()"><i class="fas fa-key"></i> Change Password</a>
            </nav>
        </div>
        <div class="col-md-8 user-profile">
            <h1 class="user-heading">Change Password</h1>
            <form method="post" class="user-add-ingo-form changePassword" [formGroup]="changepass">
                <div [ngClass]="displayFieldCss(changepass, 'currentPassword')">
                    <mat-form-field>
                        <input matInput [type]="hide? 'password' : 'text'" #password type="password" placeholder="Current Password"
                            name="currentPassword" formControlName="currentPassword" [(ngModel)]="currentPassword">
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide? 'Show':'Hide'}} Password" matSuffix
                            (click)="hide=!hide">{{hide? 'visibility_off':'visibility'}}</mat-icon>
                        <mat-error *ngIf="changepass.controls.currentPassword.value==''">
                            <strong>Current Password cannot be empty</strong>
                        </mat-error>
                        <mat-error *ngIf="changepass.controls.currentPassword.hasError('pattern')"> Please enter a valid Current password </mat-error>
                    </mat-form-field>
                </div>
                <div [ngClass]="displayFieldCss(changepass, 'newPassword')">
                    <mat-form-field>
                        <input matInput [type]="hide2 ? 'password' : 'text'" #password type="password" placeholder="New Password" name=newpassword
                            name="newPassword" formControlName="newPassword" [(ngModel)]="newPassword">
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide2? 'Show':'Hide'}} Password" matSuffix
                            (click)="hide2=!hide2">{{hide2? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="changepass.controls.newPassword.value==''">
                            <strong>New Password cannot be empty</strong>
                        </mat-error>
                        <mat-error *ngIf="changepass.controls.newPassword.hasError('pattern')">Password must be at least 8 characters long, have at least one number, one special character,one lower case character and one upper case character</mat-error>
                    </mat-form-field>
                </div>
                <div [ngClass]="displayFieldCss(changepass, 'newPassword2')">
                    <mat-form-field>
                        <input matInput [type]="hide3 ? 'password' : 'text'" #password placeholder="Confirm New Password" type="password"
                            name="newPassword2" formControlName="newPassword2" [(ngModel)]="newPassword2">
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide3? 'Show':'Hide'}} Password" matSuffix
                            (click)="hide3=!hide3">{{hide3? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="(changepass.controls.newPassword2.value !=changepass.controls.newPassword.value) || changepass.controls.newPassword2.value==''">
                            <strong>Password must match </strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <a class="user-add-ingo-form-btn mt-2" (click)="editclick(currentPassword,newPassword,newPassword2)">Save</a>
            </form>
        </div>
    </div>
</div>
