<div class="container-fluid margin-top-10 margin-bottom-20 width-90">
    <div class="row ">
        <div class="margin-auto user-profile margin-top117 width-36">
            <div class="checkout">
                <div [className]="flipclass">
                    <div class="flip">
                        <div class="front">
                            <div class="chip"></div>
                            <div class="logo"> <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="47.834px"
                                    height="47.834px" viewBox="0 0 47.834 47.834"
                                    style="enable-background:new 0 0 47.834 47.834;">
                                    <g>
                                        <g> </g>
                                    </g>
                                </svg> </div>
                            <div class="card-holder sh"> <label>Nick Name</label>
                                <div>{{form.controls.cardnickname.value}}</div>
                            </div>
                            <div class="card-holder"> <label>Card Number</label>
                                <div>{{form.controls.cardnumber.value}}</div>
                            </div>
                            <div class="card-expiration-date"> <label>Expiry Date</label>
                                <div>{{form.controls.expirydate.value}}</div>
                            </div>
                        </div>
                        <div class="back">
                            <div class="strip"></div>
                            <div class="logo"> <svg version="1.1" id="visa" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="47.834px"
                                    height="47.834px" viewBox="0 0 47.834 47.834"
                                    style="enable-background:new 0 0 47.834 47.834;">
                                    <g>
                                        <g> </g>
                                    </g>
                                </svg> </div>
                            <div class="card-expiration-date"> <label>Expiry Date</label>
                                <div>{{form.controls.expirydate.value}}</div>
                            </div>
                            <div class="cvv"> <label>CVV</label>
                                <div>{{form.controls.cvv.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="user-add-ingo-form" [formGroup]="form" onsubmit="add(f)" #f=ngForm>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 mb-3">
                            <mat-form-field class="card-type">
                                <mat-select placeholder="Card Type" [formControl]="card_type"
                                    (change)="ShowButton(card_type.value)" required>
                                    <mat-option *ngFor="let card_get_datat of card_opeation"
                                        [value]="card_get_datat.value">
                                        {{card_get_datat.viewValue}}</mat-option>
                                </mat-select>
                                <!-- <mat-error -->
                                    <!-- *ngIf="form.controls.card_type.touched && form.controls.card_type.invalid"> -->
                                    <!-- <mat-error *ngIf="form.controls.card_type.errors.required"> Card Type cannot be
                                        empty
                                    </mat-error> -->
                                <!-- </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field> <input class="text_cap" matInput type="text" placeholder="Card Holder Name"
                                    formControlName="cardHolderName" maxlength="14" minlength="2" required>
                                <mat-error
                                    *ngIf="form.controls.cardHolderName.touched && form.controls.cardHolderName.invalid">
                                    <mat-error *ngIf="form.controls.cardHolderName.errors.required"> Card Holder Name
                                        cannot be
                                        empty </mat-error>
                                    <!-- <mat-error *ngIf="form.controls.cardHolderName.hasError('pattern')"> Alphabets Only
                                    </mat-error> -->
                                    <mat-error *ngIf="form.controls.cardHolderName.hasError('pattern')"> Alphabets Only
                                        </mat-error>

                                    <!-- <mat-error *ngIf="form.controls.cardHolderName.hasError('minLength')"> 
                                        Card Holder Name must be at least 2 characters long.
                                    </mat-error> -->
                                    <!-- <mat-error *ngIf="form.controls.cardHolderName.hasError('maxLength')">
                                            Card Holder Name must be at least 64 characters long.
                                    </mat-error>  -->
                                    <!-- <mat-error *ngIf="form.controls.cardHolderName.errors.minlength"> Card Holder Name
                                        must be
                                        at least&nbsp;{{form.controls.cardHolderName.errors.minlength.requiredLength}}&nbsp;characters
                                        long.
                                    </mat-error> -->

                                    <mat-error *ngIf="form.controls.cardHolderName.errors.minlength"> Card Holder Name
                                            must be
                                            between 2 and 14 characters
                                            
                                        </mat-error>

                                    <!-- Abdullah -->
                                    <!-- <mat-error *ngIf="form.controls.cardHolderName.errors.maxlength"> Card Holder Name
                                            must be
                                            at least&nbsp;{{form.controls.cardHolderName.errors.maxlength.requiredLength}}&nbsp;characters
                                            long.
                                        </mat-error> -->
                                        <!-- Abdullah -->

                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field> <input class="text_cap" matInput type="text" placeholder="Payment Method Nickname"
                                    formControlName="cardnickname" maxlength="14" minlength="2" required>
                                <mat-error
                                    *ngIf="form.controls.cardnickname.touched && form.controls.cardnickname.invalid">
                                    <mat-error *ngIf="form.controls.cardnickname.errors.required"> Payment Method Nickname cannot be
                                        empty </mat-error>

                                        <mat-error *ngIf="form.controls.cardnickname.hasError('pattern')"> Alphabets Only
                                            </mat-error>
                                        
                                    <!-- <mat-error *ngIf="form.controls.cardnickname.errors.minlength"> Payment Method Nickname must be
                                        at least&nbsp;{{form.controls.cardnickname.errors.minlength.requiredLength}}&nbsp;characters
                                        long.
                                    </mat-error> -->
                                    
                                    
                                    <!-- Abdullah -->

                                    <mat-error *ngIf="form.controls.cardnickname.errors.minlength"> Payment Method Nickname must be
                                            between 2 and 14 characters.
                                        </mat-error>
                                        <!-- Abdullah  -->


                                </mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3" *ngIf="cardnumber">
                            <mat-form-field class=""> <input matInput type="text" placeholder="16 Digit Card Number" 
                                 formControlName="cardnumber" [textMask]="{mask: cardmask}" required>
                                <mat-error *ngIf="form.controls.cardnumber.touched && form.controls.cardnumber.invalid">
                                    <mat-error *ngIf="form.controls.cardnumber.errors.required"> Card number cannot be
                                        empty
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cardnumber.errors.minlength"> Card Number must be at
                                            atmost&nbsp;{{form.controls.cardnumber.errors.minlength.requiredLength}}&nbsp;digits long.
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cardnumber.errors.maxlength"> Card Number must be at
                                            atmost&nbsp;{{form.controls.cardnumber.errors.maxlength.requiredLength}}&nbsp; digits long.
                                    </mat-error>
                                    <!-- <mat-error *ngIf="form.controls.cardnumber.errors.maxlength"> Card Number must be at
                                        atmost&nbsp;{{form.controls.cardnumber.errors.maxlength.requiredLength}}&nbsp;digits long.
                                    </mat-error>  -->
                                    
                                    <mat-error *ngIf="form.controls.cardnumber.hasError('pattern')"> Card number must be
                                        only
                                        in digits. </mat-error>
                                </mat-error>
                            </mat-form-field>
                    
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3" *ngIf="cardnumber4">
                            <mat-form-field> <input matInput type="text" placeholder="15 Digit Card Number"
                                    formControlName="cardnumber4" [textMask]="{mask: cardmask}" required>
                                <mat-error
                                    *ngIf="form.controls.cardnumber4.touched && form.controls.cardnumber4.invalid">
                                    <mat-error *ngIf="form.controls.cardnumber4.errors.required"> Card number cannot be
                                        empty
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cardnumber4.errors.minlength"> Card number must be
                                        atleast{{form.controls.cardnumber4.errors.minlength.requiredLength}}digits long.
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cardnumber4.errors.maxlength"> Card Number must be
                                        at
                                        atmost{{form.controls.cardnumber4.errors.maxlength.requiredLength}}digits long.
                                    </mat-error>
                                    
                                    <mat-error *ngIf="form.controls.cardnumber4.hasError('pattern')"> Card number must
                                        be only
                                        in digits. </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3" *ngIf="cvv">
                            <mat-form-field> <input matInput type="password" maxlength="3" minlength="3" placeholder="CVV"
                                    formControlName="cvv" required>
                                <mat-error *ngIf="form.controls.cvv.touched && form.controls.cvv.invalid">
                                    <mat-error *ngIf="form.controls.cvv.errors.required"> CVV cannot be empty
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cvv.errors.minlength"> CVV must be
                                        atleast&nbsp;{{form.controls.cvv.errors.minlength.requiredLength}}&nbsp;digits long.
                                    </mat-error>
                                    <!-- <mat-error *ngIf="form.controls.cvv.errors.maxlength"> CVV must be at
                                        atmost{{form.controls.cvv.errors.maxlength.requiredLength}}digits long.
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cvv.hasError('pattern')"> CVV must be only in
                                        digits.
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12" *ngIf="cvv4">
                            <mat-form-field> <input matInput type="password" maxlength="4" minlength="4"
                                    placeholder="CVV" formControlName="cvv4"  required>
                                <mat-error *ngIf="form.controls.cvv4.touched && form.controls.cvv4.invalid">
                                    <mat-error *ngIf="form.controls.cvv4.errors.required"> CVV cannot be empty
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.cvv4.errors.minlength"> CVV must be
                                        atleast&nbsp;{{form.controls.cvv4.errors.minlength.requiredLength}}&nbsp;digits long.
                                    </mat-error>
                                    <!-- <mat-error *ngIf="form.controls.cvv4.errors.maxlength"> CVV must be at
                                        atmost{{form.controls.cvv4.errors.maxlength.requiredLength}}digits long.
                                    </mat-error> -->
                                    <mat-error *ngIf="form.controls.cvv4.hasError('pattern')"> CVV must be only in
                                        digits.
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field> <input matInput placeholder="Expiry Date (MM/YY)"
                                    [textMask]="{mask: masks}" type="text" formControlName="expirydate" #exp
                                    (change)="chek(exp.value)" required>
                                <mat-error *ngIf="form.controls.expirydate.touched && form.controls.expirydate.invalid">
                                    <mat-error *ngIf="form.controls.expirydate.errors.required"> Expiry date cannot be
                                        empty
                                    </mat-error>
                                    <mat-error *ngIf="form.controls.expirydate.hasError('pattern')"> Expiry date must be
                                        in
                                        MM/YY format. </mat-error>
                                </mat-error>
                                <span class="card-error" *ngIf="expirydate <= '19'">
                                        Invalid Expiry Date
                                    </span>
                            </mat-form-field>                          
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field>
                                <input matInput placeholder="Zip Code" formControlName="zipCode" type="text" maxlength="5"
                                 (ngModelChange)="zipcodeCheck(zipcode1.value)" #zipcode1 required />
                                <mat-error *ngIf="form.controls.zipCode.hasError('pattern')"> Zip Code must be only in
                                    digits.
                                </mat-error>
                                
                            </mat-form-field>
                            <div *ngIf="show_status"> invalid Zipcode
                                </div>
                            
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field>
                                <input class="text_cap" matInput placeholder="Street Address" formControlName="street" type="text" required/>
                                <!-- <mat-error *ngIf="form.controls.street.hasError('required')" > Street Address is Required
                                    </mat-error> -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field>
                                <input class="text_cap" matInput placeholder="City" formControlName="city" type="text"readonly />
                               <!-- Abdullah -->
                                <!-- <mat-error *ngIf="form.controls.city.hasError('required')" > City is Required
                                </mat-error> -->
                            <!-- Abdullah -->
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field>
                                <input class="text_cap" matInput placeholder="State" formControlName="state" type="text" readonly/>
                            
                            <!-- Abdullah -->
                            <!-- <mat-error *ngIf="form.controls.state.hasError('required')" > State is Required
                            </mat-error> -->
                        <!-- Abdullah -->

                            </mat-form-field>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xs-12 mb-3">
                            <mat-form-field>
                                <input class="text_cap" matInput placeholder="Country" formControlName="country" type="text" readonly />
                            <!-- Abdullah -->
                            <!-- <mat-error *ngIf="form.controls.country.hasError('required')" > Country is Required
                            </mat-error> -->
                        <!-- Abdullah -->
                           
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-slide-toggle [checked]="false" formControlName="check">Set as Default Payment Method
                    </mat-slide-toggle> <button class="btn-style btn  margin-top-10 width100" (click)="add(f)">Add</button>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table credit-card-info">
            <tr class="payment-heading">
                <th>
                    <h3>Payment Method Nick name</h3>
                </th>
                <th>
                    <h3>Card Number</h3>
                </th>
                <th>
                    <h3>Expiry Date</h3>
                </th>
                <th>
                    <h3>Default Credit Card</h3>
                </th>
                <th>
                    <h3>Edit</h3>
                </th>
                <th>
                    <h3>Delete</h3>
                </th>
            </tr>
            <tr class="payment-details" *ngFor="let card of res">
                <td>
                    <h3>{{card?.nickname}}</h3>
                </td>
                <td>
                    <h3>{{card.cardNumber}}</h3>
                </td>
                <td>
                    <h3>{{card.expiryDate | slice:0:2}}/20{{card.expiryDate | slice:2:4}}</h3>
                </td>
                <td *ngIf="!card.default; then uncheck else check"></td>
                <ng-template #check>
                    <td>
                        <h3> <i class="fas fa-check-circle"></i> </h3>
                    </td>
                </ng-template>
                <ng-template #uncheck>
                    <td>
                        <h3> <i class="fas fa-times-circle"></i> </h3>
                    </td>
                </ng-template>
                <td>
                    <h3 class="edit-payment"> <a (click)="Eachcard(card.id)" data-target="#edit-card-modal"
                            data-toggle="modal"> <i class="fas fa-edit"></i> </a> </h3>
                </td>
                <td>
                    <h3 class="edit-payment"> <a (click)="deleteSingleCard(card.id)"> <i class="fas fa-trash-alt"></i>
                        </a> </h3>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="modal fade modal-form" id="edit-card-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Edit your Credit Card Information</h1>
                </div>
            </div>
            <div class="modal-body">
                <form class="user-add-ingo-form" *ngIf="card"  [formGroup]="editform" >
                        <!-- <input matInput type="text" placeholder="Card Nick Name" -->
                    <mat-form-field> <input matInput type="text" placeholder="Payment Method Nickname"
                            [(ngModel)]="card.nickname" name="nickname" formControlName="nickname"> </mat-form-field>
                            <mat-form-field> <input matInput type="text" placeholder="Street Address"
                                [(ngModel)]="card.street_adrress" name="street_address"
                                formControlName="street" readonly>
                        </mat-form-field>
                        <mat-form-field> <input matInput type="text" placeholder="Expiry date"
                             name="expirydate"
                            formControlName="expirydate" readonly>{{card.expiryDate | slice:0:2}}/20{{card.expiryDate | slice:2:4}}
                    </mat-form-field>
                            <mat-form-field> <input matInput type="text" placeholder="CVV"
                            [(ngModel)]="card.ccv" name="ccv"
                            formControlName="ccv" readonly>
                    </mat-form-field>
                    <mat-form-field> <input matInput type="text" placeholder="Zip Code" [(ngModel)]="card.zip_code" maxlength="5"
                        name="zip_code" formControlName="zipCode" (ngModelChange)="zipcodeCheckedit(zipcode1.value)" #zipcode1 readonly > </mat-form-field>
                    <mat-form-field> <input matInput type="text" placeholder="State" [(ngModel)]="card.state"
                            name="state" formControlName="state" readonly> </mat-form-field>
                    <mat-form-field> <input matInput type="text" placeholder="City" [(ngModel)]="card.city" name="city"
                            formControlName="city" readonly>
                    </mat-form-field>
                    <mat-form-field> <input matInput type="text" placeholder="Country" [(ngModel)]="card.country"
                            name="country" formControlName="country" readonly> </mat-form-field>
                    <mat-slide-toggle  [(ngModel)]="card.default" name="default"
                        formControlName="defaultcheck">Set as Default Payment Method</mat-slide-toggle>
                         <a class="btn-style btn  width100 margin-top-10"
                        (click)="updateSingleCard(card.id)" data-dismiss="modal">Update</a>
                </form>
            </div>
        </div>
    </div>
</div>