.checkout{margin:-24px auto 0;position:relative;padding:130px 0 0}.credit-card-box{perspective:1000;width:400px;height:280px;position:absolute;top:-112px;left:50%;transform:translateX(-50%)}.credit-card-box.hover .flip,.credit-card-box:hover .flip{transform:rotateY(180deg)}.credit-card-box .chip::before{content:'';position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;border:4px solid #c19026;width:80%;height:70%;border-radius:5px}.credit-card-box .number{position:absolute;margin:0 auto;top:90px;left:19px;font-size:38px}.credit-card-box .ccv{height:36px;background:#fff;width:91%;border-radius:5px;top:110px;left:0;right:0;position:absolute;margin:0 auto;color:#000;text-align:right;padding:10px}.credit-card-box .ccv label{margin:-25px 0 4px;color:#fff}.package-detail h2{font-size:25px;background-color:#c51414;color:#fff;padding:15px 5px}.package-detail table{font-size:20px;font-weight:900}.select{position:relative}.select::after{content:'';border-top:8px solid #222;border-left:4px solid transparent;border-right:4px solid transparent;position:absolute;z-index:2;top:14px;right:10px;pointer-events:none}.select select{appearance:none;position:absolute;padding:0;border:none;width:100%;outline:0!important;top:6px;left:6px;background:0 0}toggle.btn-success:hover{color:#fff}.btn.btn-success.dropdown-toggle,.btn.btn-success.dropdown-toggle:hover,btn.btn-success.dropdown-toggle:focus{background-color:#000;color:#fff;padding:20px 15px;position:relative;display:block;margin:20px 0;border-radius:5px}.btn-success{padding:10px;font-weight:900;font-size:30px}.btn.btn-success:focus,.btn.btn-success:hover{background-color:#000!important}.mydropdown select option{background-color:#fff!important;color:#000!important}.mydropdown select option:hover{box-shadow:0 0 10px 100px #c31010 inset!important}.mydropdown{min-width:325px}.credit-card-box .back::before,.credit-card-box .front::before{content:'';position:absolute;width:100%;height:100%;top:0;left:0;background:url(http://cdn.flaticon.com/svg/44/44386.svg) center no-repeat;background-size:cover;opacity:.05}.credit-card-box .flip{transition:.6s;transform-style:preserve-3d;position:relative}.credit-card-box .front{z-index:2;transform:rotateY(0)}.credit-card-box .chip{position:absolute;width:60px;height:45px;top:20px;left:20px;background:linear-gradient(135deg,#fcda4f 0,#fcda4f 44%,#fcda4f 100%);border-radius:8px}.credit-card-box .logo svg{width:100%;height:auto;fill:#fff}svg:not(:root){overflow:hidden}.credit-card-box .card-holder.sh{top:80px;right:19px;left:auto}.credit-card-box label{font-size:12px;letter-spacing:1px;text-shadow:none;text-transform:capitalize;font-weight:600;opacity:1;display:block;margin-bottom:3px}.credit-card-box .card-expiration-date{text-align:right;right:20px}.credit-card-box .card-expiration-date,.credit-card-box .card-holder{position:absolute;margin:0 auto;top:154px;left:19px;font-size:22px;text-transform:capitalize}.credit-card-box .back{transform:rotateY(180deg)}.credit-card-box .back,.credit-card-box .front{width:400px;height:220px;border-radius:15px;-webkit-backface-visibility:hidden;backface-visibility:hidden;background:linear-gradient(135deg,#dfaa3a,#c49021);position:absolute;color:#fff;font-family:Inconsolata;top:0;left:0;text-shadow:0 1px 1px rgba(0,0,0,.3);box-shadow:0 1px 6px rgba(0,0,0,.3)}.credit-card-box .strip{background:linear-gradient(135deg,#404040,#1a1919);position:absolute;width:100%;height:50px;top:30px;left:0}.credit-card-box .back .logo{top:185px}.credit-card-box .logo{position:absolute;top:9px;right:20px;width:60px}.table.credit-card-info {
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 16px -3px #000;
    box-shadow: 0 0 16px -3px #000
}
.payment-heading {
    background-color: #333;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    padding: 10px;
    color: #fff
}

.payment-heading h3 {
    text-align: center;
    font-weight: 600;
    margin: 0;
    font-size: 21px
}

.payment-details {
    border-bottom: 1px solid #000
}

.payment-details td {
    border: none
}

.payment-details h3 {
    text-align: center;
    font-size: 22px;
    color: #000;
    margin: 0
}

.payment-details h3 a {
    display: inline-block;
    font-size: 12px;
    color: #fff !important;
    padding: 6px;
    background: #000;
    border-radius: 25px
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-30 {
    margin-top: 30px
}
.margin-top117 {
    margin-top: 117px
}