<div class="container" *ngIf="bidnotes?.notes">
    <h1 class="mainbanner bg-Bid-Notes">Buy & Bid on Notes</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of bidnotes?.notes; let i=index">
            <div class="product-list__item">
                <!-- Image start -->
                <figure class="product-list__img">
                    <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt=""> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" (click)="bididget(data.id)"> <i class="far fa-heart"></i> </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- Note and author start -->
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/notes/{{data.id}}"
                            title="{{data.name}}">{{data.name}}</a> </div>
                    <div class="product-list__title tutor-subject"> <span title="User Name:{{data.userid}}"
                            routerLink="/notes/{{data.id}}">{{data.userid}}</span> </div>
                    <!-- Note and author end -->
                    <!-- Rating and price start -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/notes/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- Rating and price end -->
                    <!-- Heart , cart and offer now start -->
                    <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- Heart Start -->
                            <i class="far fa-heart" *ngIf="!data.wishlist==true" (click)="bididget(data?.id)"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Delete From watch-list"
                                (click)="deleteFWL(data)"></i>
                            <!-- Heart end -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- Cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased"
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- Cart, Heart and offer now end -->
                    <!-- Buy now and bid now start -->
                    <div class="product-list__item-info-1"> <a class="btn-style"
                            (click)="checkmainpage(data?.id, nullvalue , nullvalue, nullvalue)"
                            *ngIf="data.sell_status==true && !data.Purchased"> Buy Now at
                            {{data.price | currency:'USD'}}</a>

                        <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                            (click)="bidnotesid(data?.id)" data-dismiss="modal"
                            *ngIf="data.bid_status==true && !data.Purchased"> Bid Now at
                            {{data.bid_price | currency:'USD'}}</a>
                        <a class="already-bought" *ngIf="data.Purchased == true" data-target="#notesbid">
                            <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Note Already Bought</a>
                    </div>
                </div>
                <!-- Buy now and bid now end -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a (click)="setPagenotes(1)"
                        class="page-link">First</a> </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                        (click)="setPagenotes(pager.currentPage - 1)" class="page-link">Previous</a> </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}"> <a
                        (click)="setPagenotes(page)" class="page-link">{{page}}</a> </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                        (click)="setPagenotes(pager.currentPage + 1)" class="page-link" type="Next">Next</a> </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                        (click)="setPagenotes(pager.totalPages)" class="page-link" type="Last">Last</a> </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="trendingnotes?.notes">
    <h1 class="mainbanner bg-Bid-Notes">Notes Trending Now</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of trendingnotes?.notes; let i=index">
            <div class="product-list__item">
                <!-- Image start -->
                <figure class="product-list__img">
                    <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt=""> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" (click)="bididget(data.id)"> <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- Note and author name start -->
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/notes/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a> </div>
                    <div class="product-list__title tutor-subject"> <span title="User Name:{{data.userid | titlecase}}"
                            routerLink="/notes/{{data.id}}">{{data.userid | titlecase}}</span> </div>
                    <!-- Note and author name end -->
                    <!-- Rating and price start -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/notes/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- Rating and price end -->
                    <!-- Heart, cart and offer now start -->
                    <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- Heart Start -->
                            <i class="far fa-heart" *ngIf="!data.wishlist==true" title="Add to watchlist"
                                (click)="bididget(data?.id)"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Delete From watch-list"
                                (click)="deleteFWL(data)"></i>
                            <!-- Heart end -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- Cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased"
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- Heart, Cart and offer now end -->
                    <!-- Buy now and bid now start -->
                    <div class="product-list__item-info-1"> <a class="btn-style"
                            (click)="checkmainpage(data?.id, nullvalue , nullvalue, nullvalue)"
                            *ngIf="data.sell_status==true && !data.Purchased"> Buy Now at
                            {{data.price | currency:'USD'}}</a> <a type="button" class="btn-style" data-toggle="modal"
                            data-target="#notesbidnow" (click)="bidnotesid(data?.id)" data-dismiss="modal"
                            *ngIf="data.bid_status==true && !data.Purchased"> Bid Now at
                            {{data.bid_price | currency:'USD'}}</a>
                        <a class="already-bought" *ngIf="data.Purchased == true" data-target="#notesbid">
                            <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Note Already Bought</a>
                    </div>
                </div>
                <!-- Buy now and bid now end -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===1}"> <a class="page-link"
                        (click)="setTrending(1)" aria-label="Previous"> Previous </a> </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}"
                    (click)="setTrending(page)"> <a class="page-link">{{page}}</a> </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}"> <a class="page-link"
                        (click)="setTrending(pager.totalPages)" aria-label="Next"> Next </a> </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="toprated?.notes">
    <h1 class="mainbanner bg-Bid-Notes">Top Rated Notes </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of toprated?.notes; let i=index">
            <div class="product-list__item">
                <!-- Image Start -->
                <figure class="product-list__img">
                    <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt=""> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" (click)="bididget(data.id)"> <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- note and author name start -->
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/notes/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a> </div>
                    <div class="product-list__title tutor-subject"> <span title="User Name:{{data.userid | titlecase}}"
                            routerLink="/notes/{{data.id}}">{{data.userid | titlecase}}</span> </div>
                    <!-- note and author name end -->
                    <!-- rating and price start -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/notes/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- rating and price end -->
                    <!-- Heart , cart and offer now start -->
                    <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- Heart Start -->
                            <i class="far fa-heart" *ngIf="!data.wishlist==true" title="Add to watchlist"
                                (click)="bididget(data?.id)"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Delete From watch-list"
                                (click)="deleteFWL(data)"></i>
                            <!-- Heart end -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- Cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased"
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- cart, heart and offer now end -->
                    <!-- buy now and bid now start -->
                    <div class="product-list__item-info-1"> <a class="btn-style"
                            (click)="checkmainpage(data?.id, nullvalue , nullvalue, nullvalue)"
                            *ngIf="data.sell_status==true && !data.Purchased"> Buy Now at
                            {{data.price | currency:'USD'}}</a> <a type="button" class="btn-style" data-toggle="modal"
                            data-target="#notesbidnow" (click)="bidnotesid(data?.id)" data-dismiss="modal"
                            *ngIf="data.bid_status==true && !data.Purchased"> Bid Now at
                            {{data.bid_price | currency:'USD'}}</a>
                        <a class="already-bought" *ngIf="data.Purchased == true" data-target="#notesbid">
                            <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Note Already
                            Bought</a>
                    </div>
                </div>
                <!-- buy now and bid now end -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===1}"> <a class="page-link"
                        (click)="setToprated(1)" aria-label="Previous"> Previous </a> </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}"
                    (click)="setToprated(page)"> <a class="page-link">{{page}}</a> </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}"> <a class="page-link"
                        (click)="setToprated(pager.totalPages)" aria-label="Next"> Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="recent">
    <h1 class="mainbanner bg-Bid-Notes">Recently Visited Notes </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of recent?.notes; let i=index">
            <div class="product-list__item">
                <!-- Image start -->
                <figure class="product-list__img">
                    <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt="">
                    </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" (click)="bididget(data.id)"> <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- note and author name start -->
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/notes/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a> </div>
                    <div class="product-list__title tutor-subject"> <span title="User Name:{{data.userid | titlecase}}"
                            routerLink="/notes/{{data.id}}">{{data.userid | titlecase}}</span> </div>
                    <!-- note and author name end -->
                    <!-- raitng and price start -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/notes/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- rating and price end -->
                    <!-- Heart , cart and offer now start -->
                    <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- Heart Start -->
                            <i class="far fa-heart" *ngIf="!data.wishlist==true" title="Add to watchlist"
                                (click)="bididget(data?.id)"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Delete From watch-list"
                                (click)="deleteFWL(data)"></i>
                            <!-- Heart end -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- Cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased"
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- cart, heart and offer now end -->
                    <!-- buy now and bid now start -->
                    <div class="product-list__item-info-1"> <a class="btn-style"
                            (click)="checkmainpage(data?.id, nullvalue , nullvalue, nullvalue)"
                            *ngIf="data.sell_status==true && !data.Purchased"> Buy Now at {{data.price | currency:'USD'}}</a> <a type="button"
                            class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                            (click)="bidnotesid(data?.id)" data-dismiss="modal"
                            *ngIf="data.bid_status==true && !data.Purchased"> Bid Now at {{data.bid_price | currency:'USD'}}</a>
                    <a class="already-bought" *ngIf="data.Purchased == true" data-target="#notesbid">
                            <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Note Already
                        Bought</a>
                    </div>
                </div>
                <!-- buy now and bid now end -->
            </div>
        </div>
    </div>
  <!--- bid on notes-->
  <div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content margin-top-175">
        <div class="modal-header">
          <div class="form-1-header">
            <h1>Bid on Note</h1>
          </div>
        </div>
        <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'notes', id:bidonnotes}"
                                    class="view-bid">view bid history </a>
          <a [routerLink]="['/bid-history']" [queryParams]="{cat:'notes', id:bidonnotes}"> <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{notebid?.endtime}}"></countdown>
            <p>Higher bid amount:{{notes?.bidamount}}</p>
          </a>
          <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form">
            <label>Place Your own bid:</label>
            <mat-form-field>
              <input matInput type="text" maxlength="4" placeholder="Enter bid amount (US $)*" [(ngModel)]="model.bidamount"
                     #bidamount="ngModel" name="bidamount">
            </mat-form-field> <a class="user-add-ingo-form-btn" (click)="biding()" data-dismiss="modal">Bid Now
          </a>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
