<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 updated-course-tab">
            <ul class="nav nav-tabs ">
                <li class="nav-item"> <a href="#notes" data-toggle="tab" class="nav-link active" title="Notes"> <i
                            class="fa fa-edit"></i>Notes in my cart </a> </li>
                <li class="nav-item" > <a href="#courses" data-toggle="tab"
                        class="nav-link" title="Courses">
                        <i class="fa fa-th-large"></i>Courses in my cart </a>
                </li>
                <li class="nav-item" > <a href="#flashcards" data-toggle="tab"
                        class="nav-link" title="Flashcard"> <i class="fa fa-book-open"></i>Flash Cards in my cart  </a> </li>
                <li class="nav-item" > <a href="#book" data-toggle="tab"
                        class="nav-link" title="Books"> <i class="fa fa-book"></i>Books in my cart </a> </li>
            </ul>
        </div>
        <div class="col-sm-9 offset-3 ">
            <div class="tab-content">
                <div class="tab-pane active" id="notes">
                    <h3 class="mainbanner">Notes in my cart </h3>
                    <div class="row" >
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of record.notes; let i=index">
                            <div class="product-list__item" *ngIf="record?.notes !=null">
                                <figure class="product-list__img"> <a routerLink=""> <img
                                            src="{{Imageurl}}{{data?.notes_thumbnail}}" data-filter="*" alt="Notes">
                                    </a>
                          
                                </figure>
                                <div class="product-list__content">
                                    <div class="product-list__category">price{{data?.notes?.name}}<br></div>
                                    
                                  
                                    <p class="product-list__price">${{data?.notes?.price}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="courses">
                    <h3 class="mainbanner">Courses in my cart </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let cartitems of record">
                            <div class="product-list__item">
                                <figure class="product-list__img"> <a routerLink="javascript:void(0)"> <img
                                            src="{{Imageurl}}{{cartitems?.course_thumbnail}}" data-filter="*" alt="Course">
                                    </a> 
                                    
                                    </figure>
                                
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="flashcards">
                        <h3 class="mainbanner">Flash Cards in my cart </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of card, let i=index">
                            <div class="product-list__item">
                                <figure class="product-list__img"> <a routerLink="/fcdetail/{{item?.id}}"> <img
                                            src="{{Imageurl}}{{item?.flashcard_image}}" alt="FlashCard"> </a> <a
                                        class="product-list__edit-btn" value="Delete" data-toggle="modal"
                                        data-target="#edit-card-modal" (click)="clickcardsedit(item.id)"> <i
                                            class="fas fa-edit"></i> </a> <a class="product-list__delete-btn"
                                        value="Delete" data-toggle="modal" data-target="#delete-card-modal"
                                        > <i class="fas fa-trash-alt"></i> </a>
                                </figure>
                                <div class="product-list__content">
                                    <div class="product-list__category"> {{item?.name}}<br></div>
                                    
                    
                                    <p class="product-list__price">Price:{{item.price | currency:'USD'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="book">
                        <h3 class="mainbanner">Books in my cart </h3>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of record; let i=index">
                            <div class="product-list__item" *ngIf="">
                                <figure class="product-list__img"> <a routerLink="/detail/{{item?.id}}"> <img
                                            src="{{Imageurl}}{{item?.book_image}}" alt="Book"> </a> <a
                                        class="product-list__edit-btn" value="Delete" data-toggle="modal"
                                        data-target="#edit-book-modal" (click)="editbooks(item?.id)"> <i
                                            class="fas fa-edit"></i> </a> <a class="product-list__delete-btn"
                                        value="Delete" data-toggle="modal" data-target="#delete-book-modal"
                                        (click)="btndelbook(item?.id)"> <i class="fas fa-trash-alt"></i> </a>
                                </figure>
                                <div class="product-list__content">
                                    <div class="product-list__category">{{item?.name}}<br></div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


