<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 updated-course-tab">
            <ul class="nav nav-tabs ">
                <li class="nav-item"> <a href="#notes" data-toggle="tab" class="nav-link active" title="Notes"> <i
                            class="fa fa-edit"></i>Notes in my cart </a> </li>
                <li class="nav-item" > <a href="#courses" data-toggle="tab"
                        class="nav-link" title="Courses">
                        <i class="fa fa-th-large"></i>Courses in my cart </a>
                </li>
                <li class="nav-item" > <a href="#flashcards" data-toggle="tab"
                        class="nav-link" title="Flashcard"> <i class="fa fa-book-open"></i>Flash Cards in my cart  </a> </li>
                <li class="nav-item" > <a href="#book" data-toggle="tab"
                        class="nav-link" title="Books"> <i class="fa fa-book"></i>Books in my cart </a> </li>
            </ul>
        </div>
        <div class="col-sm-9  ">
            <div class="tab-content">
                <div class="tab-pane active" id="notes">
                    <h3 class="mainbanner">Notes in my cart </h3>
                   
                        <div class="dash-divs"  *ngFor="let data of record; let i=index">
                              
                                  <p *ngIf="data.notes == 'null'">No notes in cart yet </p>
                            <div class="product-list__item" *ngIf="data?.notes !=null">
                
                                <figure class="product-list__img"> <a routerLink="/notes/{{data?.notes.id}}"> <img
                                            src="{{Imageurl}}{{data?.notes.notes_thumbnail}}" data-filter="*" alt="Notes">
                                    </a>
                          
                                </figure>
                                <div class="product-list__content">
                                    <a routerLink="/notes/{{data?.notes.id}}">
                                    <div class="product-list__category">{{data?.notes?.name}}<br></div>
                                    <p class="product-list__price">Price {{data?.notes?.price  | currency:'USD'}}</p>
                                    <p class="product-list__price">Discount: {{data?.notes?.price  | currency:'USD'}}</p>
                                    </a>
                                </div>
                                <!-- <h1 *ngIf="data?.notes ==null">No Notes in my cart yet</h1> -->
                            </div>
                        </div>
                   
                </div>
                <div class="tab-pane" id="courses">
                    <h3 class="mainbanner">Courses in my cart </h3>
                    
                       
                        <div class="dash-divs" *ngFor="let data of record; let i = index">
                            <div class="product-list__item" *ngIf="data?.course !=null">
                                <figure class="product-list__img"> <a routerLink="/eachcourse/{{data?.course.id}}"> <img
                                            src="{{Imageurl}}{{data?.course.course_thumbnail}}" data-filter="*" alt="Course">
                                    </a> 
                                    
                                    </figure>
                                    <a class="product-list__category" routerLink="/eachcourse/{{data?.course.id}}">{{data?.course.name}}<br></a>
                                    <div class="price-discount">
                                            <a  routerLink="/eachcourse/{{data?.course.id}}">Price {{data?.course.price  | currency:'USD'}}</a>

                                            <a  routerLink="/eachcourse/{{data?.course.id}}">Discount: {{data?.course.discount  | currency:'USD'}}</a>
                                    </div>
                                   
                        </div>
                       
                    
                    <!-- <h1 *ngIf="data?.course ==null">No Course in my cart yet</h1> -->
                </div>

            </div>
            <div class="tab-pane" id="flashcards">
                    <h3 class="mainbanner">Flash Cards in my cart </h3>
                
                    <div class="dash-divs" *ngFor="let data of record; let i = index">
                        <div class="product-list__item" *ngIf="data?.flashcard !=null">
                            <figure class="product-list__img"> <a routerLink="/fcdetail/{{data?.flashcard.id}}"> <img
                                        src="{{Imageurl}}{{data?.flashcard.flashcard_image}}" alt="FlashCard"> </a> 
                            </figure>
                            <div class="product-list__content">
                              <a routerLink="/fcdetail/{{data?.flashcard.id}}">  <div class="product-list__category"> {{data?.flashcard.name}}<br></div>
                                <p class="product-list__price">Price{{data?.flashcard.price | currency:'USD'}}</p>
                                <p class="product-list__price">Discount:{{data?.flashcard.discount | currency:'USD'}}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <h1 *ngIf="data?.flashcard ==null">No Flash Card in my cart yet</h1> -->
        
            </div>
            <div class="tab-pane" id="book">
                    <h3 class="mainbanner">Books in my cart </h3>
                
                    <div class="dash-divs" *ngFor="let item of record; let i=index">
                        <div class="product-list__item" *ngIf="item.book !=null">
                            <figure class="product-list__img"> <a routerLink="/detail/{{item?.book.id}}"> <img
                                        src="{{Imageurl}}{{item?.book.book_image}}" alt="Book"> </a> <a
                                    class="product-list__edit-btn" value="Delete" data-toggle="modal"
                                    data-target="#edit-book-modal" (click)="editbooks(item?.id)"> <i
                                        class="fas fa-edit"></i> </a> <a class="product-list__delete-btn"
                                    value="Delete" data-toggle="modal" data-target="#delete-book-modal"
                                    (click)="btndelbook(item?.id)"> <i class="fas fa-trash-alt"></i> </a>
                            </figure>
                            <div class="product-list__content"><a routerLink="/detail/{{item?.book.id}}">
                                <div class="product-list__category">{{item?.book.name}}<br></div>
                               <p class="product-list__price" >Price {{item?.book.price | currency:'USD'}}</p>
                               <p class="product-list__price">Discount:{{item?.book.discount | currency:'USD'}}</p>
                               </a>
                            </div>
                        </div>
                    </div>
                    <!-- <h1 *ngIf="item?.book ==null">No book in my cart yet</h1> -->
                
            </div>
        </div>
    </div>
</div>


