.nav-link{font-size:initial!important}.product-list__content{min-height:auto}.product-list__delete-btn,.product-list__edit-btn{color:#fff!important;background:#333;position:absolute;top:10px;display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;padding:6px;border-radius:5px;-webkit-transition:.5s all;-o-transition:.5s all;transition:.5s all}.product-list__edit-btn{right:40px;font-size:16px;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;opacity:0}.product-list__img:hover .product-list__edit-btn{opacity:1}.product-list__delete-btn{right:10px;font-size:16px;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:center;-ms-flex-align:center;align-items:center;opacity:0}.product-list__img:hover .product-list__delete-btn{opacity:1}.modal-title-cust{color:#c00;font-size:28px}.margin-left-10{margin-left:10px}.already-bought{display:inline;margin-top:3px}.row{margin-left:0;margin-right:0}
.toggle-margin{
  margin-bottom: 10px;
}

// ////////////////////////

.dashboard-layout{
  display: flex;
  min-height: 425px;
}
.side-bar{
  width: 280px;
  vertical-align: top;
  background: #fff;
  border-right: 1px solid #ebebeb;
  display: table-cell;
  margin-top: 6px;
  min-height: 425px;
}
.right-side{
  width: 100%;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link{
  border: none;
}
.nav-link:hover{
  color: #555;
  background-color: #f5f5f5;
}
.side-tabs.nav-tabs li{
  padding: 0;
}

.open-btn{
  font-size:30px;
  cursor:pointer;
  display: none;
}
.close-btn{
  display: none;
}
.sidebar-heading{    
  text-align: center;
    margin: 27px 0 10px;
    font-size: 20px;
}
@media only screen and (min-width:991px) {
  .side-bar{
      display: block;
  }
}
@media only screen and (max-width:992px) {
  .open-btn{
      display: block;
  }
  .close-btn{
      display: block;
  }
  .side-bar{
      display: none;
  }
}