<div class="container user-dashboard">
    <div class="row my-3">
        <div class="col-md-3 sidebar">
            <nav>
                <form class="user-profile-form">
                    <div class="profile-picture" *ngIf="profilePhoto">
                        <img src="{{profilePhoto}}">
                    </div>
                    <div class="profile-picture" *ngIf="!profilePhoto">
                        <img src="../assets/img/default-user-icon-profile.png">
                    </div>
                    <h4 class="user-name text_cap">{{firstname}} {{lastname}}</h4>
                </form> <a class="user-link" routerLink="/uploadnotes" routerLinkActive="active1"><i
                        class="fa fa-file-alt"></i>Add Notes</a> <a class="user-link" routerLink="/upload"
                    routerLinkActive="active1" *ngIf="check_login() && checkrole()"><i class="fa fa-th-large"></i>Add
                    Courses</a> <a class="user-link" routerLink="/uploadcard" routerLinkActive="active1"
                    data-toggle="collapse" data-parent="#MainMenu" *ngIf="check_login() && checkrole()"><i
                        class="fa fa-book-open"></i>Add Flash Cards</a> <a class="user-link display-none"
                    routerLink="/uploadcarddetail" routerLinkActive="active1" *ngIf="check_login() && checkrole()"><i
                        class="fa fa-book-open"></i>FlashCard Detail</a> <a class="user-link" routerLink="/uploadbook"
                    routerLinkActive="active1" *ngIf="check_login() && checkrole()"><i class="fa fa-book"></i>Add
                    Books</a>
            </nav>
        </div>
        <div class="col-md-8 user-profile">
            <h1 class="user-heading">List Book for Sale</h1>
            <form method="post" (ngSubmit)="onSubmit(f)" #f="ngForm" class="user-add-ingo-form"
                enctype="multipart/form-data">
                <mat-form-field class="margin-top-20"> <input matInput type="text" class="Input-capitalize"
                        placeholder="Title" [(ngModel)]="model.name" name="name" #name="ngModel" required autofocus />
                    <mat-error *ngIf="nameFormControl.hasError('required')"> Title is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('pattern')"> Please enter a valid Title </mat-error>
                </mat-form-field>
                <mat-form-field> <input matInput type="text" class="Input-capitalize" placeholder="Author"
                        [(ngModel)]="model.author_name" name="author_name" #author_name="ngModel" required />
                    <mat-error *ngIf="authernameFormControl.hasError('required')"> Author is <strong>Required</strong>
                    </mat-error>
                    <mat-error *ngIf="authernameFormControl.hasError('pattern')"> Please enter a valid Author
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Select Category" type="number" id="categories"
                        [(ngModel)]="model.categories" name="categories">
                        <mat-option *ngFor="let data of c_name" [value]="data.id" (click)="subcategorys(data?.id)">
                            {{data.c_name}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field id="font" *ngIf="result">
                    <mat-select placeholder="Select Sub-Category" type="number" [(ngModel)]="model.subcategories"
                        name="subcategories" id="subcategories">
                        <mat-option *ngFor="let data of result" [value]="data.id" (click)="nestedcategorys(data?.id)">
                            {{data.sub_category_name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field id="fonts" *ngIf="nestedresult">
                    <mat-select placeholder="Select Nested Sub-Category" type="number"
                        [(ngModel)]="model.nestedcategory" name="nestedcategory" id="nestedcategory">
                        <mat-option *ngFor="let data of nestedresult" [value]="data.id">{{data.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field> <textarea matInput type="text" placeholder="Description"
                        [(ngModel)]="model.book_detail" name="book_detail" #book_detail="ngModel"></textarea>
                </mat-form-field>
                <mat-form-field> <input matInput type="text" placeholder="Edition" [(ngModel)]="model.book_edition"
                        name="book_edition" #book_edition="ngModel" /> </mat-form-field>
                <mat-form-field> <input matInput type="text" placeholder="ISBN" [(ngModel)]="model.ISBN" name="ISBN"
                        #ISBN="ngModel" required autofocus />
                    <mat-error *ngIf="isbnFormControl.hasError('required')"> ISBN is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="isbnFormControl.hasError('pattern')"> Please enter a valid book ISBN </mat-error>
                </mat-form-field>
                <mat-slide-toggle id="showhide6" class="margin-bottom-10" [(ngModel)]="accept_offer"
                    name="accept_offer">Accept
                    Offers</mat-slide-toggle>
                <div id="showdiv6" style="display: none;">
                    <mat-form-field> <input matInput type="text" placeholder="Automatically accept offers of at least $"
                            [(ngModel)]="model.min_amount" name="min_amount"> <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field> <input matInput type="text" placeholder="Automatically decline offers lower then $"
                            [(ngModel)]="model.max_amount" name="max_amount"> <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                </div>
                <mat-slide-toggle id="showhide" [checked]="true" [(ngModel)]="sell_status"
                    [ngModelOptions]="{standalone: true}">List
                    for Sale</mat-slide-toggle>
                <div id="showdiv">
                    <mat-form-field class="margin-top-10"> <input matInput type="text" placeholder="Buy It Now Price"
                            id="actual_price" [(ngModel)]="model.price" name="price"> <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field class="material-select margin-top-10">
                        <mat-select placeholder="Buy It Now Listing Duration" [(ngModel)]="sell_days" name="sell_days">
                            <mat-option *ngFor="let range of ranges" [value]="range.viewValue">{{range.viewValue}} Days
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-slide-toggle id="showhide2" [checked]="true" [(ngModel)]="bid_status" name="bid_status">
                    <span *ngIf="sell_status == true">Also List for Auction </span>
                    <span *ngIf="sell_status == false"> List for Auction </span></mat-slide-toggle>
                <div id="showdiv2">
                    <mat-form-field class="margin-top-10"> <input matInput type="text" placeholder="Starting Bid Price"
                            [(ngModel)]="model.initial_amount" name="initial_amount"> <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="Listing Duration" [(ngModel)]="end_time" name="end_time">
                            <mat-option *ngFor="let range of range" [value]="range.viewValue">{{range.viewValue}} Days
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-checkbox id="showhide3" [(ngModel)]="model.isreserved" name="isreserved">Reserve Auction
                </mat-checkbox>
                <div id="showdiv3">
                    <mat-form-field class="margin-top-10"> <input matInput type="text" placeholder="Reserve Price"
                            [(ngModel)]="model.reservedprice" name="reservedprice"> <span matPrefix>$&nbsp;</span>
                    </mat-form-field>
                </div>
                <mat-slide-toggle id="showhide4">Start Auction Later</mat-slide-toggle>
                <div id="showdiv4">
                    <mat-form-field class="margin-top-10"> <input matInput [matDatepicker]="picker"
                            placeholder="Date&Time" [(ngModel)]="model.start_time" name="start_time"> <span
                            placeholder="MM/DD/YYYY HH:MM AM/PM"></span>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-hint>MM/DD/YYYY HH:MM AM</mat-hint>
                    </mat-form-field>
                </div>

                <div class="img-userprofile s_uploaded_img" *ngIf="ImgSrc">
                    <img accept=".jpg, .jpeg, .png" src="{{ImgSrc}}" alt="" allowmultiple="false" />
                    <img *ngIf="imagePreview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
                </div>
                <span class="btn-file margin-top-10">Upload Book Image <input (change)="onChange($event)" #image
                        type="file" accept="image/gif, image/jpeg, image/png" required> </span> <span
                    class="btn-file margin-top-10" style="margin-left: 3px">Upload File <input
                        (change)="onChange2($event)" #book_file type="file">
                </span> <a class="btn-style margin-top-10 width100" (click)="onSubmit(f)">Submit</a>
            </form>
        </div>
    </div>
</div>