<div class="container">
  <h1 class="mainbanner bg-Bid-Notes">Sub Categories in {{name}}</h1>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of result; let i=index">
          <div class="product-list__item">
              <figure class="product-list__img"> <a routerLink="/nestedcateroy/{{data?.id}}" (click)="onsubmit(data?.sub_category_name)" > <img
                          src="{{Imageurl}}{{data?.icon}}" alt="Note"> </a>
                  <div class="wishlist-overlay"> <a class="product-list__wishlist" href="javascript:void(0)"> <i
                              class="far fa-heart"></i> </a> </div>
              </figure>
              <div class="product-list__content">
                  <div class="product-list__category"> <a 
                          routerLink="/nestedcateroy/{{data?.id}}" (click)="onsubmit(data?.sub_category_name)" title="{{data.sub_category_name | titlecase}}">{{data.sub_category_name
                          | titlecase}}</a> </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="container" *ngIf="eachcourse?.length != '0' ">
  <h1  class="mainbanner bg-Bid-Notes">Course Sub Categories in {{name}}</h1>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of eachcourse; let i=index">
          <div class="product-list__item">
              <figure class="product-list__img">
                  <a routerLink="/eachcourse/{{data?.id}}" (click)="sliderClick(data.name)">
                      <img src="{{Imageurl}}{{data?.course_thumbnail}}" alt="Notes"> </a>
                  <div class="wishlist-overlay">
                      <a class="product-list__wishlist" (click)="addwishlist(data.id)">
                          <i class="far fa-heart"></i>
                      </a>
                  </div>
              </figure>
              <div class="product-list__content">
                  <div class="product-list__category">
                      <a routerLink="/eachcourse/{{data.id}}" title="{{data?.name | titlecase}}">{{data?.name | titlecase}}</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>
