<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-40 mb-5">
        <form class="search-bg"> <input class="search-bg__text" type="text" name="name" [(ngModel)]="name" placeholder="Find Tutor">
            <button class="search-bg__btn" (click)="onSubmit(name)">Search</button> </form>
    </div>
</div>
<div class="container">
    <div class="row" *ngIf="loaded">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5" *ngFor="let data of result3.Tutors; let i=index">
            <div class="tutor-inner">
                <div class="tutor-image"> <a (click)="onSubmit(data?.id)"> <img class="tutor-img" src="/assets/img/CramFrenzy.png"
                            alt="Tutor Image"> </a> </div>
                <div class="tutor-contact">
                    <div class="tutor-title"> <a title="{{data.first_name | titlecase}}{{data.last_name | titlecase}}"
                            (click)="onsubmit(data?.id)">{{data.first_name | titlecase}}{{data.last_name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject"> <a title="{{data.major | titlecase}}">{{data.major
                            | titlecase}}</a> </div>
                    <div class="tutor-star-date">
                        <ul class="product-list__star-list pull-left">
                            <li> <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                            <li> <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        </ul>
                        <p class="product-list__price pull-right">{{data.graduation_year | date:'longDate'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>