<div class="container watchlist-comp">
    <div class="row">
        <div class="col-lg-12">
            <div class="addtocart-heading">
                <h2 class="mainbanner">Watchlist
                    <p class="watchlist-items"><span>{{count}}</span> Items in Watchlist </p>
                </h2>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes"  *ngIf="wishnotesId?.length != '0'">Notes</h2>
            <!-- <h4 class="bg-Bid-Notes text-center" *ngIf="wishnotesId?.length == '0'">No Notes In Watchlist</h4> -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of wishnotesId; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/eachcourse/{{data.id}}"> <img src="{{Imageurl}}{{data.notes.notes_thumbnail}}"
                            alt="Notes Image"> </a>
                    <div class="wishlist-overlay"> <a class="product-list__wishlist" data-target="#myModal3"
                            data-toggle="modal" (click)="del(data.id)"> <i class="fas fa-trash-alt"></i> </a> </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data.notes.name | titlecase}}">{{data.notes.name
                            | titlecase}}</a> </div>
                    <div class="product-list__title tutor-subject mb-3"> <span title="User Name:{{data.notes.userid | titlecase}}">{{data.notes.userid
                            | titlecase}}</span> </div>
                    <ul class="product-list__star-list">
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                    </ul>
                    <p class="product-list__price">{{data.notes.price | currency:'USD'}}</p>
                </div>
                <div class="product-list__item-info-1"> <a class="btn-style" (click)="addtocart(null,null,null,data.notes.id,data.id)">
                        Add to Cart </a> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Courses" *ngIf="wishId?.length != '0'">Courses</h2>
            <!-- <h4 class="bg-Bid-Courses text-center" *ngIf="wishId?.length == '0'">No Courses In Watchlist</h4> -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of wishId; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/eachcourse/{{data.id}}"> <img src="{{Imageurl}}{{data.course.course_thumbnail}}"
                            alt="Course Image"> </a>
                    <div class="wishlist-overlay"> <a class="product-list__wishlist" data-target="#myModal3"
                            data-toggle="modal" (click)="del(data.id)"> <i class="fas fa-trash-alt"></i> </a> </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data.course.name | titlecase}}">{{data.course.name
                            | titlecase}}</a> </div>
                    <div class="product-list__title tutor-subject mb-3"> <span title="Author Name:{{data.course.author | titlecase}}">{{data.course.author
                            | titlecase}}</span> </div>
                    <ul class="product-list__star-list">
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                    </ul>
                    <p class="product-list__price">{{data.course.price | currency:'USD'}}</p>
                </div>
                <div class="product-list__item-info-1"> <a class="btn-style" (click)="addtocart(null,data.course.id,null,null,data.id)">
                        Add to Cart </a> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes" *ngIf="cardwish?.length != '0'">Flash Cards</h2>
            <!-- <h4 class="bg-Bid-Notes text-center" *ngIf="cardwish?.length == '0'">No Flash Cards In Watchlist</h4> -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of cardwish; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/eachcourse/{{data.id}}"> <img src="{{Imageurl}}{{data?.flashcard.flashcard_image}}"
                            alt="Notes Image"> </a>
                    <div class="wishlist-overlay"> <a class="product-list__wishlist" data-target="#myModal3"
                            data-toggle="modal" (click)=" del(data?.id)"> <i class="fas fa-trash-alt"></i> </a> </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data.flashcard.name}}">{{data.flashcard.name}}</a>
                    </div>
                    <div class="product-list__title tutor-subject mb-3"> <span title="User Name:{{data.flashcard.author_name}}">{{data.flashcard.author_name}}</span>
                    </div>
                    <ul class="product-list__star-list">
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                    </ul>
                    <p class="product-list__price">{{data?.flashcard.price | currency:'USD'}}</p>
                </div>
                <div class="product-list__item-info-1"> <a class="btn-style" routerLink="javascript:void(0)"
                        (click)="addtocart(null,null,data.flashcard.id,null,data.id)"> Add to Cart </a> </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes" *ngIf="wishbook?.length != '0'">Books</h2>
            <!-- <h4 class="mainbanner bg-Bid-Notes" *ngIf="wishbook?.length == '0'">No Books In Watchlist</h4> -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of wishbook; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/eachcourse/{{data.id}}"> <img src="{{Imageurl}}{{data?.book.book_image}}"
                            alt="Notes Image"> </a>
                    <div class="wishlist-overlay"> <a class="product-list__wishlist" data-target="#myModal3"
                            data-toggle="modal" (click)=" del(data.id)"> <i class="fas fa-trash-alt"></i> </a> </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data.book.name}}">{{data.book.name}}</a>
                    </div>
                    <div class="product-list__title tutor-subject mb-3"> <span title="User Name:{{data.book.author_name}}">{{data.book.author_name}}</span>
                    </div>
                    <ul class="product-list__star-list">
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                    </ul>
                    <p class="product-list__price">{{data?.book.price | currency:'USD'}}</p>
                </div>
                <div class="product-list__item-info-1"> <a routerLink="javascript:void(0)" class="btn-style"
                        (click)="addtocart(data.book.id,null,null,null,data.id)"> Add to Cart </a> </div>
            </div>
        </div>
    </div>
</div>
<h4 class="text-center" *ngIf="wishbook?.length == '0' && cardwish?.length == '0' && wishId?.length == '0' && wishnotesId?.length == '0'">No Item In Watchlist</h4>