.addtocart-heading{color:#333;font-size:20px;overflow:hidden;text-align:center}.addtocart-heading span{font-size:22px;color:#c00}.watchlist-items{font-size:20px;font-weight:600;margin:0}
.addtocart-time.cross-icon{
  background: #000;
  display: block;
}
.addtocart-time.cross-icon .fa-times{
  cursor: pointer;
  color: #fff;
}
.btn-style{
  text-transform: unset;
}