.mat-select-value {
    color: rgba(0, 0, 0, .87)!important
}

.mat-slide-toggle {
    display: block
}

.margin-right-10 {
    margin-right: 10px
}
.btn-auction{
    margin-bottom: 10px;
}
.showid-6{
    position: relative;
    display: none;
}
.max-amount-alert{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
}