<div class="each-upper-banner margin-top-10">
  <div class="container">
    <div>
      <h2>{{editcourse?.name}}</h2>
      <p>{{editcourse?.description}} </p>
    </div>
  </div>
</div>
<div class="container">
  <h1>Course Lessons</h1>
  <div class="row">
      <div class="col-md-3 ">
        <ul class="nav nav-tabs side-tabs">
          <li class="width100"><a data-toggle="tab" class="active" href="#home">Introduction</a></li>
          <li class="width100"><a data-toggle="tab" href="#home1">Curriculum</a></li>
          <li class="width100"><a data-toggle="tab" href="#home2">Course Overview</a></li>
        </ul>
      </div>
      <div class="col-md-9  course-tab">
        <div class="tab-content">
          <div class="tab-pane active" id="home">
            <div class="float_right">
              <button *ngIf="getcoursevid?.id===null"  class="btn-style btn " data-toggle="modal"
                (click)="openDialog3(data?.course.id)">Add Video</button>
            </div>
            <div *ngIf="getcoursevid?.id === null">
              <img src="../../../assets/img/No-video.gif">
            </div>
            <div *ngIf="getcoursevid?.id != null" class="card video-box">
              <vg-player>
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>
                <vg-scrub-bar>
                  <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                  <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>
                <vg-controls>
                  <vg-play-pause></vg-play-pause>
                  <vg-playback-button></vg-playback-button>
                  <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                  <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                  <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                  <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                  <vg-track-selector></vg-track-selector>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen></vg-fullscreen>
                </vg-controls> <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                  <source src="{{VideoUrl}}{{getcoursevid?.video_url}}" type="video/mp4"> </video>
              </vg-player>
            </div>
            <div class="float_right">
              <a *ngIf="getcoursevid?.id != null" data-toggle="modal" value="Delete" href="#delintroVideo"
                data-target="#delintroVideo" (click)="deleteVideo(id)" class="display-inline-block">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </div>
          <div class="tab-pane" id="home1">
            <div class="text-right">
              <button  class="btn-style btn  margin-bottom-20" data-toggle="modal" data-target="#myModal">Add Chapter</button>
            </div>
            <div class="lec-info float-right">
              <span *ngIf="!time">No video added yet</span>
              <span *ngIf="time && totalvid">Total Time: {{time}}</span>
              <!--<span *ngIf="!totalvideos">Total Video:00:00:00</span>-->
              <!--<span>Total Video: {{totalvideos}}</span>-->
              <!-- <span *ngIf="!totalvid">Total Videos: 0</span> -->
              <span *ngIf="totalvid">Total Videos:{{totalvid}} </span>
              <!-- <span *ngIf="!chpt">Total Chapters: 0</span> -->
              <span *ngIf="chpt">Total Chapters:{{chpt}} </span>
            </div>
            <div class="panel-group float-left width100">
              <div class="panel panel-default" *ngFor="let data of getchapter; let i=index;">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" href="#collapse1" attr.data-target="#b{{i}}">
                      <span>{{data?.chapters.chapter_name}}</span>
                      <div class="mr-5 float_right">
                        <span *ngIf="data?.chapters.Minutes">{{data?.chapters.Minutes}}</span>
                        <!--<span *ngIf="data.chapter_name"> Total Video {{vid.chaptervideos}} </span>-->
                      </div>
                    </a>
                  </h4>
                </div>
                <div attr.id=b{{i}} class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="float_left">
                      <button  class="btn-style btn " data-toggle="modal" data-target="#videoModal"
                        (click)="openDialog2(data?.chapters.id)"  data-dismiss="modal">Add
                        Video</button>
                    </div>
                  </div>
                  <table class="table table-hover" *ngIf="videos">
                    <tbody>
                      <tr *ngFor="let video of videos; let j=index">
                        <td *ngIf="data?.chapters.id===video.chapter_id"><i class="fa fa-play-circle"
                            (click)="SetVideoURL(video.video_url)"></i>{{video.video_title}}</td>
                        <td *ngIf="data?.chapters.id===video.chapter_id"><a>{{video?.video_size}}MB</a></td>
                        <td *ngIf="video.allow_to_view==true">
                          Preview</td>
                        <td *ngIf="data?.chapters.id===video.chapter_id">{{video?.video_minutes}}Min
                          <a data-toggle="modal" value="Delete" href="#delVideo" data-target="#delVideo"
                            (click)="deleteVideo(video?.id)" class="display-inline-block">
                            <i class="fas fa-trash-alt"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="home2">
            <h4 class="text-center">Course Overview</h4>
            <div class="example-container">
              <form class="row sh-signup-form-fix" method="post" #f="ngForm">
                <div class="col-lg-6">
                  <mat-form-field class="width100">
                    <input matInput placeholder="About Course" [(ngModel)]="model.requirement" name="requirement">
                  </mat-form-field>
                </div>

                <div class="col-lg-6">
                  <mat-form-field class="width100">
                    <mat-select placeholder="Select Language" [(ngModel)]="model.language" name="language">
                      <mat-option *ngFor="let card_get_datat of card_opeation" [value]="card_get_datat.value">
                        {{card_get_datat.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-12">
                  <mat-form-field class="width100">
                  <textarea matInput placeholder="Description" [(ngModel)]="model.description" name="description">

                  </textarea>
                  </mat-form-field>
                </div>
                <div class="col-lg-12 float_right">
                  <button class="btn-style btn " (click)="postrequirment(f)"> submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
<!-- Modal -->
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content top-200">
      <div class="modal-header">
        <div class="form-1-header">
          <h1>Add Chapter</h1>
        </div>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="!chaptername.hasError('required') && onSubmit(f)" #f="ngForm" method="post"
          class="user-add-ingo-form margin-bottom-20">
          <mat-form-field class="example-full-width mat-size"> <input type="text" matInput
              placeholder="Enter Chapter Name" [formControl]="chaptername" name="chaptername"
              [(ngModel)]="model.chaptername" required>
            <mat-error *ngIf="chaptername.hasError('required')"> Chapter name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <button class="btn-style btn " type="submit" id="submit" (click)="onSubmit(f)" data-dismiss="modal">Add Chapter</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="delVideo" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <div class="form-1-header">
          <h1>Detele Course Video</h1>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <h4 class="modal-title-cust"> Confirmation Alert </h4>
          <p class="modal-para-cust"> Do you want to delete this video? </p>
        </div>
      </div>
      <div class="modal-footer">
        <button  class="btn-style btn " (click)="deletecoureseVideo(video_id)" data-dismiss="modal">
          Delete </button>
        <button  class="btn-style btn " data-dismiss="modal"> Cancel </button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="delintroVideo" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <div class="form-1-header">
          <h1>Detele Course Video</h1>
        </div>
      </div>
      <div class="modal-body">
        <div>
          <h4 class="modal-title-cust"> Confirmation Alert </h4>
          <p class="modal-para-cust"> Do you want to Delete this Video? </p>
        </div>
      </div>
      <div class="modal-footer">
        <button  class="btn-style btn " (click)="deleteintrovideo(video_id)" data-dismiss="modal">
          Delete </button>
        <button  class="btn-style btn " data-dismiss="modal"> Cancel </button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
