<div class="card sh-paynow">
    <form
        (ngSubmit)="!ExpiryDateForm.hasError('required') && !ExpiryDateForm.hasError('pattern') && CardCodeForm.hasError('minlength')&& !CardCodeForm.hasError('maxlength')&& !CardNumberForm.hasError('required') && !CardNumberForm.hasError('pattern') && buy()"
        #f="ngForm" id="videoform" class="form-horizontal row sh-signup-form-fix" name="videoform" method="post">
        <div class="col-lg-12 center-div col-md-12">
            <div class="panel-info contact_form">
                <div class="panel-heading">
                    <h3>Secure Payment</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width mat-size"> <input matInput
                                    placeholder="Card Holder Name"
                                    [formControl]="CardHolderNameForm" [(ngModel)]="model.CardHolderName" required>
                            </mat-form-field>
                        </div>
                            <div class="col-sm-6">
                            <mat-form-field class="example-full-width mat-size"> <input matInput
                                placeholder="Card Nick Name"
                                [formControl]="CardNickNameForm" [(ngModel)]="model.CardNickName" required>
                        </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width mat-size"> <input matInput
                                    placeholder="Credit Card Number" minlength="14" maxlength="16"
                                    [formControl]="CardNumberForm" [(ngModel)]="model.cardNumber" required>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width mat-size"> <input matInput
                                    placeholder="Expiry Date" [formControl]="ExpiryDateForm" [textMask]="{mask: masks}"
                                    [(ngModel)]="model.expirationdate" required> </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field class="example-full-width mat-size"> <input matInput placeholder="CardCode"
                                    [formControl]="CardCodeForm" [(ngModel)]="model.cardcod" required minlength="3" maxlength="4">
                                <mat-error *ngIf="CardCodeForm.hasError('minlength')"> Maximum Length of
                                    <strong>CardCode can be 3 characters</strong> </mat-error>
                                <mat-error *ngIf="CardCodeForm.hasError('maxlength')"> Maximum Length of
                                    <strong>CardCode can be 4 characters</strong> </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-select placeholder="Card Type" [formControl]="card_type"
                                    [(ngModel)]="model.card_type">
                                    <mat-option *ngFor="let card_type of card_option" [value]="card_type.value">
                                        {{card_type.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="payment-methods">
                        <ul class="list-inline text-left margin-li">
                            <li><a><img src="../../assets/upload/payment_01.png" alt=""></a></li>
                            <li><a><img src="../../assets/upload/payment_02.png" alt=""></a></li>
                            <li><a><img src="../../assets/upload/payment_03.png" alt=""></a></li>
                            <li><a><img src="../../assets/upload/payment_04.png" alt=""></a></li>
                            <li><a><img src="../../assets/upload/payment_05.png" alt=""></a></li>
                            <li><a><img src="../../assets/upload/payment_06.png" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-sm-12 text-center"> <button type="submit" class="btn-style btn"
                            (click)="buy()">Place Order</button> </div>
                </div>
                <div class="table-responsive col-lg-12">
                    <table class="table payment-table">
                        <thead>
                            <tr>
                                <th>Nick name</th>
                                <th>Card Number</th>
                                <th>Expiry Date</th>
                                <th>Set as Defalt</th>
                            </tr>
                        </thead>
                        <!--bindings={"ng-reflect-ng-for-of": "[object Object]"}-->
                        <tbody class="ng-star-inserted">
                        <tbody *ngFor="let card of res">
                            <tr>
                                <td>{{card.nickname}}</td>
                                <td>{{card.cardNumber}}</td>
                                <td>{{card.expiryDate}}</td>
                                <td>
                                    <div *ngIf="card.default==true">
                                        <mat-slide-toggle [checked]="true" name="atm_details"
                                            (click)="setcard(card.nickname,card.default,card.id,card.street_adrress, card.zip_code, card.city, card.state, card.country)" class="py-toggle">
                                        </mat-slide-toggle>
                                    </div>
                                    <div *ngIf="card.default !=true">
                                        <mat-slide-toggle [checked]="false" name="atm_details"
                                            (click)="setcard(card.nickname,card.default,card.id,card.street_adrress, card.zip_code, card.city, card.state, card.country)" class="py-toggle">
                                        </mat-slide-toggle>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>