<div class="container-fluid">
    <h3 class="mainbanner">Accepted Offers</h3>
    <div class="row">
        <div class="col-sm-3 ">
            <ul class="nav nav-tabs side-tabs ">
                <li class="nav-item"> <a href="#notes" data-toggle="tab" class="nav-link active" title="Accepted Notes">
                        <i class="fa fa-edit"></i> Notes </a> </li>
                <li class="nav-item"> <a href="#courses" data-toggle="tab" class="nav-link" title="Accepted Courses">
                        <i class="fa fa-th-large"></i> Courses </a> </li>
                <li class="nav-item"> <a href="#flashcards" data-toggle="tab" class="nav-link"
                        title="Accepted FlashCards">
                        <i class="fa fa-columns"></i> Flash Cards </a> </li>
                <li class="nav-item"> <a href="#book" data-toggle="tab" class="nav-link" title="Accepted Books">
                        <i class="fas fa-book"></i> Books </a> </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane  active mt-3" id="notes">
                    <div class="row">
                        <div *ngFor="let item of getoffer?.note, let i=index">
                                <div class="product-list__item">
                                    <figure class="product-list__img"> <a routerLink="/notes/{{item?.id}}"> <img
                                                src="{{Imageurl}}{{item?.notes_thumbnail}}"> </a> </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category"> <a routerLink="/notes/{{item?.id}}"
                                                title="{{item?.name}}">{{item?.name}}</a>
                                        </div>
                                        <div class="product-list__title tutor-subject"> <span
                                                title="Authur Name:{{item?.userid}}"
                                                routerLink="/notes/{{item?.id}}">{{item?.userid}}</span>
                                        </div>
                                        <rating ngModel="{{item?.rating}}" [readonly]="true"
                                            titles="{{item?.rating}}"></rating>
                                        <p class="product-list__price float-right mt-2">${{item?.price}}</p>
                                    </div>
                                    <div class="product-list__item-info-1" *ngIf="item?.isPaid==true">
                                        <p class="btn-style">Payment Done: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                                    <div class="product-list__item-info-1"
                                        *ngIf="item?.isPaid==null || item?.isPaid==false && item?.offer_accepted==true">
                                        <p class="btn-style" (click)="openDialog3(item?.id)">Pay
                                            Now: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(1)" class="page-link">First</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage - 1)" class="page-link">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages"
                                    [ngClass]="{active:pager.currentPage===page}"> <a (click)="ShowAcceptOffers(page)"
                                        class="page-link">{{page}}</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage + 1)" class="page-link"
                                        type="Next">Next</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.totalPages)" class="page-link"
                                        type="Last">Last</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane mt-3" id="courses">
                    <div class="row">
                        <div *ngFor="let item of getoffer?.course; let i=index">
                        
                                <div class="product-list__item">
                                    <figure class="product-list__img"> <a routerLink="/eachcourse/{{item.id}}">
                                            <img src="{{Imageurl}}{{item?.course_thumbnail}}" data-filter="*"
                                                alt="Course"> </a> </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category"> <a
                                                routerLink="/eachcourse/{{item?.id}}"
                                                title="{{item?.name}}">{{item?.name}}</a>
                                        </div>
                                        <div class="product-list__title tutor-subject"> <span
                                                title="Authur Name:{{item?.author}}"
                                                routerLink="/eachcourse/{{item?.id}}">{{item?.author}}</span>
                                        </div>
                                        <rating ngModel="{{item?.rating}}" [readonly]="true"
                                            titles="{{item?.rating}}"></rating>
                                        <p class="product-list__price float-right mt-2">${{item?.price}}</p>
                                    </div>
                                    <div class="product-list__item-info-1" *ngIf="item?.isPaid==true">
                                        <p class="btn-style">Payment Done: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                                    <div class="product-list__item-info-1"
                                        *ngIf="item?.isPaid==null || item?.isPaid==false && item?.offer_accepted==true">
                                        <p class="btn-style" (click)="openDialog4(item?.id)">Pay
                                            Now: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                            
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(1)" class="page-link">First</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage - 1)" class="page-link">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages"
                                    [ngClass]="{active:pager.currentPage===page}"> <a (click)="ShowAcceptOffers(page)"
                                        class="page-link">{{page}}</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage + 1)" class="page-link"
                                        type="Next">Next</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.totalPages)" class="page-link"
                                        type="Last">Last</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane mt-3" id="flashcards">
                    <div class="row">
                        <div *ngFor="let item of getoffer?.flashcard, let i=index">
                                <div class="product-list__item">
                                    <figure class="product-list__img"> <a routerLink="/fcdetail/{{item.id}}">
                                            <img src="{{Imageurl}}{{item.flashcard_image}}" data-filter="*"
                                                alt=""> </a> </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category"> <a
                                                routerLink="/fcdetail/{{item?.id}}"
                                                title="{{item?.name}}">{{item?.name}}</a>
                                        </div>
                                        <div class="product-list__title tutor-subject"> <span
                                                title="Authur Name:{{item?.userid}}"
                                                routerLink="/fcdetail/{{item?.id}}">{{item?.userid}}</span>
                                        </div>
                                        <rating ngModel="{{item?.rating}}" [readonly]="true"
                                            titles="{{item?.rating}}"></rating>
                                        <p class="product-list__price float-right mt-2">${{item?.price}}</p>
                                    </div>
                                    <div class="product-list__item-info-1" *ngIf="item?.isPaid==true">
                                        <p class="btn-style">Payment Done: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                                    <div class="product-list__item-info-1"
                                        *ngIf="item?.isPaid==null || item?.isPaid==false && item?.offer_accepted==true">
                                        <p class="btn-style" (click)="openDialog5(item?.id)">Pay
                                            Now: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(1)" class="page-link">First</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage - 1)" class="page-link">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages"
                                    [ngClass]="{active:pager.currentPage===page}"> <a (click)="ShowAcceptOffers(page)"
                                        class="page-link">{{page}}</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage + 1)" class="page-link"
                                        type="Next">Next</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.totalPages)" class="page-link"
                                        type="Last">Last</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane mt-3" id="book">
                    <div class="row">
                        <div *ngFor="let item of getoffer?.book; let i=index">
                                <div class="product-list__item">
                                    <figure class="product-list__img"> <a routerLink="/detail/{{item?.id}}"> <img
                                                src="{{Imageurl}}{{item?.book_image}}" alt="Book"> </a> </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category"> <a routerLink="/detail/{{item?.id}}"
                                                title="{{item?.name}}">{{item?.name}}</a>
                                        </div>
                                        <div class="product-list__title tutor-subject"> <span
                                                title="Authur Name:{{item?.author_name}}"
                                                routerLink="/detail/{{item?.id}}">{{item?.author_name}}</span>
                                        </div>
                                        <rating ngModel="{{item?.rating}}" [readonly]="true"
                                            titles="{{item?.rating}}"></rating>
                                        <p class="product-list__price float-right mt-2">${{item?.price}}</p>
                                    </div>
                                    <div class="product-list__item-info-1" *ngIf="item?.isPaid==true">
                                        <p class="btn-style">Payment Done: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                                    <div class="product-list__item-info-1"
                                        *ngIf="item?.isPaid==null || item?.isPaid==false && item?.offer_accepted==true">
                                        <p class="btn-style" (click)="openDialog6(item?.id)">Pay
                                            Now: {{item?.your_offer | currency:'USD'}}</p>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(1)" class="page-link">First</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage - 1)" class="page-link">Previous</a>
                                </li>
                                <li class="page-item" *ngFor="let page of pager.pages"
                                    [ngClass]="{active:pager.currentPage===page}"> <a (click)="ShowAcceptOffers(page)"
                                        class="page-link">{{page}}</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.currentPage + 1)" class="page-link"
                                        type="Next">Next</a> </li>
                                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a
                                        (click)="ShowAcceptOffers(pager.totalPages)" class="page-link"
                                        type="Last">Last</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>