.nav-link {
    padding: 5px 0;
}

.margin-left-10 {
    margin-left: 10px
}

.margin-right-10 {
    margin-right: 10px
}

.list-inline>li {
    float: left;
    padding: 2px
}

.panel-heading {
    text-align: center;
    margin: 10px 0 20px
}

.offer-activity {
    margin-top: 20px
}

.width-122 {
    width: 122px
}

.width-144 {
    width: 144px
}

.declined,
.submitted {
    display: flex;
    flex-direction: row;
    margin: 10px 0
}

.offer-history ul li {
    list-style: none
}

.offer-history h3 {
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc
}

.instructor,
.student {
    width: 30px;
    height: 30px;
    background: #ccc;
    font-size: 12px;
    border-radius: 50px;
    border: 1px solid #ccc;
    display: table
}

.instructor span,
.student span {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

.student {
    margin-right: 10px
}

.instructor {
    margin-left: 10px
}

.offer-history ul {
    padding: 0
}

table {
    width: 90%;
    background: #f1f1f1;
    text-align: center;
    font-size: 14px;
    border-radius: 0 50px
}

.submitted table {
    border-radius: 50px 0
}

.smalltext {
    font-size: 13px;
    margin: 20px 0 0;
    text-align: left
}

.side-tabs.nav-tabs li a.active,
.side-tabs.nav-tabs li a:focus,
.side-tabs.nav-tabs li a:hover {
    color: #555 !important;
    background-color: #f5f5f5 !important;
}

.fcdetail {
    margin: 0 0 10px;
}

.offer-history {
    width: 100%
}

.top_nav_tabs .nav-item {
    width: 50%;
    border-radius: 5px;
    text-align: center
}

.top_nav_tabs .nav-link {
    border-radius: 5px
}

.side-tabs .nav-item .nav-active {
    font-size: 16px !important;
}

.dash-divs {
    width: 240px;
    margin: 0;
    min-width: 240px;
    max-width: 240px;
}

// //////////////////////////////
.dashboard-layout{
    display: flex;
    min-height: 425px;
  }
  .side-bar{
    width: 280px;
    vertical-align: top;
    background: #fff;
    border-right: 1px solid #ebebeb;
    display: table-cell;
    // margin-top: 6px;
    min-height: 425px;
  }
  .right-side{
    width: 100%;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .side-bar .nav-tabs .nav-link{
    border: none;
    background: #fff;
  }
  .nav-link:hover .nav-link.active{
    color: #555 !important;
    background-color: #f5f5f5 !important;
  }
  .side-tabs.nav-tabs li{
    padding: 0;
  }
  
  .open-btn{
    font-size:30px;
    cursor:pointer;
    display: none;
  }
  .close-btn{
    display: none;
  }
  .sidebar-heading{    
    text-align: center;
    margin: 27px 0 10px;
    font-size: 20px;
}
  @media only screen and (min-width:991px) {
    .side-bar{
        display: block;
    }
  }
  @media only screen and (max-width:992px) {
    .open-btn{
        display: block;
    }
    .close-btn{
        display: block;
    }
    .side-bar{
        display: none;
    }
  }