.custom-widget,
.fancy-collapse-panel .panel-heading a {
    width: 100%;
    position: relative;
    background-color: #f4f4f7
}

.bgg,
.custom-widget {
    background-color: #fff
}

.linethrough {
    text-decoration: line-through;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px
}

.customwidget,
.customwidget h4 {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px
}

.card-4 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23)!important
}

.custom-widget,
.navbar-nav>li.active>a,
.navbar-nav>li:hover>a {
    border-bottom-color: #f4f4f7!important
}

.customwidget {
    color: #000!important;
    padding: 5px 0 20px
}

.custom-widget {
    display: block;
    z-index: 1;
    padding: 0 15px;
    color: #000!important;
    overflow: hidden;
    border-bottom: 5px solid #fff
}

.customwidget h3,
.customwidget label,
.customwidget p {
    padding: 0;
    margin: 0;
    color: #000
}

.course-pricing a {
    color: #000
}

.customwidget h4 {
    color: #000;
    padding: 5px 0;
    margin: 0;
    line-height: 25px
}

.fancy-collapse-panel .panel-default>.panel-heading {
    padding: 0
}

.fancy-collapse-panel .panel-heading a {
    padding: 12px 35px 12px 15px;
    display: inline-block;
    color: #000;
    text-decoration: none
}

.fancy-collapse-panel .panel-heading a:after {
    font-family: FontAwesome;
    content: "\f147";
    position: absolute;
    right: 20px;
    font-size: 20px;
    font-weight: 400;
    top: 50%;
    line-height: 1;
    margin-top: -10px
}

.fancy-collapse-panel .panel-heading a.collapsed:after {
    content: "\f196"
}

.single-course {
    padding: 30px 0 36px;
    margin: 0
}

.page-title,
.section {
    padding: 40px 0;
    position: relative
}

.page-title {
    display: block
}

.button,
.cartbutton {
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: right;
    text-align: center
}

.bgg {
    color: #505c63
}

.hoverfont {
    font-weight: 700;
    font-size: 14px;
    color: #8aadbf!important
}

.button {
    background-color: #000;
    color: #fff;
    padding: 5px 0;
    font-size: 24px;
    margin: 0;
    width: 48%;
    transition: .5s
}

.cartbutton,
.divider {
    font-size: 30px
}

.button:hover {
    box-shadow: 0 0 8px #000;
    background-color: red;
    color: #fff
}

.cartbutton {
    background-color: #8aadbf;
    color: #fff;
    padding: 15px 32px;
    margin: 4px 2px;
    width: 100%
}

.cartbutton:hover {
    background-color: #fff;
    color: #8aadbf
}

.table td,
th {
    text-align: center
}

.countdown {
    width: 100%;
    height: 100px;
    background: #000
}

.measurements {
    color: #fff;
    margin-right: 5px;
    padding: 10px
}

.font-size-22 {
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: #000
}

.big-title {
    margin: 10px 0 0!important
}

.course-table tr,
.table-bordered {
    border: none!important
}

.bid-history {
    background-color: #fff;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 1px solid #B0AFAF;
    border-radius: 4px;
    margin-top: 10px
}

#sidebar {
    padding: 0 0 0 30px
}

#sidebar .widget {
    background-color: #f4f4f7;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border: 1px solid #B0AFAF;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 40px;
    display: block;
    position: relative
}

.widget {
    position: relative;
    z-index: 90
}

.videoplayer {
    display: block!important;
    outline: 0!important;
    width: 100%;
    max-width: 100%;
    margin: 0 auto
}

.course-pricing hr {
    background-color: #4a4b4f;
    border-color: #242529;
    margin: 15px 0;
    padding: 1px
}