
.tutor-view {
    background: url(assets/img/partnership.jpg) no-repeat;
    background-size: cover
}

.tutor-view h1 {
    color: #fff;
    font-size: 50px
}

.tutor-view h2 {
    color: #fff
}

.tutor-view p {
    color: #fff;
    font-size: 16px
}
.padding-top-100 {
    padding-top: 100px
}