<div class="container" *ngIf="Eid=='1'">
    <h1 class="mainbanner bg-Bid-Notes">Bid & Buy on Flash Cards</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of bidbuyflashcard?.flashcards; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/fcdetail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}"
                            alt="FlashCard Image"> </a> </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}" title="{{data.name}}">{{data.name}}</a>
                    </div>
                    <div class="product-list__title tutor-subject "> <span title="User Name:{{data.user_id}}"
                            routerLink="/fcdetail/{{data.id}}">{{data.user_id}}</span> </div>
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating> <a class="product-list__price"
                            routerLink="/fcdetail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <div class="heart_cart_buy">
                        <div class="heart_cart"> <i class="far fa-heart" title="Add to wishlist" *ngIf="!data.wishlist==true"
                                (click)="addwishlist(data.id)"></i> <i *ngIf="!data.wishlist==false" title="delete from watchlist"
                                (click)="delFlaskFwishList(data)" class="fas fa-heart sh-red"> </i> <i class="wishlist material-icons"
                                title="Add to Cart" *ngIf="!data.cart==true" (click)="addcart(nullvalue,nullvalue,nullvalue,data.id)">add_shopping_cart</i>
                            <i class="fa fa-cart-plus" *ngIf="!data.cart==false" (click)="delfromcart(data)" title="Click and remove from Cart"></i>
                        </div>
                        <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                (click)="openDialog3(data?.id)">Offer Now</a> </div>
                    </div>
                    <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"
                            (click)="flashcard(data?.id)">Buy Now at{{data.price | currency:'USD'}}</a> <a class="btn-style btn text-transform-none"
                            data-toggle="modal" data-target="#notesbidnow" (click)="getcardid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                            Bid Now at{{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                            data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                            Flash Card Already Bought</a> 
                            <a class="btn-style btn text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                Flash Card add by me </a> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a (click)="setPageflashcard(1)" class="page-link">First</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a (click)="setPageflashcard(pager.currentPage - 1)"
                        class="page-link">Previous</a> </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}">
                    <a (click)="setPageflashcard(page)" class="page-link">{{page}}</a> </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a (click)="setPageflashcard(pager.currentPage + 1)"
                        class="page-link" type="Next">Next</a> </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a (click)="setPageflashcard(pager.totalPages)"
                        class="page-link" type="Last">Last</a> </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="Eid=='2'">
    <h1 class="mainbanner bg-Bid-Notes">Flash Cards Trending Now</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of trendingflashcard?.flashcards; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/fcdetail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}"
                            alt="FlashCard Image"> </a> </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}" title="{{data.name}}">{{data.name}}</a>
                    </div>
                    <div class="product-list__title tutor-subject "> <span title="User Name:{{data.user_id}}"
                            routerLink="/fcdetail/{{data.id}}">{{data.user_id}}</span> </div>
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating> <a class="product-list__price"
                            routerLink="/fcdetail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <div class="heart_cart_buy">
                        <div class="heart_cart"> <i class="far fa-heart" title="Add to wishlist" *ngIf="!data.wishlist==true"
                                (click)="addwishlist(data.id)"></i> <i *ngIf="!data.wishlist==false" title="delete from watchlist"
                                (click)="delFlaskFwishList(data)" class="fas fa-heart sh-red"> </i> <i class="wishlist material-icons"
                                title="Add to Cart" *ngIf="!data.cart==true" (click)="addcart(nullvalue,nullvalue,nullvalue,data.id)">add_shopping_cart</i>
                            <i class="fa fa-cart-plus" *ngIf="!data.cart==false" (click)="delfromcart(data)" title="Click and remove from Cart"></i>
                        </div>
                        <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                (click)="openDialog3(data?.id)">Offer Now</a> </div>
                    </div>
                    <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"
                            (click)="flashcard(data?.id)"> Buy Now at{{data.price | currency:'USD'}}</a> <a class="btn-style btn text-transform-none"
                            data-toggle="modal" data-target="#notesbidnow" (click)="getcardid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                            Bid Now at{{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                            data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                            Flash Card Already Bought</a> 
                            <a class="btn-style btn text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                Flash Card add by me </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="Eid=='3'">
    <h1 class="mainbanner bg-Bid-Notes"> Top Rated Flash Cards </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of toprated?.flashcards; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/fcdetail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}"
                            alt="FlashCard Image"> </a> </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}" title="{{data.name}}">{{data.name}}</a>
                    </div>
                    <div class="product-list__title tutor-subject "> <span title="User Name:{{data.user_id}}"
                            routerLink="/fcdetail/{{data.id}}">{{data.user_id}}</span> </div>
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating> <a class="product-list__price"
                            routerLink="/fcdetail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <div class="heart_cart_buy">
                        <div class="heart_cart"> <i class="far fa-heart" title="Add to wishlist" *ngIf="!data.wishlist==true"
                                (click)="addwishlist(data.id)"></i> <i *ngIf="!data.wishlist==false" title="delete from watchlist"
                                (click)="delFlaskFwishList(data)" class="fas fa-heart sh-red"> </i> <i class="wishlist material-icons"
                                title="Add to Cart" *ngIf="!data.cart==true" (click)="addcart(nullvalue,nullvalue,nullvalue,data.id)">add_shopping_cart</i>
                            <i class="fa fa-cart-plus" *ngIf="!data.cart==false" (click)="delfromcart(data)" title="Click and remove from Cart"></i>
                        </div>
                        <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                (click)="openDialog3(data?.id)">Offer Now</a> </div>
                    </div>
                    <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"
                            (click)="flashcard(data?.id)">Buy Now at{{data.price | currency:'USD'}}</a> <a class="btn-style btn text-transform-none"
                            data-toggle="modal" data-target="#notesbidnow" (click)="getcardid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                            Bid Now at{{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                            data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                            Flash Card Already Bought</a>
                            <a class="btn-style btn text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                Flash Card add by me </a>  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="Eid=='4'">
    <h1 class="mainbanner bg-Bid-Notes">Recently Viewed Flash Cards </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of recent?.flashcards; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/fcdetail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}"
                            alt="FlashCard Image"> </a> </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}" title="{{data.name}}">{{data.name}}</a>
                    </div>
                    <div class="product-list__title tutor-subject "> <span title="User Name:{{data.user_id}}"
                            routerLink="/fcdetail/{{data.id}}">{{data.user_id}}</span> </div>
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating> <a class="product-list__price"
                            routerLink="/fcdetail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <div class="heart_cart_buy">
                        <div class="heart_cart"> <i class="far fa-heart" title="Add to wishlist" *ngIf="!data.wishlist==true"
                                (click)="addwishlist(data.id)"></i> <i *ngIf="!data.wishlist==false" title="delete from watchlist"
                                (click)="delFlaskFwishList(data)" class="fas fa-heart sh-red"> </i> <i class="wishlist material-icons"
                                title="Add to Cart" *ngIf="!data.cart==true" (click)="addcart(nullvalue,nullvalue,nullvalue,data.id)">add_shopping_cart</i>
                            <i class="fa fa-cart-plus" *ngIf="!data.cart==false" (click)="delfromcart(data)" title="Click and remove from Cart"></i>
                        </div>
                        <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false "
                                (click)="openDialog3(data?.id)">Offer Now</a> </div>
                    </div>
                    <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"
                            (click)="flashcard(data?.id)"> Buy Now at{{data.price | currency:'USD'}}</a> <a class="btn-style btn text-transform-none"
                            data-toggle="modal" data-target="#notesbidnow" (click)="getcardid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                            Bid Now at{{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                            data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                            Flash Card Already Bought</a>
                            <a class="btn-style btn text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                Flash Card add by me </a>  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content margin-top-175">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Bid on Flash card</h1>
                </div>
            </div>
            <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'flashcard', id:cardid}"
                    data-dismiss="modal" class="view-bid">view bid history </a> <a [routerLink]="['/bid-history']"
                    [queryParams]="{cat:'flashcard', id:cardid}" data-dismiss="modal">
                    <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{cardbid?.endtime}}"></countdown>
                   
                      
                    <p *ngIf="flashcardsbid?.bidamount">Highest bid amount:{{flashcardsbid?.bidamount}}</p>
                    <p *ngIf="!flashcardsbid?.bidamount">No bid received yet</p>
                </a>
                <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form"> <label>Place Your
                        own bid:</label>
                    <mat-form-field> <input matInput type="number" min="0" oninput="validity.valid||(value='');"
                         onKeyPress="if(this.value.length==4) return false;" placeholder="Enter bid amount (US $)*"
                            [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount"><span matPrefix>$&nbsp;</span> </mat-form-field> <a
                        class="btn-style btn" (click)="bidc()" data-dismiss="modal">Bid Now </a>
                </form>
            </div>
        </div>
    </div>
</div>
