<div class="container sh-catgories-comp">
    <h1 class="mainbanner bg-Bid-Notes">Course Categories</h1>
    <div class="row">
        <div class="col-lg-12">
            <div class="slick-testimonial">
                <div class="slider-items" *ngFor="let data of result?.courses; let i=index">
                    <a routerLink="/course-subactegory/{{data.id}}" data-filter="*">{{data.c_name}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of result; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img">
                    <a routerLink="/course-subactegory/{{data.id}}" (click)="submit(data?.c_name)">
                        <img src="https://storage.cramfrenzy.com/Categories%20Web%20Images/{{data.image}}" alt="Course Category" class="categories-img"> </a>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/course-subactegory/{{data.id}}" title="{{data.c_name}}">{{data.c_name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
