<app-loader></app-loader>
<div class="sh-allbooks search-fixed">
    <div class="col-lg-12 padding-top-40">
        <form class="search-bg"> <input placeholder="Search Notes" type="search" name=querysearch [(ngModel)]="query"
                #querysearch="ngModel" (keyup)=filter(query) class="search-bg__text"> <button class="search-bg__btn"
                (click)="onsubmit(query)">Search</button> </form>
        <div class="search-results">
            <ul class="list-normal">
                <li *ngFor="let data of searchResult;"> <a routerLink="/notes/{{data.id}}" (click)="filter(query)"> <i
                            class="material-icons">arrow_forward</i>{{data.name}}</a> </li>
            </ul>
        </div>
        <div class="row search-results" *ngIf="!searchResultStatus">
            <p class="results-found"> No results found. Please use keywords.</p>
        </div>
    </div>
</div>
<div class="container-fluid padding-l-r-60 mb-5">
    <ngx-slick class="carousel homeSlider innerpages" #slickModal="slick-modal" [config]="slideConfig2">
        <div ngxSlickItem class="slide item" *ngFor="let data of inner; let i=index">
            <div class="item-inner"> <a class="cat-img" routerLink="/category-wise-notes/{{data.id}}" (click)="submit(data?.c_name)">
                    <img src="https://storage.cramfrenzy.com/3d_category/{{data.c_name}}.png" onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'">
                    <h4 class="homesilder-title">{{data.c_name}}</h4>
                </a> </div>
        </div>
    </ngx-slick>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes">Buy & Bid on Notes </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of result?.notes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img"> <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data?.notes_thumbnail}}"
                                    onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'" alt="Notes">
                            </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/notes/{{data.id}}" title="{{data?.name}}">{{data?.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject"> <span title="User Name :{{data?.userid}}"
                                    routerLink="/notes/{{data.id}}">{{data?.userid}}</span> </div>
                            <div class="rating_and_price">
                                <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                                <a class="product-list__price" routerLink="/notes/{{data.id}}">{{data?.price |
                                    currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i class="far fa-heart" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                        *ngIf="!data.wishlist==true" title="Add to Watchlist"> </i> <i *ngIf="!data.wishlist==false"
                                        class="sh-red fas fa-heart sh-red" title="Click and remove from Watchlist"
                                        (click)="deleteFWL(data)"> </i> <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                        title="Click and remove from Cart" (click)="delfromcart(data)"></i> <i *ngIf="!data.cart==true"
                                        class="wishlist material-icons" title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                        add_shopping_cart</i> </div>
                                <div class="buy_btn"> <a class="btn-style" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="openDialog3(data?.id)">Offer Now</a> </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style" (click)="checkmainpage(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now at{{data?.price |
                                    currency:'USD'}}</a> <a class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                    (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                                    Bid Now at{{data?.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Note Already Bought</a> 
                                    <a class="btn-style text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                        Note add by me </a></div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center"> <a routerLink="/ngseemore/Bid&BuyNotes" class=" btn-style">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Courses-Trending-Now"> Notes Trending Now</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of trendingnotes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img"> <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}"
                                    onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'" alt="Notes">
                            </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/notes/{{data.id}}" title="{{data.name | titlecase}}">{{data.name
                                    | titlecase}}</a> </div>
                            <div class="product-list__title tutor-subject"> <span title="User Name :{{data.userid | titlecase}}"
                                    routerLink="/notes/{{data.id}}">{{data.userid | titlecase}}</span> </div>
                            <div class="rating_and_price">
                                <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                                <a class="product-list__price" routerLink="/notes/{{data.id}}">{{data.price |
                                    currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i class="far fa-heart" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                        *ngIf="!data.wishlist==true" title="Add to Watchlist"></i> <i *ngIf="!data.wishlist==false"
                                        class=" fas fa-heart sh-red " title="Delete From Watchlist" (click)="deleteFWL(data)"></i>
                                    <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                        (click)="delfromcart(data)"></i> <i *ngIf="!data.cart==true" class="wishlist material-icons"
                                        title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                        add_shopping_cart</i> </div>
                                <div class="buy_btn"> <a class="btn-style" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="openDialog3(data?.id)">Offer Now</a> </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style" (click)="checkmainpage(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now at{{data?.price |
                                    currency:'USD'}}</a> <a class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                    (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                                    Bid Now at{{data?.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Note Already Bought</a>
                                    <a class="btn-style text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                        Note add by me </a> </div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center"> <a routerLink="/ngseemore/NotesTrendingNow" class=" btn-style">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Top-Rated-Courses">Top Rated Notes </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of topratednotes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img"> <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}"
                                    onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'" alt="Notes">
                            </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/notes/{{data.id}}" title="{{data.name | titlecase}}">{{data.name
                                    | titlecase}}</a> </div>
                            <div class="product-list__title tutor-subject"> <span title="User Name :{{data.userid | titlecase}}"
                                    routerLink="/notes/{{data.id}}">{{data.userid | titlecase}}</span> </div>
                            <div class="rating_and_price">
                                <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                                <a class="product-list__price" routerLink="/notes/{{data.id}}">{{data.price |
                                    currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red "
                                        title="Delete From Watchlist" (click)="deleteFWL(data)"></i> <i class="far fa-heart"
                                        (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)" *ngIf="!data.wishlist==true"
                                        title="Add to Watchlist"></i> <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                        title="Click and remove from Cart" (click)="delfromcart(data)"></i> <i *ngIf="!data.cart==true"
                                        class="wishlist material-icons" title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                        add_shopping_cart</i> </div>
                                <div class="buy_btn"> <a class="btn-style" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="openDialog3(data?.id)">Offer Now</a> </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style" (click)="checkmainpage(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now at{{data.price |
                                    currency:'USD'}}</a> <a class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                    (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                                    Bid Now at{{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true "
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Note Already Bought</a>
                                    <a class="btn-style text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                        Note add by me </a> </div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center"> <a routerLink="/ngseemore/TopRatedNotes" class=" btn-style">See more</a>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Recently-Visited-Courses">Recently Viewed Notes </h2>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of recentnotes?.notes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img"> <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}"
                                    onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'" alt="Notes">
                            </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/notes/{{data.id}}" title="{{data.name | titlecase}}">{{data.name
                                    | titlecase}}</a> </div>
                            <div class="product-list__title tutor-subject"> <span title="User Name :{{data.userid | titlecase}}"
                                    routerLink="/notes/{{data.id}}">{{data.userid | titlecase}}</span> </div>
                            <div class="rating_and_price">
                                <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                                <a class="product-list__price" routerLink="/notes/{{data.id}}">{{data.price |
                                    currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red "
                                        title="Delete From Watchlist" (click)="deleteFWL(data)"></i> <i class="far fa-heart"
                                        (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)" *ngIf="!data.wishlist==true"
                                        title="Add to Watchlist"></i> <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                        title="Click and remove from Cart" (click)="delfromcart(data)"></i> <i *ngIf="!data.cart==true"
                                        class="wishlist material-icons" title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                        add_shopping_cart</i> </div>
                                <div class="buy_btn"> <a class="btn-style" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="openDialog3(data?.id)">Offer Now</a> </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style" (click)="checkmainpage(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now at{{data.price |
                                    currency:'USD'}}</a> <a class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                    (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                                    Bid Now at{{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Note Already Bought</a> 
                                    <a class="btn-style text-transform-none" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                        Note add by me </a></div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12 text-center"> <a routerLink="/ngseemore/RecentlyViewedNotes" class=" btn-style">See more</a>
        </div>
    </div>
</div>
<div *ngIf="bidnotesLength==0">
    <h2>NO Record Found</h2>
</div>
<div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content margin-top-175">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Bid on Note</h1>
                </div>
            </div>
            <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'notes', id:bidonnotes}"
                    class="view-bid">view bid history </a> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'notes', id:bidonnotes}">
                    <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{notebid?.endtime}}"></countdown>
                    <p>Highest bid amount:{{notes?.bidamount}}</p>
                </a>
                <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form"> <label>Place Your
                        own bid:</label>
                    <mat-form-field> <input matInput type="number" min="0" onKeyPress="if(this.value.length==4) return false;" placeholder="Enter bid amount (US $)*"
                            [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount"> </mat-form-field> <a
                        class="btn-style" (click)="biding()" data-dismiss="modal">Bid Now </a>
                </form>
            </div>
        </div>
    </div>
</div>
