<app-loader></app-loader>
<div class="sh-allbooks search-fixed">
    <div class="col-lg-12 padding-top-40">
        <form class="search-bg">
            <input placeholder="Search Notes" type="search" name=querysearch [(ngModel)]="query" #querysearch="ngModel"
                (keyup)=filter(query) class="search-bg__text">
            <button class="search-bg__btn" (click)="onsubmit(query)">Search</button>
        </form>
        <div class="search-results">
            <ul class="list-normal">
                <li *ngFor="let data of searchResult;">
                    <a routerLink="/notes/{{data.id}}" (click)="filter(query)">
                        <i class="material-icons">arrow_forward</i>{{data.name}}</a>
                </li>
                <li *ngIf="searchResult.length==0"> </li>
            </ul>
        </div>
    </div>
</div>
<ngx-slick class="carousel homeSlider innerpages" #slickModal="slick-modal" [config]="slideConfig2">
    <div ngxSlickItem class="slide item" *ngFor="let data of inner; let i=index">
        <div class="item-inner">
            <a routerLink="/subcategory/{{data.id}}">
                <img src="../../../assets/img/Categories%20Web%20Images/{{data.image}}" alt="">
                <h4 class="homesilder-title">{{data.c_name}}</h4>
            </a>
        </div>
    </div>
</ngx-slick>
<div class="container-fluid padding-l-r-60 mb-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes">Bid & Buy on Notes </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of result?.notes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img">
                            <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">
                                <img src="{{Imageurl}}{{data?.notes_thumbnail}}" alt="Notes"> </a>
                            <div class="wishlist-overlay">
                                <a class="product-list__wishlist" title="Add to wishlist" (click)="addwishlist(data.id)">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </figure>
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}" title="{{data?.name}}">{{data?.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <span title="User Name :{{data?.userid}}" [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">{{data?.userid}}</span>
                            </div>
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <p class="product-list__price">{{data?.price | currency:'USD'}}</p>
                            <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                                (click)="bididget(data?.id)">
                                <div *ngIf="data.wishlist !=null" class="sh-red">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </a>
                            <div class="product-list__wishlist wishlist_icon" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                *ngIf="!data.wishlist==true">
                                <i class="far fa-heart"></i>
                            </div>
                            <div *ngIf="!data.cart==false">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                            </div>
                            <div *ngIf="!data.cart==true">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                    <a _ngcontent-c1="" class="wishlist material-icons"
                                        title="Add to Cart">add_shopping_cart</a></div>
                            </div>
                        </div>
                        <div class="text-center margin-top-10">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased" (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        <div class="product-list__item-info-1">
                            <a class="btn-style" (click)="checkbuy(data?.id,nullvalue,nullvalue,nullvalue)" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
                            <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
                            <a class="btn-style"  *ngIf="data.Purchased == true" data-target="#notesbid">Note Already Bought</a>

                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a routerLink="/ngseemore/Bid&BuyNotes" class="btn-01">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Courses-Trending-Now"> Notes Trending Now</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of trendingnotes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img">
                            <a routerLink="/notes/{{data.id}}">
                                <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt="Notes"> </a>
                            <div class="wishlist-overlay">
                                <a class="product-list__wishlist" title="Add to wishlist" (click)="allbids(data.id)">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </figure>
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <span title="User Name :{{data.userid | titlecase}}" [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">{{data.userid | titlecase}}</span>
                            </div>
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <p class="product-list__price">{{data.price | currency:'USD'}}</p>
                            <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                                (click)="allbids(data.id)">
                                <div *ngIf="data.wishlist !=null" class="sh-red">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </a>
                            <div class="product-list__wishlist wishlist_icon" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                *ngIf="!data.wishlist==true">
                                <i class="far fa-heart"></i>
                            </div>
                            <div *ngIf="!data.cart==false">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                            </div>
                            <div *ngIf="!data.cart==true">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                    <a _ngcontent-c1="" class="wishlist material-icons"
                                        title="Add to Cart">add_shopping_cart</a></div>
                            </div>
                        </div>
                        <div class="text-center margin-top-10">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased" (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        <div class="product-list__item-info-1">
                            <a class="btn-style" (click)="checkbuy(data?.id,nullvalue,nullvalue,nullvalue)" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
                            <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
                            <a class="btn-style"  *ngIf="data.Purchased == true" data-target="#notesbid">Note Already Bought</a>

                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a routerLink="/ngseemore/NotesTrendingNow" class="btn-01">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Top-Rated-Courses">Top Rated Notes </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of topratednotes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img">
                            <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">
                                <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt="Notes"> </a>
                            <div class="wishlist-overlay">
                                <a class="product-list__wishlist" title="Add to wishlist" (click)="allbids(data.id)">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </figure>
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <span title="User Name :{{data.userid | titlecase}}" [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">{{data.userid | titlecase}}</span>
                            </div>
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <p class="product-list__price">{{data.price | currency:'USD'}}</p>
                            <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                                (click)="allbids(data.id)">
                                <div *ngIf="data.wishlist !=null" class="sh-red">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </a>
                            <div class="product-list__wishlist wishlist_icon" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                *ngIf="!data.wishlist==true">
                                <i class="far fa-heart"></i>
                            </div>
                            <div *ngIf="!data.cart==false">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                            </div>
                            <div *ngIf="!data.cart==true">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                    <a _ngcontent-c1="" class="wishlist material-icons"
                                        title="Add to Cart">add_shopping_cart</a></div>
                            </div>
                        </div>
                        <div class="text-center margin-top-10">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased"  (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        <div class="product-list__item-info-1">
                            <a class="btn-style" (click)="checkbuy(data?.id,nullvalue,nullvalue,nullvalue)" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
                            <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
                            <a class="btn-style"  *ngIf="data.Purchased == true " data-target="#notesbid">Note Already Bought</a>

                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a routerLink="/ngseemore/TopRatedNotes" class="btn-01">See more</a>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Recently-Visited-Courses">Recently Visited Notes </h2>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of recentnotes; let i=index">
                    <div class="product-list__item">
                        <figure class="product-list__img">
                            <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">
                                <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt="Notes"> </a>
                            <div class="wishlist-overlay">
                                <a class="product-list__wishlist" title="Add to wishlist" (click)="allbids(data.id)">
                                    <i class="far fa-heart"></i>
                                </a>
                            </div>
                        </figure>
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <span title="User Name :{{data.userid | titlecase}}" [routerLink]="['/notes']" [queryParams]="{noteidget : data.id}">{{data.userid | titlecase}}</span>
                            </div>
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <p class="product-list__price">{{data.price | currency:'USD'}}</p>
                            <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                                (click)="allbids(data.id)">
                                <div *ngIf="data.wishlist !=null" class="sh-red">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </a>
                            <div class="product-list__wishlist wishlist_icon" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                *ngIf="!data.wishlist==true">
                                <i class="far fa-heart"></i>
                            </div>
                            <div *ngIf="!data.cart==false">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                            </div>
                            <div *ngIf="!data.cart==true">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                    <a _ngcontent-c1="" class="wishlist material-icons"
                                        title="Add to Cart">add_shopping_cart</a></div>
                            </div>
                        </div>
                        <div class="text-center margin-top-10">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased" (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        <div class="product-list__item-info-1">
                            <a class="btn-style" (click)="checkbuy(data?.id,nullvalue,nullvalue,nullvalue)" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
                            <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidnotesid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
                            <a class="btn-style"  *ngIf="data.Purchased == true" data-target="#notesbid">Note Already Bought</a>

                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12 text-center">
            <a routerLink="/ngseemore/RecentlyVisitedNotes" class="btn-01">See more</a>
        </div>
    </div>
</div>
<div *ngIf="bidnotesLength==0">
    <h2>NO Record Found</h2>
</div>
<div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content margin-top-175">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Bid on Notes</h1>
                </div>
            </div>
            <div class="modal-body">
              <a [routerLink]="['/bid-history']" [queryParams]="{cat:'notes', id:bidonnotes}" class="view-bid">view bid history </a>
                <form name="form" role="form" method="post" class="user-add-ingo-form">
                    <label>Place Your own bid:</label>
                    <mat-form-field>
                        <input matInput type="text" maxlength="4" placeholder="Enter bid amount (US $)*" [(ngModel)]="model.bidamount"
                            #bidamount="ngModel" name="bidamount"> </mat-form-field>
                    <a class="user-add-ingo-form-btn" (click)="biding()">BID NOW </a>
                </form>
            </div>
        </div>
    </div>
</div>
