<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-sm-3 p-0 border-right">
      <div class="heading">Chat Users</div>
      <ul>
        <li *ngFor="let chatT of allChatTutors" (click)="assignNewRoom(chatT.user.username)">
          <img src="{{Imageurl}}{{chatT.profile_picture}}">
          <span class="chat-user-name">{{chatT.user.username}}</span>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
        <div class="heading">Chats</div>
        <ul *ngFor="let cHis of chatHistory">
          <li *ngIf="cHis.Sender==userid" style="text-align: right; color: blue"> 
            {{cHis.MessageText}} &nbsp; &nbsp; {{cHis.CreatedAt.slice(cHis.CreatedAt.indexOf(":")+1,cHis.CreatedAt.indexOf("."))}}
          </li>
          <li *ngIf="cHis.Sender!=userid" style="text-align: left; color: silver"> 
            {{cHis.MessageText}} &nbsp; &nbsp; {{cHis.CreatedAt.slice(cHis.CreatedAt.indexOf(":")+1,cHis.CreatedAt.indexOf("."))}}
          </li>
        </ul>
        <ul id="msgUl">
        </ul>
        <input type="text" #msg>
        <button (click)="sendMsg(msg.value)">Send</button>
    </div>
    <div class="col-sm-3 p-0 border-left">
        <div class="heading">Previous Chats</div>
        <ul>
          <li *ngFor="let pChats of previouschats" (click)="getChats(pChats.room_id)">
            <img src="{{pChats.receiver_pic}}">
              <span class="chat-user-name">{{pChats.receiver}}</span>
              <span class="chat-unread">unread:{{pChats.unread}}</span>
              <span class="chat-date">{{pChats.CreatedAt.split('T',1)}}</span>
              <span class="chat-msg">{{pChats.message}}</span>
            <img class="float-right" src="{{pChats.sender_pic}}">
          </li>
        </ul>
    </div>
  </div>
</div>