<h1>Chat Users</h1>
<ul *ngFor="let chatT of allChatTutors" (click)="assignNewRoom(chatT.user.username)">
  <li><img src="{{Imageurl}}{{chatT.profile_picture}}"></li>
  <li>{{chatT.user.username}} </li>
</ul>
<h1>Previous Chats</h1>
<ul *ngFor="let pChats of previouschats" (click)="getChats(pChats.room_id)">
  <li>
    <img src="{{pChats.receiver_pic}}"><br>
    {{pChats.receiver}} &nbsp; &nbsp;
    unread:{{pChats.unread}}<br>
    {{pChats.CreatedAt.split('T',1)}}<br>
    {{pChats.message}}<br>
    <img style="width: 10%; height: 5%;" src="{{pChats.sender_pic}}">
  </li>
</ul>
<h1>ChATS</h1>
<ul *ngFor="let cHis of chatHistory">
  <li *ngIf="cHis.Sender==userid" style="text-align: right; color: blue"> 
    {{cHis.MessageText}} &nbsp; &nbsp; {{cHis.CreatedAt.slice(cHis.CreatedAt.indexOf(":")+1,cHis.CreatedAt.indexOf("."))}}
  </li>
  <li *ngIf="cHis.Sender!=userid" style="text-align: left; color: silver"> 
      {{cHis.MessageText}} &nbsp; &nbsp; {{cHis.CreatedAt.slice(cHis.CreatedAt.indexOf(":")+1,cHis.CreatedAt.indexOf("."))}}
  </li>
</ul>
  <ul id="msgUl">
  <!-- <li id="currentUserMsg" style="text-align: right; color: blue"> </li>
  <li id="otherUserMsg" style="text-align: left; color: silver"> </li> -->
</ul>

<!-- <button (click)="webSocketFunc()">Cooncet To server</button> -->
<input type="text" #msg>
<button (click)="sendMsg(msg.value)">Send</button>
<!-- <div>{{rcvMsg}} </div> -->

