.modal-title-cust {
    color: #c00;
    font-size: 28px
}
.btn-style {
    color: #fff !important;
    font-size: 25px;
    display: inline-block;
    border: 1px solid #000;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 30px
}

.board-1 {
    color: #fff;
    font-size: 25px
}

.board-1 .nav-tabs {
    position: relative;
    border-bottom: none !important;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    border-radius: 5px;
    overflow: hidden;
    display: block;
}

.board-1 .nav-tabs>li {
    list-style: none;
    border-right: 2px solid #fff;
    position: relative
}

.board-1 .nav-tabs>li:last-child {
    border-right: none
}

.board-1 .nav-tabs li a.nav-link {
    color: #fff !important;
    text-decoration: none !important;
    background-color: #000 !important;
    border-radius: 0 !important;
    border: none !important;
    transition: .5s all;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    padding: 7px 0
}

.board-1 .nav-tabs li a.nav-link:hover {
    background: rgba(0, 0, 0, .85) !important
}

.board-1 .nav-tabs li a.nav-link.active {
    color: #000 !important;
    background-color: #fff !important
}

.board-1 .nav-tabs li a i {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    padding: 11px;
    vertical-align: middle
}

.board-1 .nav-tabs li a.active i {
    border: 2px solid #000
}

.board-1 .nav-tabs>li>a.active:after {
    opacity: 1;
    bottom: 0;
    left: 45%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 10px solid transparent;
    border-bottom-color: #000
}