<div class="form-1-img">
    <div class="row">
        <div class="form-1 form-width">
            <div class="form-1-header">
                <h1>Sign in to Your Account</h1>
                <ul class="form-1-sl">
                    <li> <a (click)="facebooklogin()"> <img src="../../assets/img/icon-facebook.png"> </a> </li>
                    <li> <a (click)="googlelogin()"> <img src="../../assets/img/icon-Google.png"> </a> </li>
                </ul>
            </div>
            <div class="form-1-body text-center">
                <form [formGroup]="loginForm" class="sh-signup-form-fix">
                    <mat-form-field class="singup-feilds-padding"> <input class="signup-input-font" matInput
                            placeholder="Username" type="text" formControlName="username">
                        <mat-error *ngIf="username.touched && username.invalid">
                            <mat-error *ngIf="username.errors.required"> Username cannot be empty </mat-error>
                            <mat-error *ngIf="username.errors.cannotContainSpace"> Username cannot contain space
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="singup-feilds-padding margin-top-10"> <input matInput
                            [type]="hide ? 'password' : 'text'" placeholder="Password" type="password"
                            formControlName="password">
                        <mat-icon class="pointer" data-toggle="tooltip" title="{{hide? 'Show' : 'Hide'}}Password"
                            matSuffix (click)="hide=!hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="password.touched && password.invalid">
                            <mat-error *ngIf="password.errors.required"> Password cannot be empty </mat-error>
                            <mat-error *ngIf="password.errors.cannotContainSpace"> Password cannot contain space
                            </mat-error>
                        </mat-error>
                    </mat-form-field>
                    <div class="text-left float-left"> <a value="Delete" data-toggle="modal" data-target="#myModal3"
                            class="form-1-forgot">Forgot
                            Password?</a> </div>
                    <app-recapcha></app-recapcha>
                    <div class="float-l">
                        <mat-slide-toggle (change)="doCheck($event)" [checked]="isChecked">Stay signed in
                        </mat-slide-toggle>
                    </div>

                    <button class="form-1-btn mt-3" (click)="Login()">Sign in</button>
                </form>
                <div class="have-account">Don't have an account? <a routerLink="/signup"> Sign Up</a> </div>
                <div class="terms-cond">
                    <a href="/terms" target="blank">Terms of Use </a> <a href="/privacy-policy" target="blank">
                        Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Forgot Password</h1>
                </div>
            </div>
            <form [formGroup]="forgotpasswordForm">
                <div class="modal-body my-3">
                    <mat-form-field class="singup-feilds-padding width100"> <input class="signup-input-font" matInput
                            type="text" id="email" formControlName="email" placeholder="Registered Email">
                        <mat-error *ngIf="email.touched && email.invalid">
                            <mat-error *ngIf="email.errors.required"> Email cannot be empty </mat-error>
                            <mat-error *ngIf="email.errors.pattern"> You can enter only email </mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="modal-footer"> <button class="modal-btn" (click)="onSubmit()">Reset</button> <button
                        class="modal-btn" data-dismiss="modal">Cancel</button> </div>
            </form>
        </div>
    </div>
</div>