<div class="container user-dashboard">
    <div class="row my-3">
        <div class="col-md-3 sidebar">
            <nav>
                <form class="user-profile-form">
                    <div class="profile-picture" *ngIf="profilePhoto"> <img src="{{profilePhoto}}"
                            onerror="this.src='../assets/img/default-user-icon-profile.png'">
                    </div>
                    <div class="profile-picture" *ngIf="!profilePhoto"> <img
                            src="../assets/img/default-user-icon-profile.png"
                            onerror="this.src='../assets/img/default-user-icon-profile.png'"> </div>
                    <h4 class="user-name text_cap">{{firstname}}&nbsp;{{lastname}}</h4>
                </form> <a class="user-link" routerLink="/uploadnotes" routerLinkActive="active1"><i
                        class="fa fa-file-alt"></i>Add
                    Notes</a> <a class="user-link" routerLink="/upload" routerLinkActive="active1"
                    *ngIf="check_login() && checkrole()"><i class="fa fa-th-large"></i>Add Courses</a> <a
                    class="user-link" routerLink="/uploadcard" routerLinkActive="active1" data-toggle="collapse"
                    data-parent="#MainMenu" *ngIf="check_login() && checkrole()"><i class="fa fa-book-open"></i>Add
                    Flash Cards</a> <a class="user-link display-none" routerLink="/uploadcarddetail"
                    routerLinkActive="active1" *ngIf="check_login() && checkrole()"><i
                        class="fa fa-book-open"></i>FlashCard
                    Detail</a> <a class="user-link" routerLink="/uploadbook" routerLinkActive="active1"
                    *ngIf="check_login() && checkrole()"><i class="fa fa-book"></i>Add Books</a>
            </nav>
        </div>
        <div class="col-md-8 user-profile">
            <h1 class="user-heading">List Flash Card for Sale</h1>
            <ul class="nav nav-tabs nav-justified margin-top-10">
                <li class="nav-item"> <a href="#user_signup" data-toggle="tab" class="nav-link nav-active active"
                        title="Flash Card">
                        Flash Card </a> </li>
                <li class="nav-item"> <a href="#inst_signup" data-toggle="tab" class="nav-link nav-active"
                        title="Flash Card Details">
                        Flash Card Details </a> </li>
            </ul>
            <div class="tab-content padding-top-10">
                <div id="user_signup" class="form-1-body padding-top-10 tab-pane active">
                    <form #f="ngForm" class="user-add-ingo-form" enctype="multipart/form-data">
                        <mat-form-field> <input matInput type="text" class="Input-capitalize" placeholder="Title"
                                minlength="1" maxlength="60" [(ngModel)]="model.name" name="name" #name="ngModel"
                                minlength="2" maxlength="64" #name="ngMoedl" required autofocus />
                            <mat-error *ngIf="name.hasError('required')"> Title is <strong>Required</strong>
                            </mat-error>
                            <mat-error *ngIf="name.hasError('minlength')"> Title should be at least 2 character long
                            </mat-error>
                            <mat-error *ngIf="name.hasError('pattern')"> Please enter a valid Title
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Select Category" type="number" id="category"
                                [(ngModel)]="model.category" name="category" required>
                                <mat-option *ngFor="let data of c_name" [value]="data.id"
                                    (click)="subcategorys(data?.id)">{{data.c_name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="categoryFormControl.hasError('required')"> Category is
                                <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field id="font" *ngIf="result">
                            <mat-select placeholder="Select Sub-Category" type="number" [(ngModel)]="model.subcategory"
                                name="subcategory" id="subcategory" required>
                                <mat-option *ngFor="let data of result" [value]="data.id"
                                    (click)="nestedcategorys(data?.id)">{{data.sub_category_name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="subcategoryFormControl.hasError('required')"> Sub-Category is
                                <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field id="fonts" *ngIf="nestedresult">
                            <mat-select placeholder="Select Nested Category" type="number"
                                [(ngModel)]="model.nestedcategory" name="nestedcategory" id="nestedcategory" required>
                                <mat-option *ngFor="let data of nestedresult" [value]="data.id">{{data.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="nestedcategoryFormControl.hasError('required')"> Nested Category is
                                <strong>Required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-slide-toggle id="showhide6" class="margin-bottom-10" [(ngModel)]="accept_offer"
                            name="accept_offer">Accept
                            Offers</mat-slide-toggle>
                        <div id="showdiv6" class="showid-6">
                            <mat-form-field> <input matInput type="number"
                                    placeholder="Automatically decline offers lower then $"
                                    [(ngModel)]="min_amount" (ngModelChange)="onChange2($event)" name="min_amount"
                                    onKeyPress="if(this.value.length==4) return false;">
                                <span matPrefix>$&nbsp;</span> </mat-form-field>
                            <mat-form-field> <input matInput type="number"
                                    placeholder="Automatically accept offers of at least $"
                                    [(ngModel)]="max_amount" (ngModelChange)="onChange2($event)" name="max_amount"
                                    onKeyPress="if(this.value.length==4) return false;">
                                <span matPrefix>$&nbsp;</span> </mat-form-field>
                                <div class="max-amount-alert" *ngIf="isInvalid">Maximum amount should greater than Minimum amount</div>     
                        </div>
                        <mat-slide-toggle id="showhide" [checked]="true" [(ngModel)]="sell_status" name="sell_status">
                            List
                            for Sale</mat-slide-toggle>
                        <div id="showdiv" class="text-left">
                            <mat-form-field class="margin-top-10"> <input matInput type="number"
                                    placeholder="Buy It Now Price" [(ngModel)]="model.price" name="price"
                                    onKeyPress="if(this.value.length==4) return false;"
                                    oninput="validity.valid||(value='');" min="1">
                                <span matPrefix>$&nbsp;</span> </mat-form-field>
                            <mat-form-field class="material-select margin-top-10">
                                <mat-select placeholder="Buy It Now Listing Duration" [(ngModel)]="sell_days"
                                    name="sell_days">
                                    <mat-option *ngFor="let range of ranges" [value]="range.viewValue">
                                        {{range.viewValue}}&nbsp;Days</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-slide-toggle id="showhide2" [checked]="true" [(ngModel)]="bid_status" name="bid_status">
                            <span *ngIf="sell_status==true">Also List for Auction (You can list for Sale and Auction them off at the same time) </span> <span
                                *ngIf="sell_status==false">
                                List for Auction </span></mat-slide-toggle>
                        <div id="showdiv2">
                            <mat-form-field class="margin-top-10"> <input matInput type="number"
                                    placeholder="Starting Bid Price" [(ngModel)]="model.initial_amount"
                                    name="initial_amount" onKeyPress="if(this.value.length==4) return false;"
                                    oninput="validity.valid||(value='');" min="1">
                                <span matPrefix>$&nbsp;</span> </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="Listing Duration" [(ngModel)]="end_time" name="end_time">
                                    <mat-option *ngFor="let range of range" [value]="range.viewValue">
                                        {{range.viewValue}}&nbsp;Days</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-slide-toggle id="showhide3" [(ngModel)]="model.isreserved" name="isreserved">Reserve Auction
                        </mat-slide-toggle>
                        <div id="showdiv3">
                            <mat-form-field class="margin-top-10"> <input matInput type="number"
                                    placeholder="Reserve Price" [(ngModel)]="model.reservedprice" name="reservedprice"
                                    onKeyPress="if(this.value.length==4) return false;"
                                    oninput="validity.valid||(value='');" min="1">
                                <span matPrefix>$&nbsp;</span> </mat-form-field>
                        </div>
                        <mat-slide-toggle id="showhide4">Start Auction Later</mat-slide-toggle>
                        <div id="showdiv4">
                            <mat-form-field class="margin-top-10"> <input matInput [matDatepicker]="picker"
                                    placeholder="Date&Time" [(ngModel)]="model.start_time" name="start_time"> <span
                                    placeholder="MM/DD/YYYY HH:MM AM"></span>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-hint>MM/DD/YYYY HH:MM AM</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="img-userprofile s_uploaded_img" *ngIf="ImgSrc"> <img accept=".jpg, .jpeg, .png"
                                src="{{ImgSrc}}" alt="" allowmultiple="false" /> </div><span
                            class="btn-file margin-top-10">Upload Flash
                            card Image <input (change)="onChange($event)" #image type="file"
                                accept="image/gif, image/jpeg, image/png" required> </span>
                        <input type="submit" class="btn-style btn margin-top-10 width100" (click)="onSubmit(f)"
                            [disabled]="!f.form.valid">
                    </form>
                </div>
                <div id="inst_signup" class="form-1-body padding-top-10 tab-pane">
                    <form  class="user-add-ingo-form" enctype="multipart/form-data" #form="ngForm">
                        <mat-form-field>
                            <mat-select placeholder="Select FlashCard" type="text" 
                                [(ngModel)]="model.flashcard" name="flashcard" required>
                                <mat-option *ngFor="let item of names" [value]="item.id">{{item.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="flashcard.hasError('required')"> Flashcard is
                                    <strong>Required</strong>
                                </mat-error>
                        </mat-form-field>
                        <mat-form-field> <input matInput type="text" placeholder="Title" minlength="2" maxlength="64"
                                name="title" [(ngModel)]="model.title" required #title="ngModel"  />
                                <mat-error *ngIf="title.hasError('required')"> Title is <strong>Required</strong>
                                </mat-error>
                                <mat-error *ngIf="title.hasError('minlength')"> Title should be at least 2 character long
                                </mat-error> </mat-form-field>
                        <mat-form-field> <textarea matInput type="text" placeholder="Definition" minlength="50" maxlength="300"
                                 name="definition" #definition="ngModel" required
                                [(ngModel)]="model.definition"></textarea>
                                <mat-error *ngIf="definition.hasError('required')"> Defination is <strong>Required</strong>
                                </mat-error>
                                <mat-error *ngIf="definition.hasError('minlength')"> Defination should be at least 50 character long
                                </mat-error> </mat-form-field>
                        <div class="img-userprofile s_uploaded_img" *ngIf="ImgSrc"> <img accept=".jpg, .jpeg, .png"
                                src="{{ImgSrc}}" alt="" allowmultiple="false" /> </div><span class="btn-file"> Upload
                            Image <input (change)="onChange($event)" name="image" #image
                                type="file" accept="image/gif, image/jpeg, image/png" required> </span>
                                 <input type="submit" class="btn-style btn margin-top-10 width100" (click)="onSubmited(form)"  [disabled]="!form.form.valid">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>