.mat-slide-toggle{display:block}mat-checkbox#showhide3{text-align:left;display:block;width:150px}
.showid-6{
    position: relative;
    display: none;
}
.max-amount-alert{
    color: #f44336;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    bottom: 5px;
}