<div class="container-fluid width-70 margin-bottom-20 pt-5">
    <div *ngIf="note" class="check-img-payment">
        <div class="product-list__item">
            <figure class="product-list__img"> <a routerLink="/notes/{{note?.id}}"><img src="{{Imageurl}}{{note?.notes_thumbnail}}"
                    onerror="this.src='/assets/img/Logo-gray.jpg'" alt="Notes"> </a></figure>
            <div class="product-list__content">
                <div class="product-list__category"> <a routerLink="/notes/{{note?.id}}"
                        title="{{note?.name}}">{{note?.name}}</a>
                </div>
            </div>
            <div class="rating_and_price">
                 
                <rating class="rating-star-icons float_left" ngModel="{{note?.rating}}" [readonly]="true"
                    titles="{{note?.rating}}"></rating>
            </div>
        </div>
    </div>
    <div *ngIf="course" class="check-img-payment">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/eachcourse/{{course?.id}}"><img src="{{Imageurl}}{{course?.course_thumbnail}}"
                        onerror="this.src='/assets/img/Logo-gray.jpg'" alt="Course"> </a></figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/eachcourse/{{course?.id}}"
                            title="{{course?.name}}">{{course?.name}}</a>
                    </div>
                </div>
                <div class="rating_and_price">
                        <a class="product-list__price" routerLink="/eachcourse/{{course?.id}}">{{course?.price
                            | currency:'USD'}}</a>
                    <rating class="rating-star-icons float_left" ngModel="{{course?.rating}}" [readonly]="true"
                        titles="{{course?.rating}}"></rating>
                </div>
            </div>
        </div>
        <div *ngIf="card" class="check-img-payment">
                <div class="product-list__item">
                    <figure class="product-list__img"> <a routerLink="/fcdetail/{{card?.id}}"><img src="{{Imageurl}}{{card?.flashcard_image}}"
                            onerror="this.src='/assets/img/Logo-gray.jpg'" alt="Flash Card"> </a></figure>
                    <div class="product-list__content">
                        <div class="product-list__category"> <a routerLink="/fcdetail/{{card?.id}}"
                                title="{{card?.name}}">{{card?.name}}</a>
                        </div>
                    </div>
                    <div class="rating_and_price">
                            <a class="product-list__price" routerLink="/fcdetail/{{card?.id}}">{{card?.price
                                | currency:'USD'}}</a>
                        <rating class="rating-star-icons float_left" ngModel="{{card?.rating}}" [readonly]="true"
                            titles="{{card?.rating}}"></rating>
                    </div>
                </div>
            </div>
            <div *ngIf="book" class="check-img-payment">
                    <div class="product-list__item">
                        <figure class="product-list__img"> <a routerLink="/detail/{{book?.id}}"><img src="{{Imageurl}}{{book?.book_image}}"
                                onerror="this.src='/assets/img/Logo-gray.jpg'" alt="Book"> </a></figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/detail/{{book?.id}}"
                                    title="{{book?.name}}">{{book?.name}}</a>
                            </div>
                        </div>
                        <div class="rating_and_price">
                                <a class="product-list__price" routerLink="/detail/{{book?.id}}">{{book?.price
                                    | currency:'USD'}}</a>
                            <rating class="rating-star-icons float_left" ngModel="{{book?.rating}}" [readonly]="true"
                                titles="{{book?.rating}}"></rating>
                        </div>
                    </div>
                </div>
    <div class="row checkout-select-box">
        <div class="width100">
            <div id="section-pricing" class="text-center">
                <div class="pricing-tenure-switcher center" data-container="#pricing-switch"> <span class="pts-left"
                        *ngIf="!isright" style="color: black">Saved Cards</span> <span class="pts-left"
                        *ngIf="isright">Saved Cards</span>
                    <div class="pts-switcher">
                        <div class="switch"> <input [(ngModel)]="isright" id="switch-toggle-pricing-tenure"
                                class="switch-toggle switch-toggle-round" type="checkbox"> <label
                                for="switch-toggle-pricing-tenure"></label> </div>
                    </div><span class="pts-right" *ngIf="!isright">Add New Card</span> <span class="pts-right"
                        *ngIf="isright" style="color: black">Add New Card</span>
                </div>
                <div id="pricing-switch" class="">
                    <div class="col-md-12" *ngIf="!isright ">
                        <div class="col-lg-12 Saved-card-sel-list">
                            <mat-form-field class="width65">
                                <mat-select class="" placeholder="Select Card">
                                    <mat-option *ngFor="let card of res" [value]="card.id" (click)="getcardid(card.id)">
                                        {{card.nickname}}</mat-option>
                                </mat-select>
                            </mat-form-field> 
                            <a *ngIf="note && !course && !card && !book" class="btn-style width65 btn margin-top-10" (click)="buy()">Buy Now at {{note?.price | currency:'USD'}}</a>
                            <a *ngIf="course && !note && !card && !book" class="btn-style width65 btn margin-top-10" (click)="buy()">Buy Now at {{course?.price | currency:'USD'}}</a>
                            <a *ngIf="card && !note && !course && !book" class="btn-style width65 btn margin-top-10" (click)="buy()">Buy Now at {{card?.price | currency:'USD'}}</a>
                            <a *ngIf="book && !course && !note && !card" class="btn-style width65 btn margin-top-10" (click)="buy()">Buy Now at {{book?.price | currency:'USD'}}</a>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="isright">
                        <div class="checkout">
                            <div [className]="flipclass">
                                <div class="flip">
                                    <div class="front">
                                        <div class="chip"></div>
                                        <div class="logo"> <svg version="1.1" id="visa"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834"
                                                style="enable-background:new 0 0 47.834 47.834;">
                                                <g>
                                                    <g> </g>
                                                </g>
                                            </svg> </div>
                                        <div class="card-holder sh"> <label>Nick Name</label>
                                            <div>{{form.controls.cardnickname.value}}</div>
                                        </div>
                                        <div class="card-holder"> <label>Card Number</label>
                                            <div>{{form.controls.creditno.value}}</div>
                                        </div>
                                        <div class="card-expiration-date"> <label>Expiry Date</label>
                                            <div>{{form.controls.exp.value}}</div>
                                        </div>
                                    </div>
                                    <div class="back">
                                        <div class="strip"></div>
                                        <div class="logo"> <svg version="1.1" id="visa"
                                                xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                width="47.834px" height="47.834px" viewBox="0 0 47.834 47.834"
                                                style="enable-background:new 0 0 47.834 47.834;">
                                                <g>
                                                    <g> </g>
                                                </g>
                                            </svg> </div>
                                        <div class="card-expiration-date"> <label>Expiry Date</label>
                                            <div>{{form.controls.exp.value}}</div>
                                        </div>
                                        <div class="cvv"> <label>CVV</label>
                                            <div>{{form.controls.cvv.value}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form class="user-add-ingo-form" [formGroup]="form" #f="ngForm">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                        <mat-form-field class="card-type">
                                            <mat-select placeholder="Card Type" fromControlName="card_type" #value
                                                (change)="ShowButton(value.value)">
                                                <mat-option *ngFor="let card_get_datat of card_opeation"
                                                    [value]="card_get_datat.value">{{card_get_datat.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="form.controls.card_type.errors.required"> Card Type cannot
                                                be empty </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input class="text_cap" matInput placeholder="Card Holder Name"
                                                type="text" formControlName="cardHolderName" />
                                            <mat-error
                                                *ngIf="form.controls.cardHolderName.touched && form.controls.cardHolderName.invalid">
                                                <mat-error *ngIf="form.controls.cardHolderName.errors.required"> Card
                                                    Holder Name cannot be empty </mat-error>
                                                <mat-error *ngIf="form.controls.cardHolderName.hasError('pattern')">
                                                    Alphabets Only </mat-error>
                                                <mat-error *ngIf="form.controls.cardHolderName.errors.minlength"> Card
                                                    Holder Name must be
                                                    atleast{{form.controls.cardHolderName.errors.minlength.requiredLength}}characters
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.cardHolderName.errors.maxlength"> Card
                                                    Holder Name must be at
                                                    atmost{{form.controls.cardHolderName.errors.maxlength.requiredLength}}characters
                                                    long. </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input matInput placeholder="Nick Name" class="text_cap"
                                                type="text" formControlName="cardnickname" />
                                            <mat-error
                                                *ngIf="form.controls.cardnickname.touched && form.controls.cardnickname.invalid">
                                                <mat-error *ngIf="form.controls.cardnickname.errors.required"> Nick Name
                                                    cannot be empty </mat-error>
                                                <mat-error *ngIf="form.controls.cardnickname.errors.minlength"> Nick
                                                    Name must be at
                                                    least{{form.controls.cardnickname.errors.minlength.requiredLength}}characters
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.cardnickname.errors.maxlength"> Nick
                                                    Name must be at
                                                    most{{form.controls.cardnickname.errors.maxlength.requiredLength}}characters
                                                    long. </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" *ngIf="creditno">
                                        <mat-form-field> <input matInput type="text" placeholder="16 Digit Card Number"
                                                formControlName="creditno" [textMask]="{mask: cardmask}">
                                            <mat-error
                                                *ngIf="form.controls.creditno.touched && form.controls.creditno.invalid">
                                                <mat-error *ngIf="form.controls.creditno.errors.required"> Card number
                                                    cannot be empty </mat-error>
                                                <mat-error *ngIf="form.controls.creditno.errors.minlength"> Card number
                                                    must be
                                                    atleast{{form.controls.creditno.errors.minlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.creditno.errors.maxlength"> Card Number
                                                    must be
                                                    atmost{{form.controls.creditno.errors.maxlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.creditno.hasError('pattern')"> Card
                                                    number must be only in digits. </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" *ngIf="creditno4">
                                        <mat-form-field> <input matInput type="text" placeholder="15 Digit Card Number"
                                                formControlName="creditno4" [textMask]="{mask: cardmask}">
                                            <mat-error
                                                *ngIf="form.controls.creditno4.touched && form.controls.creditno4.invalid">
                                                <mat-error *ngIf="form.controls.creditno4.errors.required"> Card number
                                                    cannot be empty </mat-error>
                                                <mat-error *ngIf="form.controls.creditno4.errors.minlength"> Card number
                                                    must be
                                                    atleast{{form.controls.creditno4.errors.minlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.creditno4.errors.maxlength"> Card Number
                                                    must be at
                                                    atmost{{form.controls.creditno4.errors.maxlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.creditno4.hasError('pattern')"> Card
                                                    number must be only in digits. </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" *ngIf="cvv">
                                        <mat-form-field class=""> <input matInput type="text" maxlength="3"
                                                minlength="3" placeholder="CVV" formControlName="cvv">
                                            <mat-error *ngIf="form.controls.cvv.touched && form.controls.cvv.invalid">
                                                <mat-error *ngIf="form.controls.cvv.errors.required"> CVV cannot be
                                                    empty </mat-error>
                                                <mat-error *ngIf="form.controls.cvv.errors.minlength"> CVV must be
                                                    atleast{{form.controls.cvv.errors.minlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.cvv.errors.maxlength"> CVV must be at
                                                    atmost{{form.controls.cvv.errors.maxlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.cvv.hasError('pattern')"> CVV must be
                                                    only in digits. </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12" *ngIf="cvv4">
                                        <mat-form-field> <input matInput type="text" maxlength="4" minlength="4"
                                                placeholder="CVV No." formControlName="cvv4">
                                            <mat-error *ngIf="form.controls.cvv4.touched && form.controls.cvv4.invalid">
                                                <mat-error *ngIf="form.controls.cvv4.errors.required"> CVV cannot be
                                                    empty </mat-error>
                                                <mat-error *ngIf="form.controls.cvv4.errors.minlength"> CVV must be
                                                    atleast{{form.controls.cvv4.errors.minlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.cvv4.errors.maxlength"> CVV must be at
                                                    atmost{{form.controls.cvv4.errors.maxlength.requiredLength}}digits
                                                    long. </mat-error>
                                                <mat-error *ngIf="form.controls.cvv4.hasError('pattern')"> CVV must be
                                                    only in digits. </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input matInput placeholder="Expiry Date (MM/YY)" type="text"
                                                formControlName="exp" #exp [textMask]="{mask: masks}">
                                            <mat-error *ngIf="form.controls.exp.touched && form.controls.exp.invalid">
                                                <mat-error *ngIf="form.controls.exp.errors.required"> Expiry date cannot
                                                    be empty </mat-error>
                                                <mat-error *ngIf="form.controls.exp.hasError('pattern')"> Expiry date
                                                    must be in MM/YY format. </mat-error>
                                            </mat-error><span class="card-error" *ngIf="exp <='19'"> Invalid Expiry Date
                                            </span>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input matInput placeholder="Zip Code" type="text"
                                                formControlName="zipcode" (ngModelChange)="zipcodeCheck(zipcode1.value)"
                                                #zipcode1 />
                                            <mat-error *ngIf="form.controls.zipcode.hasError('pattern')"> Zip Code must
                                                be only in digits. </mat-error>
                                            <mat-error *ngIf="form.controls.zipcode.hasError('required')"> Zip Code
                                                cannot be empty </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input class="text_cap" matInput placeholder="Street"
                                                type="text" formControlName="street" />
                                            <mat-error *ngIf="form.controls.street.hasError('required')"> Street cannot
                                                be empty </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input class="text_cap" matInput placeholder="City" type="text"
                                                formControlName="city" />
                                            <mat-error *ngIf="form.controls.city.hasError('pattern')"> City Name Must Be
                                                In Alphabets Only </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input class="text_cap" matInput placeholder="State"
                                                type="text" formControlName="state" />
                                            <mat-error *ngIf="form.controls.state.hasError('pattern')"> State Name Must
                                                Be In Alphabets Only </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                                        <mat-form-field> <input class="text_cap" matInput placeholder="Country"
                                                type="text" formControlName="country" />
                                            <mat-error *ngIf="form.controls.country.hasError('pattern')"> Country Name
                                                Must Be In Alphabets Only </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                                        <mat-slide-toggle [checked]="false" formControlName="check">Set as Default
                                            Payment Method </mat-slide-toggle>
                                    </div>
                                </div>
                                    <a *ngIf="note && !course && !card && !book" class="btn-style width50 btn margin-top-10" (click)="buywithcard(f)">Buy Now at {{note?.price | currency:'USD'}}</a>
                                    <a *ngIf="course && !note && !card && !book" class="btn-style width50 btn margin-top-10" (click)="buywithcard(f)">Buy Now at {{course?.price | currency:'USD'}}</a>
                                    <a *ngIf="card && !note && !course && !book" class="btn-style width50 btn margin-top-10" (click)="buywithcard(f)">Buy Now at {{card?.price | currency:'USD'}}</a>
                                    <a *ngIf="book && !course && !note && !card" class="btn-style width50 btn margin-top-10" (click)="buywithcard(f)">Buy Now at {{book?.price | currency:'USD'}}</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>