<div class="container" *ngIf="bidbuycourse?.courses">
    <h1 class="mainbanner bg-Bid-Notes">Buy & Bid on Courses</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of bidbuycourse?.courses; let i=index">
            <div class="product-list__item">
                <!-- Image start -->
                <figure class="product-list__img">
                    <a routerLink="/eachcourse/{{data.id}}">
                        <img src="{{Imageurl}}{{data.course_thumbnail}}" alt="Course"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- course and author name start -->
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/eachcourse/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject mb-3">
                        <span title="Author Name:{{data.author}}"
                            routerLink="/eachcourse/{{data.id}}">{{data.author}}</span>
                    </div>
                    <!-- course and author name end -->
                    <!-- rating and price start -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- rating and price end -->
                    <!-- heart, cart and offer now start -->
                    <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- heart, cart and offer now end -->
                    <!-- buy and bid now start -->
                    <div class="product-list__item-info-1">
                        <a class="btn-style" (click)="courses(data?.id)"
                            *ngIf="data?.sell_status==true && !data.Purchased "> Buy Now at
                            {{data.price | currency:'USD'}} </a>
                        <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                            (click)="bidcourseid(data?.id)" data-dismiss="modal"
                            *ngIf="data.bid_status==true && !data.Purchased "> Bid Now at
                            {{data.bid_price | currency:'USD'}}</a>

                        <a class="already-bought" data-target="#notesbidnow" *ngIf="data.Purchased==true">
                            <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                            Bought</a>
                    </div>
                </div>
                <!-- buy and bid now end -->
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="trendingcourse?.courses">
    <h1 class="mainbanner bg-Bid-Notes">Courses Trending Now</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of trendingcourse?.courses; let i=index">
            <div class="product-list__item">
                <!-- image start -->
                <figure class="product-list__img">
                    <a routerLink="/eachcourse/{{data.id}}">
                        <img src="{{Imageurl}}{{data.course_thumbnail}}" alt="Course"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- image end -->
                <!-- course and author name start -->
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/eachcourse/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject mb-3">
                        <span title="Author Name:{{data.author| titlecase}}"
                            routerLink="/eachcourse/{{data.id}}">{{data.author | titlecase}}</span>
                    </div>
                    <!-- course and author name end -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- course and author name end -->
                    <!-- heart, cart and offer now start -->
                    <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- heart, cart and offer now end -->
                    <!-- buy and bid now start -->
                    <div class="product-list__item-info-1">
                        <a class="btn-style" (click)="checknotes()"> Buy Now at {{data.price | currency:'USD'}}</a>
                        <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                            (click)="bidcourseid(data?.id)" data-dismiss="modal" *ngIf="data.bid_status==true"> Bid Now
                            at {{data.bid_price | currency:'USD'}}
                        </a>
                        <a class="already-bought" data-target="#notesbidnow" *ngIf="data.Purchased==true">
                            <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                            Purchased</a>
                    </div>
                    <!-- buy and bid now end -->
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-lg-12">-->
    <!--<ul class="pagination justify-content-center">-->
    <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage===1}">-->
    <!--<a class="page-link" (click)="setPagecourse(1)" aria-label="Previous"> Previous </a>-->
    <!--</li>-->
    <!--<li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="setPagecourse(page)">-->
    <!--<a class="page-link">{{page}}</a>-->
    <!--</li>-->
    <!--<li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}">-->
    <!--<a class="page-link" (click)="setPagecourse(pager.totalPages)" aria-label="Next"> Next </a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-12">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}">
                    <a (click)="setPagecourse(1)" class="page-link">First</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}">
                    <a (click)="setPagecourse(pager.currentPage - 1)" class="page-link">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}">
                    <a (click)="setPagecourse(page)" class="page-link">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}">
                    <a (click)="setPagecourse(pager.currentPage + 1)" class="page-link" type="Next">Next</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}">
                    <a (click)="setPagecourse(pager.totalPages)" class="page-link" type="Last">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="toprated?.courses">
    <h1 class="mainbanner bg-Bid-Notes">Top Rated Courses</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of toprated?.courses; let i=index">
            <div class="product-list__item">
                <!-- Image start -->
                <figure class="product-list__img">
                    <a routerLink="/eachcourse/{{data.id}}">
                        <img src="{{Imageurl}}{{data.course_thumbnail}}" alt="Course"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- course and author anme start -->
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/eachcourse/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject mb-3">
                        <span title="Author Name:{{data.author | titlecase}}"
                            routerLink="/eachcourse/{{data.id}}">{{data.author | titlecase}}</span>
                    </div>
                    <!-- course and author name end -->
                    <!-- rating and price start -->
                    <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- rating and pprice end -->
                  <!-- heart, cart and offer now start -->
                  <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- heart, cart and offer now end -->
                    <!-- buy and bid now start -->
                <div class="product-list__item-info-1">
                    <a class="btn-style" (click)="courses(data?.id)"
                        *ngIf="data?.sell_status==true && !data.Purchased "> Buy Now at {{data.price | currency:'USD'}}</a>
                    <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                        (click)="bidcourseid(data?.id)" data-dismiss="modal"
                        *ngIf="data.bid_status==true && !data.Purchased "> Bid Now at {{data.bid_price | currency:'USD'}}</a>
            
                <a class="already-bought" data-target="#notesbidnow" *ngIf="data.Purchased==true">
                        <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                    Bought</a>
                </div>
                <!-- buy and bid now end -->
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===1}">
                    <a class="page-link" (click)="setPagecourse(1)" aria-label="Previous"> Previous </a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}"
                    (click)="setPagecourse(page)">
                    <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}">
                    <a class="page-link" (click)="setPagecourse(pager.totalPages)" aria-label="Next"> Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="recent">
    <h1 class="mainbanner bg-Bid-Notes">Recently Visited Courses </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of recent?.courses; let i=index">
            <div class="product-list__item">
                <!-- Image start -->
                <figure class="product-list__img">
                    <a routerLink="/eachcourse/{{data.id}}">
                        <img src="{{Imageurl}}{{data.course_thumbnail}}" alt="Course"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <!-- Image end -->
                <!-- course and author name start -->
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/eachcourse/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject mb-3">
                        <span title="Author Name:{{data.author | titlecase}}" routerLink="/eachcourse/{{data.id}}">{{data.author | titlecase}}</span>
                    </div>
                <!-- course and author name end -->
                  <!-- rating and price start -->
                  <div class="rating_and_price">
                        <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                        <a class="product-list__price"
                            routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    </div>
                    <!-- rating and pprice end -->
                  <!-- heart, cart and offer now start -->
                  <div class="heart_cart_buy">
                        <div class="heart_cart">
                            <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons" title="Add to Cart"
                                (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                    </div>
                    <!-- heart, cart and offer now end -->
                    <!-- buy and bid now start -->
                <div class="text-center margin-top-10">
                    <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                        (click)="openDialog3(data?.id)">Offer Now</a>
                </div>

                <div class="product-list__item-info-1">
                    <a class="btn-style" (click)="courses(data?.id)"
                        *ngIf="data?.sell_status==true && !data.Purchased "> Buy Now at {{data.price | currency:'USD'}}</a>
                    <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow"
                        (click)="bidcourseid(data?.id)" data-dismiss="modal"
                        *ngIf="data.bid_status==true && !data.Purchased "> Bid Now at {{data.bid_price | currency:'USD'}}</a>
                
                <a class="already-bought" data-target="#notesbidnow" *ngIf="data.Purchased==true">
                        <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                    Bought</a>
                </div>
                <!-- bid and buy now end -->
            </div>
        </div>
    </div>
</div>
  <!----bid on course---->
  <div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content margin-top-175">
        <div class="modal-header">
          <div class="form-1-header">
            <h1>Bid on Course</h1>
          </div>
        </div>
        <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}"
                                    class="view-bid">view bid history </a>
          <form name="form" role="form" method="post" (ngSubmit)="bidc(f)" #f="ngForm" class="user-add-ingo-form">
            <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}"> <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{coursebid?.endtime}}"></countdown>
              <p>Higher bid amount:{{course?.bidamount}}</p>
            </a>
            <label>Place Your own bid:</label>
            <mat-form-field>
              <input matInput type="number" maxlength="4" placeholder="Enter bid amount (US $)*" [(ngModel)]="model.bidamount"
                     #bidamount="ngModel" name="bidamount">
            </mat-form-field> <a class="user-add-ingo-form-btn" (click)="bidc()" data-dismiss="modal">BID NOW
          </a>
          </form>
        </div>
      </div>
    </div>
  </div>
