<div class="container-fluid padding-0">
    <!-- <h1 class="mainbanner">{{name}}</h1> -->
    <ul class="nav nav-tabs nav-justified fcdetail">
        <li class="nav-item"> <a data-toggle="tab" href="#listofterms" class="nav-link nav-active active" title="List of Terms">List
                of Terms</a> </li>
        <li class="nav-item"> <a data-toggle="tab" href="#flipflashcards" id="flipFlash" class="nav-link nav-active"
                title="Flip Flash Cards">Flip Flash Cards</a> </li>
        <li class="nav-item"> <a data-toggle="tab" href="#flashcarddetail" id="flashdetail" class="nav-link nav-active"
                title="Flash Card Details">Flash Card Detail</a> </li>
    </ul>
    <div class="tab-content">
        <div id="listofterms" class="tab-pane active margin-bottom-200">
            <div class="container-fluid">
                <h1 class="mainbanner">List of Terms</h1>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-striped css-serial">
                        <tr>
                            <th>Sr# </th>
                            <th>Terms</th>
                            <th>Definition</th>
                        </tr>
                        
                        <tr *ngFor="let data of flashCardTermsDefinitionsData; let i=index">
                            <td>
                                <ol type="1"></ol>
                            </td>
                            <td>{{data.title | titlecase}}</td>
                            <td>{{data.definition | titlecase}}</td>
                            
                        </tr>
                    </table><br>
                    <h2 class="text-center" *ngIf="flashCardTermsDefinitionsData?.length=='0'">No List Of Terms In {{flashcardDetail?.name | titlecase}}</h2>
                </div>
            </div>
        </div>
        <div id="flipflashcards" class="tab-pane fade">
            <div class="container-fluid">
                <h1 class="mainbanner">Flip Flash Cards</h1>
                <div class="fc-slider padding-bottom-50 margin-bottom-40">
                    <div class="item" *ngFor="let data of flashCardTermsDefinitionsData; let i=index">
                        <ng-container>
                            <div class="fc-div">
                                <div class="fc-detail">
                                    <p class="fc-text"> Term:{{data?.title}}<br>Definition:{{data?.definition}}</p>
                                </div><img class="fc-img" src="https://storage.cramfrenzy.com/Thumbnail/{{flashcardDetail?.flashcard_image}}"
                                    alt="FlashCard Image" onerror="this.src='/assets/img/Logo-gray.jpg'">
                            </div>
                        </ng-container>
                    </div>
                    <h2 class="text-center" *ngIf="flashCardTermsDefinitionsData?.length=='0'">No Flip Flash Cards In {{flashcardDetail?.name | titlecase}}</h2>
                </div>
            </div>
        </div>
        <div id="flashcarddetail" class="tab-pane fade">
            <div class="each-upper-banner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-8 upper-banner-contact">
                            <h1>{{flashcardDetail?.name | titlecase}}</h1>
                            <h4>Author Name:{{flashcardDetail?.user_id | titlecase}}</h4>
                            <p>Number of Terms:{{flashcardDetail?.no_of_terms}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row my-5">
                    <div class="col-lg-8 col-md-8">
                        <div class="What-will-i-learn">
                            <div class="What-will-i-learn__content">
                                <div class="What-will-i-learn__title"> What Will I Learn? </div>
                                <ul class="What-will-i-learn__items">
                                    <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i
                                                class="fa fa-check"></i> </span> <span class="What-will-i-learn__text">Create
                                            boilerplate starter projects with React, Redux, Express, and Mongo</span>
                                    </li>
                                    <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i
                                                class="fa fa-check"></i> </span> <span class="What-will-i-learn__text">Understand
                                            common web technologies and design patterns to connect them together</span>
                                    </li>
                                    <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i
                                                class="fa fa-check"></i> </span> <span class="What-will-i-learn__text">Master
                                            deployment techniques between the production and development environments</span>
                                    </li>
                                    <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i
                                                class="fa fa-check"></i> </span> <span class="What-will-i-learn__text">Make
                                            an app with Google OAuth authentication</span> </li>
                                    <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i
                                                class="fa fa-check"></i> </span> <span class="What-will-i-learn__text">Learn
                                            to effectively create and send emails from a backend server</span> </li>
                                    <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i
                                                class="fa fa-check"></i> </span> <span class="What-will-i-learn__text">Accept
                                            and process credit card payments from users</span> </li>
                                </ul>
                            </div>
                        </div>
                        <div class="reviews-ans" *ngIf="flashcardDetail?.bidpaid==true || flashcardDetail?.paid==true">
                            <div class="row background-grey">
                                <div class="col-lg-12">
                                    <h4>Rate this course </h4>
                                    <div class="rating-starts">
                                        <fieldset class="ratingq move-to-center"> <input type="radio" id="star5q" name="rating"
                                                value="5" (click)="get(5)" /> <label class="full" for="star5q" title="Awesome - 5 stars"></label>
                                            <input type="radio" id="star4halfq" name="rating" value="4.5" (click)="get(4.5)" />
                                            <label class="half" for="star4halfq" title="Pretty good - 4.5 stars"></label>
                                            <input type="radio" id="starq" name="rating" value="4" (click)="get(4)" />
                                            <label class="full" for="starq" title="Pretty good - 4 stars"></label>
                                            <input type="radio" id="star3halfq" name="rating" value="3.5" (click)="get(3.5)" />
                                            <label class="half" for="star3halfq" title="Meh - 3.5 stars"></label>
                                            <input type="radio" id="star3q" name="rating" value="3" (click)="get(3)" />
                                            <label class="full" for="star3q" title="Meh - 3 stars"></label> <input type="radio"
                                                id="star2halfq" name="rating" value="2.5" (click)="get(2.5)" /> <label
                                                class="half" for="star2halfq" title="Kinda bad - 2.5 stars"></label>
                                            <input type="radio" id="star2q" name="rating" value="2" (click)="get(2)" />
                                            <label class="full" for="star2q" title="Kinda bad - 2 stars"></label>
                                            <input type="radio" id="star1halfq" name="rating" value="1.5" (click)="get(1.5)" />
                                            <label class="half" for="star1halfq" title="Meh - 1.5 stars"></label>
                                            <input type="radio" id="star1q" name="rating" value="1" (click)="get(1)" />
                                            <label class="full" for="star1q" title="Sucks big time - 1 star"></label>
                                            <input type="radio" id="starhalfq" name="rating" value="0.5" (click)="get(0.5)" />
                                            <label class="half" for="starhalfq" title="Sucks big time - 0.5 stars"></label>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <form name="form" role="form" method="post" [formGroup]="reviewform" #f="ngForm">
                                        <h4>Review <sup>*</sup></h4> <textarea class="form-control" placeholder="Leave a review"
                                            name="comment" [(ngModel)]="model.comment" clear-field formControlName="comment"
                                            required></textarea>
                                        <mat-error *ngIf="reviewform.controls.comment.touched && reviewform.controls.comment.invalid">
                                            <mat-error *ngIf="reviewform.controls.comment.errors.required"> Review
                                                cannot be empty </mat-error>
                                        </mat-error>
                                        <div class="text-right review-button"> <a class="margin-top-10 Review btn-style btn"
                                                title="Submit " (click)="reviews(rate, comment, nullvalue, nullvalue, flashcardDetail.id, nullvalue, f)">
                                                <span> <i class="far fa-thumbs-up"></i> Review </span> </a> </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 card-1">
                        <div class="card each-card"> <img class="card-img-top" src="https://storage.cramfrenzy.com/Thumbnail/{{flashcardDetail?.flashcard_image}}"
                                alt="FlashCard Image">
                            <div class="card-body">
                                <h3 class="text-center card-title current-card-price">{{flashcardDetail?.discount |
                                    currency:'USD'}}</h3>
                                <h5 class="text-center card-title old-card-price">{{flashcardDetail?.price |
                                    currency:'USD'}}</h5> <a class="card-btn" *ngIf="flashcardDetail?.bidpaid==true || flashcardDetail?.paid==true">Flash
                                    Card Already Bought</a> <a class="card-btn" *ngIf="flashcardDetail?.paid==false && flashcardDetail?.bidpaid==false && flashcardDetail?.isTeacher==false"
                                    (click)="checkfcdetail()">Buy Now</a> <a class="card-btn" *ngIf="flashcardDetail?.paid==false && flashcardDetail?.bidpaid==false&& flashcardDetail?.isTeacher==false"
                                    (click)="cart(nullvalue, nullvalue, flashId, nullvalue)">Add to Cart</a>
                                    <div class="text-center"><p class="already-bought" *ngIf="flashcardDetail?.isTeacher==true">
                                        Flash Card Added by Me </p></div>
                                <h4 class="text-center card-para">30-Day Money-Back Guarantee</h4>
                            </div>
                            <hr>
                            <div class="card-footer">
                                <h1 class="text-center">Share This Flash Card</h1>
                                <ul class="card-footer-social-icon">
                                    <li> <a class="facebook" routerLink=""> <i class="fab fa-facebook-f"></i> </a> </li>
                                    <li> <a class="twitter"> <i class="fab fa-twitter"></i> </a> </li>
                                    <li> <a class="pinterest"> <i class="fab fa-pinterest"></i> </a> </li>
                                </ul>
                                <div><a class="fb-like" [attr.data-href]="url" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10" *ngIf="flashcardDetail?.bidpaid==true || flashcardDetail?.paid==true">
                        <div class="background-grey review-section float_left">
                            <h4>Student feedback</h4>
                            <div class="row review-box padding-10 float_left">
                                <div class="col-sm-12 col-md-3">
                                    <h1>4.5</h1>
                                    <div class="rating float_left width100">
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star-half filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                    </div>
                                    <div class="float_left"><span>Rating</span> </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="progress">
                                        <div class="progress-bar bg-secondary" style="width:80%">80%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-secondary" style="width:60%">60%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-secondary" style="width:40%">40%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-secondary" style="width:20%">20%</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-secondary" style="width:10%">10%</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 rating-stars">
                                    <div class="width100 float_left margin-bottom-5">
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                    </div>
                                    <div class="width100 float_left margin-bottom-5">
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                    </div>
                                    <div class="width100 float_left margin-bottom-5">
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                    </div>
                                    <div class="width100 float_left margin-bottom-5">
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                    </div>
                                    <div class="width100 float_left margin-bottom-5">
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                                        </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                        <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12" >
                        <div class="background-grey review-section margin-bottom-20 float_left">
                            <h4>Reviews</h4>
                            <div *ngFor="let reviews of view?.reviews">
                                <div class="card" *ngIf="reviews !=null">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-2"> <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                                                
                                                
                                            </div>
                                            <div class="col-md-7">
                                                <p> <a class="float-left text_cap"><strong>{{reviews?.userid.first_name}} {{reviews?.userid.last_name}}</strong></a> </p>
                                                <div class="clearfix"></div>
                                                <p>{{reviews?.comment }}</p>
                                            </div>
                                            <div class="col-md-3 review-3">
                                             <rating ngModel="{{reviews?.rating}}" [readonly]="true" titles="{{reviews?.rating}}"></rating>
                                             <p class="review-time text-center"><span>{{reviews?.commentDate | date:'medium' }}</span></p>
                                        </div>
                                        </div>
                                    </div>
                                </div>
              
                            </div>
                            
                        </div>
                        <div class="text-center float-left" *ngIf="view==0"> <img src="../../../assets/img/Flash-Card.gif">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
