<div class="container padding-top1 what-is-cramfrenzy">
    <h1 class="text-center mainbanner">About Us</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"> <img class="what-is-cramfrenzy-img-1"
                src="../../assets/img/about-img-02.jpg"> </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <h2>What is CramFrenzy?</h2>
            <p> CramFrenzy is a next generation Artificially Intelligent Auction Marketplace to connect Instructors,
                Tutors and Students together for a Super-Fast Ultra-Cool worldwide learning experience. Books, Flash
                Cards, Courses, Notes & a whole lot more can be Sold, Bought, Bid on CramFrenzy through a true Auction
                experience. CramFrenzy assists Students, Tutors and Professionals in researching, trading and bidding on
                desired educational material at the best price from top and trusted Instructors & Tutors. From Price
                Comparison to Reviews Aggregation/Crunching and, a Custom CramFrenzy Score of every Buyer, Seller and
                Product based on our proprietary Machine Learning Engine, CramFrenzy will assist the user through a
                trusted, neutral, unbiased, time and money saving learning experience. Cutting to the chase, CramFrenzy
                is the Online Cram Universe: Learn with a Roar! </p>
            <div class="skills_div">
                <ul class="skills">
                    <li class="skills_li">
                        <h6 class="skills-title">Exact Sciences</h6>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;">
                                <div class="progress-value">90%</div>
                            </div>
                        </div>
                    </li>
                    <li class="skills_li">
                        <h6 class="skills-title">Technologies</h6>
                        <div class="progress">
                            <div class="progress-bar" style="width:95%;">
                                <div class="progress-value">95%</div>
                            </div>
                        </div>
                    </li>
                    <li class="skills_li">
                        <h6 class="skills-title">Languages</h6>
                        <div class="progress">
                            <div class="progress-bar" style="width:85%;">
                                <div class="progress-value">85%</div>
                            </div>
                        </div>
                    </li>
                    <li class="skills_li">
                        <h6 class="skills-title">Humanities</h6>
                        <div class="progress">
                            <div class="progress-bar" style="width:80%;">
                                <div class="progress-value">80%</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="parallax parallax_1" data-type="background" data-speed="10">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content">
                    <h3 class="parallax-title">Trusted by Over <span>6000+</span> Students</h3>
                    <div class="parallax-text">
                        <p> CramFrenzy offers quality and expert instructors. We provide students with counseling,
                            teaching, demonstration and everything our students need to achieve their targets. </p>
                    </div><a class="parallax-btn " (click)="selllogin()">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container what-is-cramfrenzy">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 mt-5">
            <h2 class="">Advantages of Learning Online</h2>
            <p class=""> The Smart Education degree is equal in academic standard to a degree from any other university.
                The Smart Educatin is subject to the same quality assurance procedures as all other universities, and
                uses external assessors and examiners to ensure quality standards. We’re consistently rated ‘excellent’
                in teaching assessments. </p>
            <div>
                <div class="counter">
                    <p class="counter_value">362</p>
                    <p class="counter_title">People Working</p>
                </div>
                <div class="counter">
                    <p class="counter_value">5,500</p>
                    <p class="counter_title">Student Enrolled</p>
                </div>
                <div class="counter">
                    <p class="counter_value">10</p>
                    <p class="counter_title">Years of Experience</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"> <img class="width100"
                src="../../assets/img/about-img-01.jpg" alt=""> </div>
    </div>
</div>