.team-subtitle {
    font-size: 14px;
    line-height: 30px;
    color: #f80000;
    text-align: center;
  }
  
  .team-title a:hover {
    color: #f80000;
  }
  
  .counter-01 .stat_count {
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #f80000;
  }
  
  blockquote p::before {
    font-family: 'FontAwesome';
    content: '\f10d';
    font-size: 30px;
    color: #ff0000;
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
  }
  
  /*element.style {*/
    /*background: #f80000;*/
  /*}*/
  
  .counter-01 .counter_title {
    font-size: 18px;
    line-height: 20px;
    color: #727e85;
    font-weight: 600;
  }
  
  .breadcrumbs li.active a {
    color: #717577;
    font-weight: 400;
    position: relative;
    padding-right: 11px;
  }
  
  .breadcrumbs li.active a::after {
    font-family: 'FontAwesome';
    content: '\f105';
    color: #f80000;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
  }
  .parallax_02{
      background-image: url("/assets/img/booknew2.jpg");
  }