<app-loader></app-loader>
<div class="sh-allbooks search-fixed">
    <div class="col-lg-12 padding-top-40">
        <form class="search-bg">
            <input placeholder="Search Courses" type="search" name=querysearch [(ngModel)]="query"
                #querysearch="ngModel" (keyup)=filter(query) class="search-bg__text">
            <button class="search-bg__btn" (click)="onsubmit(query)">Search</button>
        </form>
        <div class="search-results">
            <ul class="list-normal">
                <li *ngFor="let data of searchResult;">
                    <a routerLink="/eachcourse/{{data.id}}" (click)="filter(query)">
                        <i class="material-icons">arrow_forward</i>{{data.name}}</a>
                </li>
            </ul>
        </div>
        <div class="row search-results" *ngIf="!searchResultStatus">
            <p class="results-found"> No results found. Please use keywords.</p>
        </div>
    </div>
</div>

<div class="container-fluid padding-l-r-60 mb-5">
    
            <ngx-slick class="carousel homeSlider innerpages" #slickModal="slick-modal" [config]="slideConfig2">
                    <div ngxSlickItem class="slide item" *ngFor="let data of inner; let i=index">
                        <div class="item-inner">
                            <a  class="cat-img" routerLink="/course-subactegory/{{data.id}}" (click)="submit(data?.c_name)">
                                <img src="https://storage.cramfrenzy.com/3d_category/{{data.c_name}}.png" onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'">
                                <h4 class="homesilder-title">{{data.c_name | titlecase}}</h4>
                            </a>
                        </div>
                    </div>
                </ngx-slick>
    
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes">Buy & Bid on Courses </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of bidingc?.courses; let i=index">
                    <div class="product-list__item">
                        <!-- Image start -->
                        <figure class="product-list__img">
                            <a routerLink="/eachcourse/{{data.id}}">
                                <img src="https://storage.cramfrenzy.com/images/{{data?.course_thumbnail}}"
                                    alt="Courses"> </a>
                           
                        </figure>
                        <!-- Image End -->
                        <!-- course and author name start -->
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a routerLink="/eachcourse/{{data?.id}}"
                                    title="{{data?.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <span title="Authur Name:{{data?.author | titlecase}}"
                                    routerLink="/eachcourse/{{data?.id}}">{{data.author | titlecase}}</span>
                            </div>
                            <!-- course and author name end -->
                            <!-- rating and price start -->
                            <div class="rating_and_price">
                                <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                                <a class="product-list__price"
                                    routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                            </div>
                            <!-- rating and price end -->
                            <!-- heart, cart and offer now start -->
                            <div class="heart_cart_buy">
                                    <div class="heart_cart">
                                        <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                                <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"></i>
                                <i *ngIf="!data.cart==true" class="wishlist material-icons"
                                    title="Add to Cart" (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                   add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        </div>
                        <!-- heart, cart and offer now end -->
                        <!-- bid now and buy now start -->
                        <div class="product-list__item-info-1">
                            <a class="btn-style text-transform-none" (click)="courses(data?.id)"
                                *ngIf="data?.sell_status==true && !data.Purchased "> Buy Now at {{data.price | currency:'USD'}}</a>
                            <a type="button" class="btn-style text-transform-none" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidcourseid(data?.id)" data-dismiss="modal"
                                *ngIf="data.bid_status==true && !data.Purchased "> Bid Now at {{data.bid_price | currency:'USD'}}</a>
                            <a class="already-bought" *ngIf="data.Purchased == true " data-target="#notesbid">
                                    <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                                Bought</a>

                        </div>
                        <!-- bid now and buy now end -->
                    </div>
                </div>
            </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a routerLink="/coursesm/Bid&BuyCourses" class="btn-01 btn-style">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Courses-Trending-Now"> Course Trending Now</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of trending?.courses; let i=index">
                    <div class="product-list__item">
                        <!-- Image start -->
                        <figure class="product-list__img">
                            <a routerLink="/eachcourse/{{data.id}}">
                                <img src="https://storage.cramfrenzy.com/images/{{data?.course_thumbnail}}"
                                    alt="Courses"> </a>
                          
                        </figure>
                        <!-- Image end -->
                        <!-- course and author name start -->
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a routerLink="/eachcourse/{{data.id}}"
                                    title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <a title="Author Name:{{data.author | titlecase}}"
                                    routerLink="/eachcourse/{{data.id}}">{{data.author | titlecase}}</a>
                            </div>
                        <!-- course and author name end -->
                        <!-- rating and price start -->
                        <div class="rating_and_price">
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <a class="product-list__price"
                                routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                        </div>
                        <!-- rating and price end -->
                            <!-- heart, cart and offer now start -->
                            <div class="heart_cart_buy">
                                    <div class="heart_cart">
                                        <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                                <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"></i>
                                <i *ngIf="!data.cart==true" class="wishlist material-icons"
                                    title="Add to Cart" (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                   add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        </div>
                        <!-- heart, cart and offer now end -->
                        <!-- buy and bid now start -->
                        <div class="product-list__item-info-1">
                            <a class="btn-style text-transform-none" (click)="courses(data?.id)"
                                *ngIf="data?.sell_status==true && !data.Purchased "> Buy Now at {{data.price | currency:'USD'}}</a>
                            <a type="button" class="btn-style text-transform-none" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidcourseid(data?.id)" data-dismiss="modal"
                                *ngIf="data.bid_status==true && !data.Purchased "> Bid Now at {{data.bid_price | currency:'USD'}}</a>
                            <a class="already-bought" *ngIf="data.Purchased == true" data-target="#notesbid">
                                    <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                                Bought</a>

                        </div>
                         <!-- buy now and bid now end -->
                    </div>
                </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a routerLink="/coursesm/CourseTrendingNow" class="btn-01 btn-style">See more</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Top-Rated-Courses">Top Rated Courses </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of toprated?.courses; let i=index;">
                    <div class="product-list__item">
                        <!-- image start -->
                        <figure class="product-list__img">
                            <a routerLink="/eachcourse/{{data.id}}">
                                <img src="https://storage.cramfrenzy.com/images/{{data?.course_thumbnail}}"
                                    alt="Courses"> </a>
                           
                        </figure>
                        <!-- image end -->
                        <!-- course and author name start -->
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a routerLink="/eachcourse/{{data.id}}"
                                    title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <a title="Author Name:{{data.author | titlecase}}"
                                    routerLink="/eachcourse/{{data.id}}">{{data.author | titlecase}}</a>
                            </div>
                        <!-- course and author name end -->
                        <!-- rating and price start -->
                        <div class="rating_and_price">
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <a class="product-list__price"
                                routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                        </div>
                        <!-- rating and price end -->
                            <!-- heart, cart and offer now start -->
                            <div class="heart_cart_buy">
                                    <div class="heart_cart">
                                        <!-- ---------------Heart start------------- -->
                            <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                                *ngIf="!data.wishlist==true"></i>
                            <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                                (click)="delCourseFwishList(data)">
                            </i>
                            <!-- ---------------Heart end------------- -->
                            <!-- Cart start -->
                                <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"></i>
                                <i *ngIf="!data.cart==true" class="wishlist material-icons"
                                    title="Add to Cart" (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                                   add_shopping_cart</i>
                            <!-- cart end -->
                        </div>
                        <div class="buy_btn">
                            <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                                (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                        </div>
                        <!-- heart, cart and offer now end -->
                        <!-- bid and buy now start -->
                        <div class="product-list__item-info-1">
                            <a class="btn-style text-transform-none" (click)="courses(data?.id)"> Buy Now at{{data.price | currency:'USD'}}
                            </a>
                            <a type="button" class="btn-style text-transform-none" data-toggle="modal" data-target="#notesbidnow"
                                (click)="bidcourseid(data?.id)" data-dismiss="modal"
                                *ngIf="data.bid_status==true && !data.Purchased"> Bid Now at {{data.bid_price | currency:'USD'}} </a>
                            <a class="already-bought" *ngIf="data.Purchased == true && !data.Purchased"
                                data-target="#notesbid">   <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already Bought</a>

                        </div>
                        <!-- bid and buy now end -->
                    </div>
                </div>
                </div>>
            </ngx-slick>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <a routerLink="/coursesm/TopRatedCourses" class="btn-01 btn-style">See more</a>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Recently-Visited-Courses">Recently Viewed Courses </h2>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div ngxSlickItem class="slide item" *ngFor="let data of recent?.courses; let i=index;">
                    <div class="product-list__item">
                        <!-- Image start -->
                        <figure class="product-list__img">
                            <a routerLink="/eachcourse/{{data.id}}">
                                <img src="https://storage.cramfrenzy.com/images/{{data?.course_thumbnail}}"
                                    alt="Courses"> </a>
                           
                        </figure>
                        <!-- Image end -->
                        <!-- Course and author name strat -->
                        <div class="product-list__content">
                            <div class="product-list__category">
                                <a routerLink="/eachcourse/{{data.id}}"
                                    title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                            </div>
                            <div class="product-list__title tutor-subject">
                                <a title="Author Name:{{data.author | titlecase}}"
                                    routerLink="/eachcourse/{{data.id}}">{{data.author | titlecase}}</a>
                            </div>
                        <!-- course and author name end -->
                        <!-- rating and price start -->
                        <div class="rating_and_price">
                            <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                            <a class="product-list__price"
                                routerLink="/eachcourse/{{data.id}}">{{data.price | currency:'USD'}}</a>
                        </div>
                        <!-- rtaing and price end -->
                           <!-- heart, cart and offer now start -->
                           <div class="heart_cart_buy">
                                <div class="heart_cart">
                                    <!-- ---------------Heart start------------- -->
                        <i class="far fa-heart" (click)="addwishlist(data.id)" title="Add to wishlist"
                            *ngIf="!data.wishlist==true"></i>
                        <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red" title="Add to wishlist"
                            (click)="delCourseFwishList(data)">
                        </i>
                        <!-- ---------------Heart end------------- -->
                        <!-- Cart start -->
                            <i *ngIf="!data.cart==false" class="fa fa-cart-plus"
                                title="Click and remove from Cart" (click)="delfromcart(data)"></i>
                            <i *ngIf="!data.cart==true" class="wishlist material-icons"
                                title="Add to Cart" (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">
                               add_shopping_cart</i>
                        <!-- cart end -->
                    </div>
                    <div class="buy_btn">
                        <a class="btn-style" *ngIf="data?.accept_offer == true && !data.Purchased "
                            (click)="openDialog3(data?.id)">Offer Now</a>
                    </div>
                    </div>
                    <!-- heart, cart and offer now end -->
                    <!-- buy an dbid now start -->
                        <div class="product-list__item-info-1">
                            <a class="btn-style text-transform-none" (click)="courses(data?.id)"> Buy Now at {{data.price | currency:'USD'}}
                            </a>
                            <a type="button" class="btn-style"  text-transform-nonedata-toggle="modal" data-target="#notesbidnow"
                                (click)="bidcourseid(data?.id)" data-dismiss="modal"
                                *ngIf="data.bid_status==true && !data.Purchased"> Bid Now at {{data.bid_price | currency:'USD'}}</a>
                            <a class="already-bought" *ngIf="data.Purchased == true" data-target="#notesbid">
                                    <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Course Already
                                Bought</a>

                        </div>
                    <!-- buy and bid now end -->
                    </div>
                </div>
                </div>
            </ngx-slick>
        </div>
    </div>
    <div class="row" *ngIf="check_login()">
        <div class="col-lg-12 text-center">
            <a routerLink="/coursesm/RecentlyViewedCourses" class="btn-01 btn-style">See more</a>
        </div>
    </div>
</div>
<!----bid on course---->
<div class="modal fade" id="notesbidnow" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content margin-top-175">
      <div class="modal-header">
        <div class="form-1-header">
          <h1>Bid on Course</h1>
        </div>
      </div>
      <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}" data-dismiss="modal"
                                  class="view-bid">view bid history </a>
        <form name="form" role="form" method="post" (ngSubmit)="bidc()" #f="ngForm" class="user-add-ingo-form">
          <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}" data-dismiss="modal"> <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{coursebid?.endtime}}"></countdown>
            <p>Highest bid amount:{{coursesitem?.bidamount}}</p>
          </a>
          <label>Place Your own bid:</label>
          <mat-form-field>
            <input matInput type="number" maxlength="4" placeholder="Enter bid amount (US $)*" [(ngModel)]="model.bidamount"
                   #bidamount="ngModel" name="bidamount">
          </mat-form-field> <a class="user-add-ingo-form-btn" (click)="bidc()" data-dismiss="modal">BID NOW
        </a>
        </form>
      </div>
    </div>
  </div>
</div>
