<div class="container" *ngIf="note">
  <h1  class="mainbanner bg-Bid-Notes">Notes in {{catname}}</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of note; let i=index">
      <div class="product-list__item">
        <figure class="product-list__img">
          <a routerLink="/notes/{{data.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}" alt=""> </a>
        </figure>
        <div class="product-list__content">
          <div class="product-list__category"> <a routerLink="/notes/{{data.id}}" title="{{data.name}}">{{data.name}}</a> </div>

          <div class="product-list__title tutor-subject"> <span title="Author Name:{{data.author}}">{{data.author}}</span> </div>
          <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
          <p class="product-list__price">{{data.price | currency:'USD'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="course">
  <h1  class="mainbanner bg-Bid-Notes">Courses in {{catname}}</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of course; let i=index">
      <div class="product-list__item">
        <figure class="product-list__img">
          <a routerLink="/eachcourse/{{data.id}}"> <img src="{{Imageurl}}{{data.course_thumbnail}}" alt=""> </a>
        </figure>
        <div class="product-list__content">
          <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data.name}}">{{data.name}}</a> </div>
          <div class="product-list__title tutor-subject"> <span title="Author Name:{{data.author}}">{{data.author}}</span> </div>
          <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
          <p class="product-list__price">{{data.price | currency:'USD'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" *ngIf="card">
  <h1  class="mainbanner bg-Bid-Notes">Flash Card in {{catname}}</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of card; let i=index">
      <div class="product-list__item">
        <figure class="product-list__img">
          <a routerLink="/fcdetail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}" alt=""> </a>
        </figure>
        <div class="product-list__content">
          <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}" title="{{data.name}}">{{data.name}}</a> </div>
          <div class="product-list__title tutor-subject"> <span title="Author Name:{{data.user_id}}">{{data.user_id}}</span> </div>
          <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
          <p class="product-list__price">{{data.price | currency:'USD'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="books">
  <h1  class="mainbanner bg-Bid-Notes">Books in {{catname}}</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of books; let i=index">
      <div class="product-list__item">
        <figure class="product-list__img">
          <a routerLink="/detail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}" alt=""> </a>
        </figure>
        <div class="product-list__content">
          <div class="product-list__category"> <a routerLink="/detail/{{data.id}}" title="{{data.name}}">{{data.name}}</a> </div>
          <div class="product-list__title tutor-subject"> <span title="Author Name:{{data.author_name}}">{{data.author_name}}</span> </div>
          <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
          <p class="product-list__price">{{data.price | currency:'USD'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>