<div class="container padding-top-1">
    <div class="contact_us_title">
        <h1 class="mainbanner">Establish Contact</h1>
        <p class="lead"> We'll try our best to answer your queries as soon as possible. </p>
    </div>
    <form [formGroup]="contactform" #f="ngForm">
        <div class="row mb-5">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 contact_us_form_1 ">
                <mat-form-field>
                    <input class="text_cap" matInput placeholder=" Name" type="text" name="name" required
                        [(ngModel)]="model.name" name="name" formControlName="name">
                    <mat-error *ngIf="contactform.controls.name.touched && contactform.controls.name.invalid">
                        <mat-error *ngIf="contactform.controls.name.errors.required">Name cannot be empty </mat-error>
                    </mat-error>
                    <mat-error *ngIf="contactform.controls.name.hasError('pattern')"> Alphabets Only
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder=" Email Address" type="text" name="email" required
                        [(ngModel)]="model.email" name="email" formControlName="email">
                    <mat-error *ngIf="contactform.controls.email.touched && contactform.controls.email.invalid">
                        <mat-error *ngIf="contactform.controls.email.errors.required">Email is required </mat-error>
                    </mat-error>
                    <mat-error *ngIf="contactform.controls.email.hasError('pattern')">Please enter a
                        valid email address</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder=" Phone Number" type="text" name="phone" required
                        [(ngModel)]="model.phone" name="email" formControlName="phone">
                    <mat-error *ngIf="contactform.controls.phone.touched && contactform.controls.phone.invalid">
                        <mat-error *ngIf="contactform.controls.phone.errors.required">Phone Number is required
                        </mat-error>
                    </mat-error>
                    <mat-error *ngIf="contactform.controls.phone.hasError('pattern')"> Numbers Only
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input class="text_cap" matInput placeholder=" Subject" type="text" name="subject" required
                        [(ngModel)]="model.subject" name="subject" formControlName="subject">
                    <mat-error *ngIf="contactform.controls.subject.touched && contactform.controls.subject.invalid">
                        <mat-error *ngIf="contactform.controls.subject.errors.required">Subject cannot be empty
                        </mat-error>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <mat-form-field>
                    <textarea matInput placeholder=" Message" name="message" [(ngModel)]="model.message"
                        name="message" formControlName="message">
                        </textarea>
                </mat-form-field>
                <button type="submit" class="btn-style btn  align-right" (click)="signupuserdata(f)">Send
                    Message</button>
            </div>
        </div>
    </form>
    <div class="row contact_us_map">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 ">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6809.967716364352!2d73.09705295019982!3d31.41457081327901!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1519119144377"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 padding-0">
            <address class="contact-us-address">
                <h1>CramFrenzy</h1>
                <p><i class="fa fa-home"></i>14681 Midway Rd Ste 200 Addison TX 75001 </p>
                <h1>Establish Contact</h1>
                <ul class="contact-us-ul">
                    <li><a href="#"><i class="fas fa-envelope"></i>Email: contact AT CramFrenzy DOT com</a></li>
                    <li><i class="fa fa-phone "></i> Voice: +1-214-302-7330</li>
                    <li><i class="fa fa-fax"></i> Fax: +1 (469) 250-6600</li>
                </ul>
            </address>
        </div>
    </div>
</div>