<div class="container">
    <h1 class="mainbanner bg-Bid-Notes">Sub-Categories in {{name}} </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of bookcate; let i=index">
            <div class="product-list__item">
              <figure class="product-list__img">
                <a routerLink="/nestedcateroy/{{data.id}}" (click)="onsubmit(data?.sub_category_name)">
                  <img src="{{Imageurl}}{{data?.icon}}" alt="Course"> </a>
                <div class="wishlist-overlay">
                  <a class="product-list__wishlist" >
                    <i class="far fa-heart"></i>
                  </a>
                </div>
              </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/detail/{{data?.id}}" title="{{data?.sub_category_name | titlecase}}">{{data?.sub_category_name | titlecase}}</a>
                    </div>
                    <!-- <div class="product-list__title tutor-subject mb-3">
                        <span title="Author Name:{{data?.author_name | titlecase}}">{{data?.author_name | titlecase}}</span>
                    </div> -->
                    <!-- <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating> -->
                    <br>
                    <!-- <p class="product-list__price">{{data?.price | currency:'USD'}}</p> -->
                </div>
                <!-- <div class="product-list__item-info-1">
                    <a routerLink="/login" class="btn-style" (click)="books(data.id)"> Buy Now </a>
                    <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow" (click)="booksid(data?.id)"
                        data-dismiss="modal" *ngIf="data.bid_status==true"> Bid Now </a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="container" *ngIf="eachbook?.length != '0'">
    <h1  class="mainbanner bg-Bid-Notes">Books Sub-Categories in {{name}}</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of eachbook; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img">
                    <a routerLink="/detail/{{data?.id}}" (click)="sliderClick(data.name)">
                        <img src="{{Imageurl}}{{data?.book_image}}" alt="book"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" (click)="addwishlist(data.id)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/detail/{{data.id}}" title="{{data?.name | titlecase}}">{{data?.name | titlecase}}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content margin-top-175">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Bid Now</h1>
                </div>
            </div>
            <div class="modal-body my-3">
                <form name="form" role="form" method="post" class="user-add-ingo-form">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Initial_Amount" [(ngModel)]="model.initial_amount" #initial_amount="ngModel"
                            name="initial_amount"> </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="Start_Time" [(ngModel)]="model.start_time" name="start_time"> </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="End_Time" [(ngModel)]="model.end_time" name="end_time"> </mat-form-field>
                    <mat-form-field>
                        <input matInput type="text" placeholder="reservedprice" [(ngModel)]="model.reservedprice" name="reservedprice"> </mat-form-field>
                    <mat-slide-toggle [(ngModel)]="model.isreserved" name="isreserved" required>Accpect Bid</mat-slide-toggle>
                    <a class="user-add-ingo-form-btn" (click)="bidb()">Bid Now</a>
                </form>
            </div>
        </div>
    </div>
</div>
