<div class="notes-upper-banner py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12 upper-banner-contact">
                <h1>{{result1?.first_name}}{{result1?.last_name}}</h1>
                <p>{{result1?.major}}</p>
                <p> </p>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="tutor-detail-image">
                <img title="{{result1?.first_name}}{{result1?.last_name}}" class="tutor-detail-img" src="{{Imageurl}}{{result1?.profile_picture}}"
                    alt=""> </div>
        </div>
        <div class="col-lg-8 col-md-8">
            <p class="tutor-detail-para"> I'm on a mission to create more user experience professionals. Perhaps you'd like a job in user experience. Or
                maybe you already work in the field but you've never had any formal training. Or maybe you want to improve
                your skills in one specific area, like usability testing or expert reviews. I've turned thousands of people
                into user experience designers and researchers and now you can join their ranks by taking my courses on Udemy.
                You're probably curious about my background. At 18, I appeared as an extra in the film “Quadrophenia" alongside
                Sting and Ray Winstone. Despite a critically-acclaimed performance lasting 5 seconds, follow-up offers from
                Hollywood failed to arrive so I turned to psychology where I gained a BSc and a PhD. Since 1989 I've worked
                in the fields of human factors, usability and user experience and I've published two books on usability.
                I'm now a User Experience Strategist at Userfocus, a consultancy specialising in user experience. I'm also
                an Associate Fellow of the British Psychological Society, a Chartered Psychologist and a member of the User
                Experience Professionals Association. I'm no longer in contact with Sting or Ray Winstone, whose career trajectories
                have been somewhat different. I've provided usability support to top brands like HP, Microsoft, Whirlpool,
                Orange, Skype, eBay and Yahoo! and I've also consulted with public sector organisations like The Greater
                London Authority, Her Majesty's Revenue and Customs, UK Government and the World Health Organization. My
                students describe me as passionate and technically knowledgeable and students voted me an "Outstanding Instructor"
                in a Udemy-wide survey. </p>
            <ul class="tutor-detail-stats">
                <li>
                    <div class="tutor-detail-stats-heading"> Total Students </div>
                    <div class="tutor-detail-stats-count"> 211,656 </div>
                </li>
                <li>
                    <div class="tutor-detail-stats-heading"> Courses </div>
                    <div class="tutor-detail-stats-count"> 17 </div>
                </li>
                <li>
                    <div class="tutor-detail-stats-heading"> Reviews </div>
                    <div class="tutor-detail-stats-count"> 87,001 </div>
                </li>
            </ul>
        </div>
    </div>
</div>
