<div class="profile-main">
    <div class="container ng-star-inserted">
        <div class="p-banner profile-banner">
            <div class="detail">
                <div class="img-holder"> <img alt="User Profile Photo" src={{profileinfo?.profilePhoto}} onerror="this.src='../assets/img/default-user-icon-profile.png'"
                        class="ng-star-inserted"></div>
                <div class="text">
                    <h1 class="user-prof-name">{{profileinfo?.firstname}} {{profileinfo?.lastname}}</h1><small>{{students}}Students</small>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <div class="row margin-bottom-40">
                        <div class="col-md-4">
                            <h2>Social Contacts</h2>
                            <hr>
                            <ul class="list-social">
                                <li class="website"><a><i class="fa fa-code"></i><span>{{profileinfo?.website}}</span></a></li>
                                <li class="git"><a href="https://www.github.com"><i class="fab fa-git"></i><span>{{profileinfo?.Git}}</span></a></li>
                                <li class="facebook"><a href="https://www.facebook.com"><i class="fab fa-facebook"></i><span>{{profileinfo?.facebook}}</span></a></li>
                                <li class="linked-in"><a href="https://www.linkedin.com"><i class="fab fa-linkedin"></i><span>{{profileinfo?.linkedIn}}</span></a></li>
                                <li class="twitter"><a href="https://www.twitter.com"><i class="fab fa-twitter"></i><span>{{profileinfo?.twitter}}</span></a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h2>Skills</h2>
                            <hr>
                            <div class="module_inner">
                                <div class="shortcode_skills">
                                    <ul class="skills_list">
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Exact Sciences</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-90">
                                                    <div class="progress-value">90%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Technologies</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-95">
                                                    <div class="progress-value">95%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Languages</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-85">
                                                    <div class="progress-value">85%</div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="skill_li skill_li-in">
                                            <h6 class="skill-title">Humanities</h6>
                                            <div class="progress">
                                                <div class="progress-bar custom-style-80">
                                                    <div class="progress-value">80%</div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="service-block-v3 service-block-u"><i aria-hidden="true" class="fa fa-user"></i><span
                                    class="service-heading">Total Courses</span><span class="counter">{{totalCourses}}</span>
                                <div class="clearfix margin-bottom-10"></div>
                                <div class="row margin-bottom-20">
                                    <div class="col-xs-6 col-md-6 col-lg-6 service-in"><small>Graduation_year</small>
                                        <h6 class="counter">{{result1?.graduation_year}}</h6>
                                    </div>
                                    <div class="col-xs-6 col-md-6 col-lg-6 service-in service-in-2 "><small>Last Month</small>
                                        <h4 class="counter">6,048</h4>
                                    </div>
                                </div>
                                <div class="statistics">
                                    <h3 class="heading-xs">Statistics in Progress Bar <span class="float-right">67%</span></h3>
                                    <div class="progress progress-u progress-xxs">
                                        <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="67" class="progress-bar progress-bar-light width-67per"
                                            role="progressbar"> </div>
                                    </div><small>11% less <strong>than last month</strong></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <h2>Headline</h2><span>{{profileinfo?.headLine}}</span>
                        </div>
                        <div class="col-md-12">
                            <hr>
                            <h2 class="about">About</h2>{{result1?.description}}<span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding-l-r-60">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="mainbanner bg-Bid-Notes">More Courses by {{profileinfo?.firstname}} {{profileinfo?.lastname}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div class="item" ngxSlickItem *ngFor="let data of courses; let i=index">
                    <div class="product-list__item min-height-product-list">
                        <figure class="product-list__img"> <a routerLink="/eachcourse/{{data.id}}"> <img src="https://storage.cramfrenzy.com/Thumbnail/{{data?.course_thumbnail}}"
                                    alt="Courses"> </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data?.name}}">{{data?.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject"> <span title="Authur Name:{{data?.author}}"
                                    routerLink="/eachcourse/{{data.id}}">{{data?.author}}</span> </div>
                            <div class="rating_and_price">
                                <rating class="rating-star-icons float_left" ngModel="{{data.rating}}" [readonly]="true">
                                    titles="{{data.rating}}"></rating> <a class="product-list__price" routerLink="/eachcourse/{{data.id}}">{{data.price
                                    | currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red "
                                        title="Add to wishlist"> (click)="delCourseFwishList(data)"> </i> <i class=" far fa-heart"
                                        (click)="addwishlist(nullvalue,data?.id,nullvalue,nullvalue)" *ngIf="!data.wishlist==true">
                                    </i> <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                        (click)="delfromcart(data)"> </i> <i class="wishlist material-icons" title="Add to Cart"
                                        *ngIf="!data.cart==true" (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">add_shopping_cart</i>
                                </div>
                                <div class="buy_btn"><a class=" btn btn-style " *ngIf="data?.accept_offer==true && !data.Purchased"
                                        (click)="checkOffer2(nullvalue,data?.id,nullvalue,nullvalue)">Offer Now</a>
                                </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class=" btn btn-style  text-transform-none"
                                    (click)="coursess(data?.id)" *ngIf="data.sell_status==true && !data.Purchased"> Buy
                                    Now at{{data.price | currency:'USD'}}</a> <a class=" btn btn-style  text-transform-none"
                                    data-toggle="modal" data-target="#notesbidnow" (click)="bidcourseid(data?.id)"
                                    *ngIf="data.bid_status==true &&!data.Purchased">Bid Now at{{data.bid_price |
                                    currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Course Already Bought</a> </div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
    </div>
</div>
<div class="modal fade" id="notesbidnow" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-1-header">
                    <h1>Bid on Course</h1>
                </div>
            </div>
            <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}"
                    class="view-bid" data-dismiss="modal">view bid history </a>
                <form name="form" role="form" method="post" (ngSubmit)="bidc()" class="user-add-ingo-form"> <a
                        [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}" data-dismiss="modal">
                        <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{coursebid?.endtime}}"></countdown>
                        <p>Highest bid amount:{{course?.bidamount}}</p>
                    </a> <label>Bidding Price:</label>
                    <mat-form-field> <input matInput type="number" maxlength="4" placeholder="Enter bid amount (US $)*"
                            [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount"> </mat-form-field> <a
                        class=" btn btn-style " (click)="bidc()" data-dismiss="modal">BID NOW </a>
                </form>
            </div>
        </div>
    </div>
</div>
