<div class="notes-upper-banner py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-12 upper-banner-contact">
                <h1>{{result1?.first_name}}{{result1?.last_name}}</h1>
                <p>{{result1?.major}}</p>
                <p> </p>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="tutor-detail-image">
                <img title="{{result1?.first_name}}{{result1?.last_name}}" class="tutor-detail-img" src="{{Imageurl}}{{result1?.profile_picture}}"
                    alt=""> </div>
                    <p> school:<a>{{result1?.school_attended}}</a></p>
                    <p>Year :<a>{{result1?.graduation_year}}</a></p>
                    <p> major:<a>{{result1?.major}}</a></p>
                    <p> state_of_residence:<a>{{result1?.state_of_residence}}</a></p>
        </div>
        <div class="col-lg-8 col-md-8">
            <p class="tutor-detail-para">description: {{result1?.description}} </p>
            <ul class="tutor-detail-stats">
                <li>
                    <div class="tutor-detail-stats-heading"> Total Students </div>
                    <div class="tutor-detail-stats-count"> {{students}} </div>
                </li>
                <li>
                    <div class="tutor-detail-stats-heading"> Courses </div>
                    <div class="tutor-detail-stats-count"> {{totalCourses}} </div>
                </li>
                <li>
                    <div class="tutor-detail-stats-heading"> Reviews </div>
                    <div class="tutor-detail-stats-count">  {{totalTutorReviews}} </div>
                </li>
            </ul>
        </div>
    </div>
</div>
