.card{min-height:480px;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,.125);border-radius:.25rem}.form-1-header{margin-top:-20px}table{width:88%;background:#fff;text-align:center;font-size:14px}.message.me table{float:right}.message table{float:left}.smalltext{font-size:13px;margin:20px 0 0;text-align:left}.submit-declined{width:116px;}
.chat {
    background: #eee;
    padding: 10px;
    h3{
    font-size: 16px;
    color: #333;
    text-align: center;
    }
    & .message {
        display: flex;
        margin: 10px 0 0 10px;
        min-height: 30px;
        height: auto;
        text-align: left;

        &.me {
            & img {
                order: 2;
                margin: 0 0 0 3px;
            }

            & div {
                order: 1;
                padding: 0 8px 0 0;
                
                & p {
                    float: right;
                }
                
                &:before {
                    position: relative;
                    float: right;
                    content: '';
                    margin: 7px -8px 0 0;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 8px 0 4px 8px;
                    border-color: transparent transparent transparent #fff;
                }
            }
        }

        & img {
            display: block;
            order: 1;
            margin: 0 10px 0 0;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid #ccc;
            box-sizing: border-box;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
        }

        & div {
            display: block;
            flex: 1;
            order: 2;

            & p {
                display: inline-block;
                margin: 0;
                width: auto;
                padding: 8px 10px 8px 10px;
                background: #fff;
                word-wrap: break-word;
                font-family: Monospace;
                border-radius: 3px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
            }
            
            &:before {
                position: relative;
                float: left;
                content: '';
                margin: 7px 0 0 -8px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px 8px 4px 0;
                border-color: transparent #fff transparent transparent;
            }
        }
    }
}
