
<div class="card"> <button  class="close" aria-label="Close"  tabindex="-1"> <span
  aria-hidden="true">&times;</span> </button>
  <div class="text-center form-1-header" data-background-color="rose">
    <h1> Accept Offer </h1>
  </div>
  <form >
    <div class="card-content margin-top-10" >
      <mat-form-field class="example-full-width mat-size" style="width: 100%">
        <input type="number" min="0" matInput placeholder="Enter Your Amount (US $) For Offer" [(ngModel)]="model.offer_price" 
        name="offer_price" required oninput="validity.valid||(value='');" onKeyPress="if(this.value.length==4) return false;">
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
  
    <div class="card-content margin-top-10">
 
      <div class="form-group">
        <label for="sel1">Your offer expires in:</label>
        <select class="form-control" id="sel1" [(ngModel)]="model.end_time" name="end_time" required>
            <option>Select list:</option>
          <option>12 h</option>
          <option>1 Day</option>
          <option>2 Days</option>
          <option>3 Days</option>
        </select>
      </div>
    </div>
    <div class="footer text-right col-sm-12">
      <button [mat-dialog-close]="true" class=" btn btn-style  width100 margin-top-10" type="submit" tabindex="2" (click)="postoffer()">
      Offer Now</button> </div>
    <div class="col-sm-12">
      <p class="smalltext">By Placing an Offer, You're committing to Buy this item.</p>
    </div>
  </form>
</div>
