<div class="row">
    <div class="col-md-12 padding-top-40">
        <form class="search-bg"> <input type="search" placeholder="Search FlashCards" name="name" [(ngModel)]="name"
                class="search-bg__text"> <button class="search-bg__btn">Search</button> </form>
    </div>
</div>
<div class="container">
    <h1 class="mainbanner bg-Bid-Notes">Flash Cards Categories</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let data of result; let i=index">
            <div class="thumbnail flashcard-box">
                <h4 class="flashcard-title">{{data?.c_name | titlecase}}</h4>
                <div class="flashcard-content">
                    <div *ngFor="let items of data?.subcategory">
                        <div *ngFor="let item of items?.Flashcard">
                            <li> <i class="fa fa-arrow-right flash-arrow-style"></i>
                                <a routerLink="/fcdetail/{{data?.id}}"
                                    class="flashcard-a">{{item.name | titlecase}}</a>

                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>