<app-loader></app-loader>
<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-top-40">
        <form class="search-bg">
            <input class="search-bg__text" type="text" name="name" [(ngModel)]="name" placeholder="Search Instrtuctor">
            <button class="search-bg__btn" (click)="onSubmit(name)">Search</button>
        </form>
    </div>
</div>
<div class="container container-wide-1">
    <!-- <h1 class="component-title">Our Professional Teachers</h1> -->
    <h1 class="component-title">Browse Instrtuctors</h1>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5" *ngFor="let data of result3 ; let i=index">
            <div class="tutor-inner">
                <div class="tutor-image">
                    <a (click)="onsubmit(data.user.id)"><img class="tutor-img" src="{{Imageurl}}{{data.profile_picture}}" alt=""></a>
                </div>
                <div class="tutor-contact">
                    <div class="tutor-title"> <a title="{{data.user.first_name}}&nbsp;{{data.user.last_name}}" (click)="onsubmit(data.user.id)">{{data.user.first_name}}&nbsp;{{data.user.last_name}}</a> </div>
                    <div class="tutor-subject"> <a title="{{data.major}}">{{data.major}}</a> </div>
                    <div class="tutor-star-date">
                        <ul class="product-list__star-list float_left">
                            <li>
                                <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-star" aria-hidden="true"></i> </a>
                            </li>
                        </ul>
                        <p class="product-list__price float-right">{{data.graduation_year}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
            <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a (click)="setPage(1)" class="page-link">First</a> </li>
            <li class="page-item" [ngClass]="{hide:pager.currentPage===1}"> <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a> </li>
            <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}"> <a (click)="setPage(page)" class="page-link">{{page}}</a> </li>
            <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a (click)="setPage(pager.currentPage + 1)" class="page-link" type="Next">Next</a> </li>
            <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}"> <a (click)="setPage(pager.totalPages)" class="page-link" type="Last">Last</a> </li>
        </ul>
    </div>
</div>