<app-loader></app-loader>
<app-header></app-header>
<div class="all-silder">
    <div id="mainpage-slider" class="carousel slide" data-ride="carousel">
        <div class="download-here"> <a href="https://play.google.com/store/apps/details?id=com.brainplow.notesgiene"
                target="_blank"> <img src="../../../assets/img/Adroid-Badge.png"> </a> <a href="https://itunes.apple.com/us/app/cramfrenzy/id1365621608?mt=8"
                target="_blank"> <img src="../../../assets/img/IOS-Badge.png"> </a> </div>
        <div class="carousel-inner">
            <div class="carousel-item active"> <label class="slider__title animated fadeInDown">CramFrenzy is a next
                    generation Artificially Intelligent Auction Marketplace to connect Instructors, Tutors and Students
                    together for a Super-Fast Ultra-Cool worldwide learning experience</label> <img src="../../../assets/img/1.png"
                    alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInUp">Propel your Learning to a whole
                    new dimension! BUY, SELL, RENT & BID on Notes, Books, Courses, Flash Cards & whole lot more with
                    CramFrenzy’s bleeding edge AI.</label> <img src="../../../assets/img/2.png" alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">Tutor, Learn & Earn with
                    CramFrenzy on the Web, In the Cloud & on Mobile. The next generation Online Cram Universe!</label>
                <img src="../../../assets/img/3.png" alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">Notes, Books, Flash Cards,
                    Courses & a whole lot more can be Sold, Bought, Rented or Bid on CramFrenzy through a true Auction
                    experience.</label> <img src="../../../assets/img/4.png" alt="" /> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">CramFrenzy is a next
                    generation Artificially Intelligent Marketplace to connect Instructors, Tutors & Students together
                    for a Super-Fast Ultra-Cool Worldwide Learning Experience!</label> <img src="../../../assets/img/5.png"
                    alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">Experience our next generation
                    Artificially Intelligent Mobile App on Google Play Store and Apple App Store.</label> <img src="../../../assets/img/6.png"
                    alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">Become a Tutor on CramFrenzy &
                    Showcase your Expertise! Your Educational Material can be SOLD, BOUGHT, RENTED OR BID on through an
                    Auction Experience!</label> <img src="../../../assets/img/7.png" alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">From Bidding to Price
                    Comparison to Reviews Aggregation/Crunching & a Custom CramFrenzy Score of every Buyer, Seller and
                    Product, CramFrenzy elevates your Learning Experience to a whole new level.</label> <img src="../../../assets/img/8.png"
                    alt=""> </div>
            <div class="carousel-item"> <label class="slider__title animated fadeInDown">Give Your Learning Wings!
                    CramFrenzy has a 360-Degree Spectrum of Educational Material for all kinds and categories. BUY,
                    SELL, RENT & Bid Now!</label> <img src="../../../assets/img/9.png" alt=""> </div>
        </div><a class="carousel-control-prev" href="#mainpage-slider" data-slide="prev"> <span class="carousel-control-prev-icon"></span>
        </a> <a class="carousel-control-next" href="#mainpage-slider" data-slide="next"> <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="main-nav-slider">
        <form class="search-bg"> <input class="search-bg__text search-bg__text-placeholder" type="text" name="search-bg-name"
                placeholder="Search CramFrenzy"> <a class="search-bg__btn-search">Search</a></form>
        <ngx-slick class="homeSlider carousel margin-top-20" #slickModal="slick-modal" [config]="slideConfig2" style="display:none;">
            <div class="item slide" ngxSlickItem *ngFor="let data of inner; let i=index">
                <div class="item-inner"> <a class="cat-img" routerLink="/subcategory/{{data.id}}" (click)="sliderClick(data.c_name)">
                        <img src="https://storage.cramfrenzy.com/3d_category/{{data.c_name}}.png" onerror="this.src='https://storage.cramfrenzy.com/Thumbnail/aging.jpg'">
                    </a>
                    <h4 class="homesilder-title">{{data.c_name}}</h4>
                </div>
            </div>
        </ngx-slick>
    </div>
</div>
<div class="container-fluid padding-l-r-60">
    <div class="row">
        <h2 class="mainbanner bg-Bid-Notes">Buy & Bid on Notes</h2>
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div class="item slide" ngxSlickItem *ngFor="let data of bidnotes?.notes; let i=index">
                    <div class="product-list__item min-height-product-list">
                        <figure class="product-list__img"> <a routerLink="/notes/{{data?.id}}"> <img src="{{Imageurl}}{{data.notes_thumbnail}}"
                                    alt="Notes"> </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/notes/{{data?.id}}" title="{{data.name}}">{{data.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject"> <span title="User Name :{{data?.userid}}"
                                    routerLink="/teachers/{{data?.id}}">{{data.userid}}</span> </div>
                            <div class="rating_and_price">
                                <rating class="rating-star-icons float_left" ngModel="{{data.rating}}" [readonly]="true"
                                    titles="{{data.rating}}"></rating> <a class="product-list__price" routerLink="/notes/{{data.id}}">{{data.price
                                    | currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i *ngIf="!data.wishlist==false" class="sh-red fas fa-heart sh-red"
                                        title="Click and remove from wishlist" (click)="deleteFWL(data)"> </i> <i class="far fa-heart"
                                        title="Click and Add to wishlist" (click)="addwishlist(nullvalue,nullvalue,nullvalue,data.id)"
                                        *ngIf="!data.wishlist==true"></i> <i *ngIf="!data.cart==false " class="fa fa-cart-plus"
                                        title="Click and remove from Cart" (click)="delfromcart(data)"></i> <i *ngIf="!data.cart==true"
                                        class="wishlist material-icons" title="Add to Cart" (click)="addcart(data.id,nullvalue,nullvalue,nullvalue)">
                                        add_shopping_cart</i> </div>
                                <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="checkOffer(data?.id,nullvalue,nullvalue,nullvalue)">Offer Now</a>
                                </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" (click)="checkmainpage(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now
                                    at {{data.price | currency:'USD'}}</a> <a class="btn-style btn text-transform-none"
                                    data-toggle="modal" (click)="bidnotesid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false"
                                    data-target="#notesbid"> Bid Now at {{data.bid_price | currency:'USD'}}</a> <a class="already-bought"
                                    *ngIf="data.Purchased==true && data.isTeacher==false" data-target="#notesbid"> <img
                                        src="../../../assets/img/CramFrenzyFavicon.png" alt="img"> Note Already Bought</a>
                                <a class="already-bought" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                    Note add by me </a> </div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div><a routerLink="/seemoremp/Bid&BuyNotes" class="btn-style btn">See more</a>
        <h2 class="mainbanner bg-Bid-Notes">Buy & Bid on Courses</h2>
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div class="item" ngxSlickItem *ngFor="let data of result4?.courses; let i=index">
                    <div class="product-list__item min-height-product-list">
                        <figure class="product-list__img"> <a routerLink="/eachcourse/{{data.id}}"> <img src="{{Imageurl}}{{data?.course_thumbnail}}"
                                    alt="Courses"> </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/eachcourse/{{data.id}}" title="{{data?.name}}">{{data?.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject"> <span title="Authur Name:{{data?.author}}"
                                    routerLink="/eachcourse/{{data.id}}">{{data?.author}}</span> </div>
                            <div class="rating_and_price">
                                <rating class="rating-star-icons float_left" ngModel="{{data.rating}}" [readonly]="true"
                                    titles="{{data.rating}}"></rating> <a class="product-list__price" routerLink="/eachcourse/{{data.id}}">{{data.price
                                    | currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i *ngIf="!data.wishlist==false" class=" fas fa-heart sh-red "
                                        title="Add to wishlist" (click)="delCourseFwishList(data)"> </i> <i class=" far fa-heart"
                                        (click)="addwishlist(nullvalue,data?.id,nullvalue,nullvalue)" *ngIf="!data.wishlist==true">
                                    </i> <i *ngIf="!data.cart==false" class="fa fa-cart-plus" title="Click and remove from Cart"
                                        (click)="delfromcart(data)"> </i> <i class="wishlist material-icons" title="Add to Cart"
                                        *ngIf="!data.cart==true" (click)="addcart(nullvalue,data.id,nullvalue,nullvalue)">add_shopping_cart</i>
                                </div>
                                <div class="buy_btn"><a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="checkOffer2(nullvalue,data?.id,nullvalue,nullvalue)">Offer Now</a>
                                </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" (click)="courses(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now at {{data.price |
                                    currency:'USD'}}</a> <a class="btn-style btn text-transform-none" data-toggle="modal"
                                    data-target="#notesbidnow" (click)="bidcourseid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">Bid
                                    Now at {{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Course Already Bought</a>
                                    <a class="already-bought" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                        Course add by me </a>  </div>
                                   
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div><a routerLink="/seemoremp/Bid&BuyCourses" class="btn-style btn">See more</a>
        <h2 class="mainbanner bg-Bid-Notes"> Buy & Bid on Flash Cards</h2>
        <div class="col-lg-12 slider-hight">
            <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
                <div class="item" ngxSlickItem *ngFor="let data of bidflashcards?.flashcards; let i=index">
                    <div class="product-list__item min-height-product-list">
                        <figure class="product-list__img"> <a routerLink="/fcdetail/{{data.id}}"> <img src="{{Imageurl}}{{data.flashcard_image}}"
                                    alt="Flashcards"> </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}" title="{{data.name}}">{{data.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject"> <a title="User Name:{{data.user_id}}"
                                    routerLink="/fcdetail/{{data.id}}">{{data.user_id}}</a> </div>
                            <div class="rating_and_price">
                                <rating class="rating-star-icons " ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                                <a class="product-list__price" routerLink="/fcdetail/{{data.id}}">{{data.price |
                                    currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i *ngIf="!data.wishlist==false" title="Add to wishlist"
                                        (click)="delFlaskFwishList(data)" class="fas fa-heart sh-red"> </i> <i *ngIf="!data.wishlist==true"
                                        (click)="addwishlist(nullvalue,nullvalue,data.id,nullvalue)" class="far fa-heart"></i>
                                    <i class="wishlist material-icons" title="Add to Cart" *ngIf="!data.cart==true"
                                        (click)="addcart(nullvalue,nullvalue,nullvalue,data.id)">add_shopping_cart</i>
                                    <i class="fa fa-cart-plus" *ngIf="!data.cart==false" (click)="delfromcart(data)"
                                        title="Click and remove from Cart"></i> </div>
                                <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false"
                                        (click)="openDialog4(data?.id)">Offer Now</a> </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" (click)="flashcard(data.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased && data.isTeacher==false"> Buy Now at {{data.price |
                                    currency:'USD'}}</a> <a class="btn-style btn text-transform-none" data-toggle="modal"
                                    data-target="#cards" (click)="getcardid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased && data.isTeacher==false">
                                    Bid Now at {{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Flash Card Already Bought</a>
                                    <a class="already-bought" *ngIf="data.isTeacher==true" data-target="#notesbid">
                                        Flash Card add by me </a>  </div>
                        </div>
                    </div>
                </div>
            </ngx-slick>
        </div>
        <a routerLink="/seemoremp/Bid&BuyFlashCards" class="btn-style btn">See more</a>
        <h2 class="mainbanner bg-Bid-Notes">Buy & Bid on Books</h2>
        <div class="col-lg-12 slider-hight">
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
        <div class="item" ngxSlickItem *ngFor="let data of bidbooks?.books; let i=index">
                    <div class="product-list__item min-height-product-list">
                        <figure class="product-list__img"> <a routerLink="/detail/{{data.id}}"> <img src="{{Imageurl}}{{data.book_image}}"
                                    alt="Books"> </a> </figure>
                        <div class="product-list__content">
                            <div class="product-list__category"> <a routerLink="/detail/{{data.id}}" title="{{data.name}}">{{data.name}}</a>
                            </div>
                            <div class="product-list__title tutor-subject"> <a title="Author Name:{{data.author_name}}"
                                    routerLink="/detail/{{data.id}}">{{data.author_name}}</a> </div>
                            <div class="rating_and_price">
                                <rating class="rating-star-icons " ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}">
                                </rating> <a class="product-list__price " routerLink="/detail/{{data.id}}">{{data.price
                                    | currency:'USD'}}</a>
                            </div>
                            <div class="heart_cart_buy">
                                <div class="heart_cart"> <i title="Add to wishlist" *ngIf="!data.wishlist==false" class="fas fa-heart sh-red"
                                        (click)="delBookFwishList(data)"></i> <i *ngIf="!data.wishlist==true" (click)="addwishlist(data?.id, nullvalue, nullvalue,nullvalue)"
                                        class="far fa-heart"></i> <i title="Click and remove from Cart" (click)="delfromcart(data)"
                                        class="fa fa-cart-plus" *ngIf="!data.cart==false"></i> <i *ngIf="!data.cart==true"
                                        class="wishlist material-icons" title="Add to Cart" (click)="addcart(nullvalue,nullvalue,data.id,nullvalue)">add_shopping_cart</i>
                                </div>
                                <div class="buy_btn"> <a class="btn-style btn" *ngIf="data?.accept_offer==true && !data.Purchased && data.isTeacher==false" 
                                    (click)="checkOffer3(nullvalue,nullvalue,data?.id,nullvalue)">Offer
                                        Now</a> </div>
                            </div>
                            <div class="product-list__item-info-1"> <a class="btn-style btn text-transform-none" (click)="books(data?.id)"
                                    *ngIf="data.sell_status==true && !data.Purchased
                                     && data.isTeacher==false"> Buy Now at {{data.price |
                                    currency:'USD'}}</a> <a class="btn-style btn text-transform-none" data-toggle="modal"
                                    data-target="#bookbiding" (click)="booksid(data?.id)" *ngIf="data.bid_status==true && !data.Purchased 
                                    && data.isTeacher==false">
                                    Bid Now at {{data.bid_price | currency:'USD'}}</a> <a class="already-bought" *ngIf="data.Purchased==true"
                                    data-target="#notesbid"> <img src="../../../assets/img/CramFrenzyFavicon.png" alt="img">
                                    Book Already Bought</a>
                                <a class="already-bought" *ngIf="data.isTeacher==true" data-target="#notesbid"> Book add by me </a>  </div>
                        </div>
                    </div>
                </div>
        </ngx-slick>
        </div>
        <a routerLink="/seemoremp/Bid&BuyBooks" class=" btn-style btn ">See more</a>
    </div>
    <div class="text-center how-it-works-boxs">
        <div class="container">
            <h1 class="mainbanner">How it Works?</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="how-it-works-box"> <span class="glyphicon glyphicon-pencil"></span>
                        <h3>1. Signup on CramFrenzy</h3>
                        <p>Signup on CramFrenzy is super easy and takes less than a few minutes on Web or Mobile:
                            Download our next generation Artificially Intelligent App on Google Play Store or Apple App
                            Store.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="how-it-works-box"> <span class="glyphicon glyphicon-book"></span>
                        <h3>2. Browse Online Course Library</h3>
                        <p>With Price Comparison to Reviews Aggregation/Crunching and a Custom CramFrenzy Score of
                            every Seller, Buyer and Product, find the desired educational material for you: The right
                            ones!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="how-it-works-box"> <span class="glyphicon glyphicon-ok"></span>
                        <h3>3. BID, BUY or RENT</h3>
                        <p>BID on Books, Notes, Flash Cards, Courses & a whole lot more through a true Auction
                            Experience OR simply RENT/BUY them. It’s that simple!</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="how-it-works-box"> <span class="glyphicon glyphicon-ok"></span>
                        <h3>4. Give your Learning Wings</h3>
                        <p>Take your learning to a whole new level with CramFrenzy’s Ultra-Cool, Super- Fast Web &
                            Mobile App Experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="notesbidnow" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="form-1-header">
                        <h1>Bid on Course</h1>
                    </div>
                </div>
                <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}"
                        class="view-bid" data-dismiss="modal">view bid history </a>
                    <form name="form" role="form" method="post" (ngSubmit)="bidc(f)" #f="ngForm" class="user-add-ingo-form">
                        <a [routerLink]="['/bid-history']" [queryParams]="{cat:'course', id:bidingcourse}" data-dismiss="modal">
                            <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{coursebid?.endtime}}"></countdown>
                            <p *ngIf="course?.bidamount">Highest Bid amount:{{course?.bidamount}}</p>
                            <p *ngIf="!course?.bidamount">No Bid Received yet</p>
                        </a> <label>Bidding Price:</label>
                        <mat-form-field> <input matInput type="number" min="0" placeholder="Enter bid amount (US $)*" oninput="validity.valid||(value='');"
                                [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount" onKeyPress="if(this.value.length==4) return false;">
                                <span matPrefix>$&nbsp;</span> </mat-form-field>
                        <a class="btn-style btn" (click)="bidc(f)" data-dismiss="modal">Bid Now </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="notesbid" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content margin-top-175">
                <div class="modal-header">
                    <div class="form-1-header">
                        <h1>Bid on Note</h1>
                    </div>
                </div>
                <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'notes', id:bidonnotes}"
                        class="view-bid" data-dismiss="modal">view bid history </a> <a [routerLink]="['/bid-history']"
                        [queryParams]="{cat:'notes', id:bidonnotes}" data-dismiss="modal">
                        <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{notebid?.endtime}}"></countdown>
                        <p *ngIf="notes?.bidamount">Highest bid amount:{{notes?.bidamount}}</p>
                        <p *ngIf="!notes?.bidamount">No bid received yet</p>
                    </a>
                    <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form"> <label>Place
                            Your own bid:</label>
                        <mat-form-field> <input matInput type="number" min="0" onKeyPress="if(this.value.length==4) return false;" oninput="validity.valid||(value='');"
                             placeholder="Enter bid amount (US $)*" [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount"><span matPrefix>$&nbsp;</span>
                             </mat-form-field>
                        <a class="btn-style btn" (click)="biding(f)" data-dismiss="modal">Bid Now </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cards" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content margin-top-175">
                <div class="modal-header">
                    <div class="form-1-header">
                        <h1>Bid on Flash card</h1>
                    </div>
                </div>
                <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'flashcard', id:cardid}"
                        data-dismiss="modal" class="view-bid">view bid history </a> <a [routerLink]="['/bid-history']"
                        [queryParams]="{cat:'flashcard', id:cardid}" data-dismiss="modal">
                        <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{cardbid?.endtime}}"></countdown>
                        <p *ngIf="flashcardsbid?.bidamount">Highest bid amount:{{flashcardsbid?.bidamount}}</p>
                        <p *ngIf="!flashcardsbid?.bidamount">No bid received yet</p>
                    </a>
                    <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form"> <label>Place
                            Your own bid:</label>
                        <mat-form-field> <input matInput type="number" min="0" onKeyPress="if(this.value.length==4) return false;" oninput="validity.valid||(value='');"
                             placeholder="Enter bid amount (US $)*"
                                [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount"><span matPrefix>$&nbsp;</span> </mat-form-field>
                        <a class="btn-style btn" (click)="bidcard(f)" data-dismiss="modal">Bid Now </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="bookbiding" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content margin-top-175">
                <div class="modal-header">
                    <div class="form-1-header">
                        <h1>Bid on Book</h1>
                    </div>
                </div>
                <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'book', id:bidbookid}"
                        data-dismiss="modal" class="view-bid">view bid history </a> <a [routerLink]="['/bid-history']"
                        [queryParams]="{cat:'book', id:bidbookid}" data-dismiss="modal">
                        <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{book?.endtime}}"></countdown>
                        <p *ngIf="book?.bidamount">Highest bid amount:{{getbooks?.bidamount}}</p>
                        <p *ngIf="!book?.bidamount">No bid received yet</p>
                    </a>
                    <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form"> <label>Place
                            Your own bid:</label>
                        <mat-form-field> <input matInput type="number" min="0" onKeyPress="if(this.value.length==4) return false;" oninput="validity.valid||(value='');"
                             placeholder="Enter bid amount (US $)*"
                                [(ngModel)]="model.bidamount" #bidamount="ngModel" name="bidamount"><span matPrefix>$&nbsp;</span> </mat-form-field>
                        <a class="btn-style btn" (click)="bidingonbook(f)" data-dismiss="modal">Bid Now </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
