<div class="form-1-img signup-comp">
    <div class="row">
        <div class="form-1 form-width">
            <div class="form-1-header">
                <h1><i class="fas fa-user-alt"></i> Sign Up and Start Learning with a Roar</h1>
            </div>
            <ul class="nav nav-tabs signup-tabs nav-justified padding-top-10">
                <li class="nav-item">
                    <a href="#user_signup" data-toggle="tab" class="active nav-link nav-active" title="User"> User </a>
                </li>
                <li class="nav-item">
                    <a href="#inst_signup" data-toggle="tab" class="nav-link nav-active" title="Institute"> Institute
                    </a>
                </li>
            </ul>
            <div class="tab-content ">
                <div id="user_signup" class="form-1-body sh padding-top-10 tab-pane fade in active show">
                    <form class="sh-signup-form-fix signup-login-fonts" [formGroup]="register" id="notesbidnow"
                        #form=ngForm>
                        <div [ngClass]="displayFieldCss(register, 'firstname')">
                            <mat-form-field>
                                <input class="text_cap" matInput type="text" id="firstname" #firstname
                                    formControlName="firstname" placeholder="First name" pattern="[a-zA-Z ]+"
                                    name="firstname" (keydown.space)="$event.preventDefault()" required minlength="2"
                                    maxlength="64">
                                <mat-error *ngIf="register.controls.firstname.value==''">
                                    <strong>First Name cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.firstname.errors?.minlength"><strong> First Name
                                        must be
                                        at least {{register.controls.firstname.errors.minlength.requiredLength}}
                                        characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.firstname.errors?.maxlength"><strong>First Name
                                        must be at
                                        most{{register.controls.firstname.errors.maxlength.requiredLength}}characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.firstname.hasError('pattern')"><strong>Alphabets
                                        Only</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(register, 'lastname')">
                            <mat-form-field class="margin-top-10">
                                <input class="text_cap" matInput type="text" id="lastname" #lastname
                                    formControlName="lastname" placeholder="Last name" pattern="[a-zA-Z ]+"
                                    name="lastname" (keydown.space)="$event.preventDefault()" required minlength="2"
                                    maxlength="64">
                                <mat-error *ngIf="register.controls.lastname.value==''">
                                    <strong>Last Name cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.lastname.errors?.minlength"><strong>Last Name
                                        must be
                                        at least {{register.controls.lastname.errors.minlength.requiredLength}}
                                        characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.lastname.errors?.maxlength"> <strong> Last Name
                                        must be at
                                        most{{register.controls.lastname.errors.maxlength.requiredLength}}characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.lastname.hasError('pattern')"><strong> Alphabets
                                        Only</strong> </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(register, 'username')">
                            <mat-form-field class="margin-top-10">
                                <input matInput type="text" id="username" (focusout)="getusername(username1.value)"
                                    #username1 formControlName="username" placeholder="Username" required minlength="3"
                                    maxlength="64">
                                <mat-error *ngIf="register.controls.username.value==''">
                                    <strong>Username cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.username.errors?.minlength"><strong>User Name
                                        must be
                                        at least {{register.controls.username.errors.minlength.requiredLength}}
                                        characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.username.errors?.maxlength"> <strong> User Name
                                        must be at
                                        most{{register.controls.username.errors.maxlength.requiredLength}}characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.username.hasError('pattern')"><strong>Invalid User
                                        Name</strong> </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(register, 'email')">
                            <mat-form-field class="singup-feilds-padding margin-top-10">
                                <input matInput type="text" id="email" (focusout)="getemail(email1.value)"
                                    formControlName="email" #email1 placeholder="Email" required>
                                <mat-error *ngIf="register.controls.email.value==''">
                                    <strong>Email cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.email.hasError('pattern')"><strong>Please enter a
                                        valid email address</strong> </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(register, 'password')">
                            <mat-form-field class="margin-top-10">
                                <input matInput type="password" id="password" [type]="hide ? 'password' : 'text'"
                                    #password formControlName="password"
                                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                                    name=password placeholder="Password" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required>
                                <mat-icon class="pointer" data-toggle="tooltip"
                                    title="{{hide? 'hide' : 'show'}}Password" matSuffix (click)="hide=!hide">
                                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="register.controls.password.value==''">
                                    <strong>Password cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.password.hasError('pattern')">Password must be 8
                                    characters long and must include 1 upper case, 1 lower case, 1 number and 1 special
                                    character</mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(register, 'confirmPassword')">
                            <mat-form-field class="margin-top-20">
                                <input matInput [type]="hide2 ? 'password' : 'text'" #password type="password"
                                    id="confirmPassword"
                                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                                    formControlName="confirmPassword" placeholder="Confirm Password" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required>
                                <mat-icon class="pointer" data-toggle="tooltip"
                                    title="{{hide2? 'hide2' : 'show'}}Password" matSuffix (click)="hide2=!hide2">
                                    {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error
                                    *ngIf="(register.controls.confirmPassword.value !=register.controls.password.value) || register.controls.confirmPassword.value==''">
                                    <strong>Password must match </strong>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="width100 display-flex margin-top-25">
                            <div >
                                <app-recapcha></app-recapcha>
                            </div>
                            <div class="agree-button-div ">
                                <div class="toggle-btn">
                                        <mat-slide-toggle (change)="changeCheck($event)">By clicking on the "Signup" button below, you understand and agree that the use of this Website, Mobile Apps, AI and ALL other related Technology Platforms are subject to the 
                                        <a class="terms-cond" href="/terms"
                                            target="blank">Terms of Use </a> and<a class="terms-cond"href="/privacy-policy" target="blank">
                                            Privacy Policy</a></mat-slide-toggle>
                                </div>
                                <button [disabled]="disabledAgreement" class="btn-style btn  width50 font-24px"
                                    (click)="onRegister()">Sign Up</button>
                                <div class="have-account">Already have an account?
                                    <a routerLink="/login">Sign In</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="inst_signup" class="form-1-body padding-top-10 tab-pane fade">
                    <form class="sh-signup-form-fix signup-login-fonts" [formGroup]="institute">
                        <div [ngClass]="displayFieldCss(institute, 'username')">
                            <mat-form-field>
                                <input matInput type="text" (focusout)="getusername(username1.value)" #username
                                    formControlName="username" placeholder="Username" required minlength="3"
                                    maxlength="64">
                                <mat-error *ngIf="institute.controls.username.value==''">
                                    <strong>Username cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="institute.controls.username.hasError('pattern')"> Invalid Username
                                </mat-error>
                                <mat-error *ngIf="institute.controls.username.errors?.minlength"><strong>User Name
                                        must be
                                        at least {{institute.controls.username.errors.minlength.requiredLength}}
                                        characters
                                        long.</strong>
                                </mat-error>
                                <mat-error *ngIf="institute.controls.username.errors?.maxlength"> <strong> User Name
                                        must be at
                                        most{{institute.controls.username.errors.maxlength.requiredLength}}characters
                                        long.</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'name')">
                            <mat-form-field class="singup-feilds-padding margin-top-10">
                                <input class="text_cap" matInput type="text" placeholder="Institute Name"
                                    formControlName="name" #name required>
                                <mat-error *ngIf="institute.controls.name.value==''">
                                    <strong>Institue Name cannot be empty</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'location')">
                            <mat-form-field class="singup-feilds-padding margin-top-10">
                                <input class="text_uper" matInput type="text" placeholder="City/State"
                                    formControlName="location" #location required>
                                <mat-error *ngIf="institute.controls.location.value==''">
                                    <strong>City/State cannot be empty</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'address')" required>
                            <mat-form-field class="singup-feilds-padding margin-top-10">
                                <input class="text_cap" matInput type="text" placeholder="Address"
                                    formControlName="address" #address required>
                                <mat-error *ngIf="institute.controls.address.value==''">
                                    <strong>Address cannot be empty</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'contact')">
                            <mat-form-field class="singup-feilds-padding margin-top-10">
                                <input matInput type="text" placeholder="Contact Number" formControlName="contact"
                                    pattern="^[0-9]*$" name="contact" #contact required>
                                <mat-error *ngIf="institute.controls.contact.value==''">
                                    <strong>Contact Number cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="institute.controls.contact.hasError('pattern')">Numbers Only
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'email')">
                            <mat-form-field class="singup-feilds-padding margin-top-10">
                                <input matInput type="text" (focusout)="getemail(email1.value)" formControlName="email"
                                    required #email1 placeholder="Email">
                                <mat-error *ngIf="institute.controls.email.value==''">
                                    <strong>Email cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="institute.controls.email.hasError('pattern')"> Please enter a valid
                                    email address </mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'password')">
                            <mat-form-field class="margin-top-10">
                                <input matInput type="password" [type]="hide ? 'password' : 'text'" #password
                                    formControlName="password"
                                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$"
                                    name=password placeholder="Password" required>
                                <mat-icon class="pointer" data-toggle="tooltip"
                                    title="{{hide? 'hide' : 'show'}}Password" matSuffix (click)="hide=!hide">
                                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="institute.controls.password.value==''">
                                    <strong>Password cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="institute.controls.password.errors?.minlength"> Password must be at
                                    least 8 characters long. </mat-error>
                                <mat-error *ngIf="institute.controls.password.hasError('pattern')">Password must be 8
                                    characters long and must include 1 upper case, 1 lower case, 1 number and 1 special
                                    character</mat-error>
                            </mat-form-field>
                        </div>
                        <div [ngClass]="displayFieldCss(institute, 'confirmPassword')">
                            <mat-form-field class="margin-top-20">
                                <input matInput [type]="hide2 ? 'password' : 'text'" #password type="password"
                                    formControlName="confirmPassword" placeholder="Confirm Password" required
                                    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$">
                                <mat-icon class="pointer" data-toggle="tooltip"
                                    title="{{hide2? 'hide2' : 'show'}}Password" matSuffix (click)="hide2=!hide2">
                                    {{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error
                                    *ngIf="(institute.controls.confirmPassword.value !=institute.controls.password.value) || institute.controls.confirmPassword.value==''">
                                    <strong>Password must match </strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="width100 display-flex margin-top-25">
                            <div >
                                <app-recapcha></app-recapcha>
                            </div>
                            <div class="agree-button-div ">
                                <div class="toggle-btn">
                                        <mat-slide-toggle (change)="changeCheck($event)">By clicking on the "Signup" button below, you understand and agree that the use of this Website, Mobile Apps, AI and ALL other related Technology Platforms are subject to the <a href="/terms"
                                            target="blank">Terms of Use </a> and <a href="/privacy-policy" target="blank">
                                            Privacy Policy</a></mat-slide-toggle>
                                </div>
                               
                                <button [disabled]="disabledAgreement" class="btn-style btn  width50 font-24px"
                                    (click)="instituteRegister()">Sign Up</button>
                                <div class="have-account">Already have an account?
                                    <a routerLink="/login">Sign In</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
