<!--<div class="container user-dashboard">-->
  <!--<div class="row my-3">-->
      <!--<div class="col-md-3">-->
          <!--<nav>-->
            <!--<form class="user-profile-form">-->
              <!--<img src="https://storage.cramfrenzy.com/images/{{profilePhoto}}" >-->
              <!--<h4 class="user-name">{{firstname}} {{lastname}}</h4>-->
            <!--</form>-->
              <!--<a class="user-link" routerLink="/userprofile" routerLinkActive="active1"><i class="fas fa-user"></i> Profile</a>-->
              <!--<a class="user-link" routerLink="/change-password" routerLinkActive="active1"><i class="fas fa-key"></i> Change Password</a>-->
              <!--&lt;!&ndash;<a class="user-link" routerLink="/experience" routerLinkActive="active1">  Experience </a>&ndash;&gt;-->
          <!--</nav>-->
      <!--</div>-->
      <!--<div class="col-md-9 user-profile">-->
          <!--<h1 class="user-heading">Experience</h1>-->
          <!--&lt;!&ndash; <a class="btn-style btn  main-nav__list_right" value="Delete" data-toggle="modal" data-target="#myModal5"-->
              <!--(click)=" userdatainfo(id )">-->
              <!--<i class="fa fa-edit"></i>-->
          <!--</a> &ndash;&gt;-->
          <!--<form class="user-add-ingo-form modal-form margin-top-50" enctype="multipart/form-data">-->
            <!--<mat-form-field> <input matInput type="text" placeholder="School"name="school_attended" required> -->
            <!--</mat-form-field>-->
            <!--<mat-form-field> <input matInput type="date" placeholder="Graduation Year" name="graduation_year" required> -->
            <!--</mat-form-field>-->
            <!--<mat-form-field> <input matInput type="text" placeholder="Major" name="major" required> -->
            <!--</mat-form-field>-->
            <!--<mat-form-field>-->
            <!--<mat-select type="number" placeholder="Subject" name="subject" required>-->
              <!--<mat-option *ngFor="let data of sub_category_name" [value]="data.id">{{data.sub_category_name}}</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->
            <!--<mat-form-field> <input matInput type="text" placeholder="Country of Residance" name="state_of_residence" required> -->
            <!--</mat-form-field>-->
            <!--<mat-form-field> <input matInput type="text" placeholder="Experience" name="Experience" required> -->
            <!--</mat-form-field>-->
            <!--<mat-form-field> <input matInput type="text" placeholder="Interview" name="interview" required> -->
            <!--</mat-form-field>-->
            <!--<mat-form-field> -->
              <!--<textarea matInput type="text" placeholder="Tell about your self"-->
              <!--name="description" required></textarea> -->
            <!--</mat-form-field>-->
            <!--<span class="btn-file">Upload resume <input  type="file" accept="application/pdf" required> </span>-->
            <!--<button class="tutor-reg-btn"> Save </button>-->
          <!--</form>-->
      <!--</div>-->
  <!--</div>-->
<!--</div>-->
