<section class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="mainbanner wow bounceInLeft">Who Are We?</h2>
            <p class="about-text wow bounceIn"> We, the engineers at CramFrenzy have devised bleeding edge Machine
                Learning (ML) and proprietary Artificially Intelligent (AI) algorithms to bring you a next generation
                Artificially Intelligent Auction Marketplace for Online Educational Material=BTW, we are very proud of
                our work! <br>We believe that, it’s high time that subjective and traditional approaches for online
                learning are replaced with next-generation AI-driven technology. </p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"> <img class="img-responsive wow bounceInDown"
                src="../../assets/img/who-are-we.jpg"> </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12"> <img class="img-responsive wow bounceInUp" alt=""
                src="../../assets/img/what-is-it.jpg"> </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <h2 class="mainbanner wow bounceInRight">What is CramFrenzy</h2>
            <p class="about-text wow bounceIn"> CramFrenzy is a next generation Artificially Intelligent Auction
                Marketplace to connect Instructors, Tutors and Students together for a Super-Fast Ultra-Cool worldwide
                learning experience. Books, Flash Cards, Courses, Notes & a whole lot more can be Sold, Bought or
                Bidding on CramFrenzy through a true Auction experience. CramFrenzy assists Students, Tutors and
                Professionals in researching, trading and bidding on desired educational material at the best price from
                top and trusted Instructors & Tutors. From Price Comparison to Reviews Aggregation/Crunching and, a
                Custom CramFrenzy Score of every Buyer, Seller and Product based on our proprietary Machine Learning
                Engine, CramFrenzy will assist the user through a trusted, neutral, unbiased, time and money saving
                learning experience. Cutting to the chase, CramFrenzy is the Online Cram Universe: Learn with a Roar!
            </p>
        </div>
    </div>
</section>
<section class="who-are-we">
    <h1 class="mainbanner">Our Mission</h1>
    <p> We have over 100+ years of combined experience in the High Tech Universe – In both Hardware and Software
        domains. We incubate, accelerate and brood In-House and Community Products in Machine Learning/Artificial
        Intelligence & iOT technologies. We are strong believers in next-generation automation and efficiency by
        harnessing the power of Machine Learning: We see Artificial Intelligence (AI) as a revolutionary toolbox that,
        will allow us to empower organizations and people to make life simpler n’ easier. </p>
</section>