<!-- <div class="container"> 
  <h1 class="mainbanner">Pending Offers</h1>
    <ul class="nav nav-tabs nav-justified fcdetail">
      <li class="nav-item"> <a data-toggle="tab" href="#t-p-notes" class="nav-link nav-active active" title="Pending Notes">Notes</a>
      </li>
      <li class="nav-item"> <a data-toggle="tab" href="#t-p-courses" id="flipFlash" class="nav-link nav-active" title="Pending Course">Courses</a>
      </li>
      <li class="nav-item"> <a data-toggle="tab" href="#t-p-flashcards" id="flashdetail" class="nav-link nav-active" title="Pending Flash Cards">Flash Cards</a> 
      </li>
      <li class="nav-item"> <a data-toggle="tab" href="#t-p-books" id="flashdetail" class="nav-link nav-active" title="Pending Books">Books</a>
      </li>
      </ul>
                    <div class="tab-content">
                        <div id="t-p-notes" class="tab-pane active margin-bottom-200">
                            <h4 *ngIf="offercount?.notes.offer_status == true">No  offer pending on your notes</h4>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.notes; let i=index">
                                <div class="product-list__item" *ngIf="data?.offer_status == null">
                                    <figure class="product-list__img">
                                        <a routerLink="/notes/{{data?.id}}">
                                            <img src="{{Imageurl}}{{data?.notes_thumbnail}}" data-filter="*" alt="">
                                        </a>
                                    </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category">
                                            <a routerLink="/notes/" title=""></a>
                                        </div>
                                        <div class="product-list__title tutor-subject">
                                            <span title="Authur Name:" routerLink="/notes/{{data?.id}}">{{data?.name}}</span>
                                        </div>
                                        <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                        </rating>
                                    </div>
                                  <p>user_offer: ${{data?.user_offer}}</p>
                                  <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                  <button *ngIf="data.status == true">Offer accepted</button>
                                  <button *ngIf="data.status != true" (click)=approcourse(data?.accept_id)>Accept</button>
                                  <button *ngIf="data.status != true" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                </div>
                            
                            
                              </div>
                            </div>
                        </div>
                        <div id="t-p-courses" class="tab-pane margin-bottom-200">
                          <h4 *ngIf="offercount?.courses == ''">No any one offer yet on your course</h4>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.courses; let i=index">
                                <div class="product-list__item" *ngIf="data?.offer_status == null">
                                    <figure class="product-list__img">
                                        <a routerLink="/eachcourse/{{data?.id}}">
                                            <img src="{{Imageurl}}{{data?.course_thumbnail}}" data-filter="*" alt="">
                                        </a>
                                    </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category">
                                            <a routerLink="/fcdetail/" title=""></a>
                                        </div>
                                        <div class="product-list__title tutor-subject">
                                            <span title="Authur Name:" routerLink="/eachcourse/{{data?.id}}">{{data?.name}}</span>
                                        </div>
                                        <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                        </rating>
                                    </div>
                                  <p>user_offer: ${{data?.user_offer}}</p>
                                  <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                  <button *ngIf="data?.status == true">Offer accepted</button>
                                  <button *ngIf="data?.status != true" (click)=approcourse(data?.accept_id)>Accept</button>
                                  <button *ngIf="data?.status != true" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                </div>
                            
                            
                              </div>
                            </div>
                        </div>
                        <div id="t-p-flashcards" class="tab-pane margin-bottom-200">
                          <h4 *ngIf="offercount?.flashcards == ''">No any one offer yet on your flash cards</h4>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.flashcards; let i=index">
                                    <div class="product-list__item" *ngIf="data?.offer_status == null">
                                        <figure class="product-list__img">
                                            <a routerLink="/fcdetail/{{data?.id}}">
                                                <img src="{{Imageurl}}{{data?.flashcard_image}}" data-filter="*" alt="">
                                            </a>
                                        </figure>
                                        <div class="product-list__content">
                                            <div class="product-list__category">
                                                <a routerLink="/fcdetail/" title=""></a>
                                            </div>
                                            <div class="product-list__title tutor-subject">
                                                <span title="Authur Name:" routerLink="/fcdetail/{{data?.id}}">{{data?.name}}</span>
                                            </div>
                                            <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                            </rating>
                                        </div>
                                      <p>user_offer: ${{data?.user_offer}}</p>
                                      <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                      <button *ngIf="data?.status == true">Offer accepted</button>
                                      <button *ngIf="data?.status != true" (click)=approcourse(data?.accept_id)>Accept</button>
                                      <button *ngIf="data?.status != true" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                      
                                    </div>
                                
                                
                                  </div>

                            </div>
                        </div>
                        <div id="t-p-books" class="tab-pane margin-bottom-200">
                          <h4 *ngIf="offercount?.books == ''">No any one offer yet on your book</h4>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.books; let i=index">
                                <div class="product-list__item" *ngIf="data?.offer_status == null">
                                    <figure class="product-list__img">
                                        <a routerLink="/fcdetail/{{data?.id}}">
                                            <img src="{{Imageurl}}{{data?.book_image}}" data-filter="*" alt="">
                                        </a>
                                    </figure>
                                    <div class="product-list__content">
                                        <div class="product-list__category">
                                            <a routerLink="/fcdetail/" title=""></a>
                                        </div>
                                        <div class="product-list__title tutor-subject">
                                            <span title="Authur Name:" routerLink="/fcdetail/{{data?.id}}">{{data?.name}}</span>
                                        </div>
                                        <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                        </rating>
                                    </div>
                                  <p>user_offer: ${{data?.user_offer}}</p>
                                  <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                  <button *ngIf="data?.status == true">Offer accepted</button>
                                  <button *ngIf="data?.status != true" (click)=approcourse(data?.accept_id)>Accept</button>
                                  <button *ngIf="data?.status != true" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                </div>
                            
                            
                              </div>
                            </div>
                        </div>
                    </div> 
              -->


                    <div class="container-fluid margin-top-10">
                      <div class="row">
                          <div class="col-md-3 col-sm-3">
                              <ul class="nav nav-tabs side-tabs ">
                                  <li class="nav-item"> <a data-toggle="tab" href="#listofterms" class="nav-link nav-active active" title="Accepted Offers">Accepted Offers</a>
                                  </li>
                                  <li class="nav-item"> <a data-toggle="tab" href="#flipflashcards" id="flipFlash" class="nav-link nav-active" title="Rejected Offers">Rejected Offers</a>
                                  </li>
                                  <li class="nav-item"> <a data-toggle="tab" href="#flashcarddetail" id="flashdetail" class="nav-link nav-active" title="Pending Offers">Pending Offers</a> </li>
                              </ul>
                          </div>
                          <div class="col-sm-9 ">
                              <div class="tab-content">
                                  <div id="listofterms" class="tab-pane active margin-bottom-200">
                                      <div class="container-fluid">
                                          <h1 class="mainbanner">Accepted Offers</h1>
                                          <ul class="nav nav-tabs nav-justified fcdetail">
                                              <li class="nav-item"> <a data-toggle="tab" href="#notes" class="nav-link nav-active active" title="Accepted Notes">Notes</a>
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#courses" id="flipFlash" class="nav-link nav-active" title="Accepted Course">Courses</a>
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#flashcards" id="flashdetail" class="nav-link nav-active" title="Accepted Flash Cards">Flash Cards</a> 
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#books" id="flashdetail" class="nav-link nav-active" title="Accepted Books">Books</a>
                                              </li>
                                          </ul>
                                          <div class="tab-content">
                                              <div id="notes" class="tab-pane active margin-bottom-200">
                                                  <h4 class="text-center" *ngIf="offercount?.notes==0">No Notes Offer Accepted Yet</h4>
                                                  <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.notes; let i=index">
                                                      <div class="product-list__item" *ngIf="data?.offer_status == true">
                                                          <figure class="product-list__img">
                                                              <a routerLink="/notes/{{data?.id}}">
                                                                  <img src="{{Imageurl}}{{data?.notes_thumbnail}}" data-filter="*" alt="">
                                                              </a>
                                                          </figure>
                                                          <div class="product-list__content">
                                                              <div class="product-list__category">
                                                                  <a routerLink="/notes/" title=""></a>
                                                              </div>
                                                              <div class="product-list__title tutor-subject">
                                                                  <span title="Authur Name:" routerLink="/notes/{{data?.id}}">{{data?.name}}</span>
                                                              </div>
                                                              <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                                              </rating>
                                                          </div>
                                                        <p>user_offer: ${{data?.user_offer}}</p>
                                                    
                                                      </div>
                                                  
                                                  
                                                    </div>
                                                  </div>
                                              </div>
                                              <div id="courses" class="tab-pane margin-bottom-200">
                                                  <h4 class="text-center" *ngIf="getoffer?.courses==0"> No Course Offer Accepted  Yet</h4>
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of offercount?.courses; let i=index">
                                                          <div class="product-list__item" *ngIf="item?.offer_status == true">
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/eachcourse/{{item.id}}">
                                                                      <img src="{{Imageurl}}{{item?.course_thumbnail}}" data-filter="*" alt="Course">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                <div class="product-list__category">
                                                                    <a routerLink="/notes/" title=""></a>
                                                                </div>
                                                                <div class="product-list__title tutor-subject">
                                                                    <span title="Authur Name:" routerLink="/eachcourse/{{item?.id}}">{{item?.name}}</span>
                                                                </div>
                                                                <rating ngModel="{{item?.rating}}" [readonly]="true" titles="{{item?.rating}}">
                                                                </rating>
                                                            </div>
                                                          <p>user_offer: ${{item?.user_offer}}</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div id="flashcards" class="tab-pane margin-bottom-200">
                                                  <h4 class="text-center" *ngIf="getoffer?.flashcards==0"> No Flash Card Offer Accepted Yet</h4>
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of offercount?.flashcards, let i=index">
                                                          <div class="product-list__item" *ngIf="item?.offer_status == true">
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/fcdetail/{{item.id}}">
                                                                      <img src="{{Imageurl}}{{item.flashcard_image}}" data-filter="*" alt="">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                <div class="product-list__category">
                                                                    <a routerLink="/notes/" title=""></a>
                                                                </div>
                                                                <div class="product-list__title tutor-subject">
                                                                    <span title="Authur Name:" routerLink="/eachcourse/{{item?.id}}">{{item?.name}}</span>
                                                                </div>
                                                                <rating ngModel="{{item?.rating}}" [readonly]="true" titles="{{item?.rating}}">
                                                                </rating>
                                                            </div>
                                                          <p>user_offer: ${{item?.user_offer}}</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div id="books" class="tab-pane margin-bottom-200">
                                                  <h4 class="text-center" *ngIf="getoffer?.books==0"> No Book Offer Accepted Yet</h4>
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of offercount?.books; let i=index">
                                                          <div class="product-list__item" *ngIf="item?.offer_status == true">
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/detail/{{item?.id}}">
                                                                      <img src="{{Imageurl}}{{item?.book_image}}" alt="Book">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                <div class="product-list__category">
                                                                    <a routerLink="/notes/" title=""></a>
                                                                </div>
                                                                <div class="product-list__title tutor-subject">
                                                                    <span title="Authur Name:" routerLink="/detail/{{item?.id}}">{{item?.name}}</span>
                                                                </div>
                                                                <rating ngModel="{{item?.rating}}" [readonly]="true" titles="{{item?.rating}}">
                                                                </rating>
                                                            </div>
                                                          <p>user_offer: ${{item?.user_offer}}</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="flipflashcards" class="tab-pane fade">
                                      <div class="container-fluid">
                                          <h1 class="mainbanner">Rejected Offers</h1>
                                          <ul class="nav nav-tabs nav-justified fcdetail">
                                              <li class="nav-item"> <a data-toggle="tab" href="#R-notes" class="nav-link nav-active active" title="Rejected Notes">Notes</a>
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#R-courses" id="flipFlash" class="nav-link nav-active" title="Rejected Courses">Courses</a>
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#R-flashcards" id="flashdetail" class="nav-link nav-active" title="Rejected Flash Cards">Flash Cards</a> </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#R-books" id="R-flashdetail" class="nav-link nav-active" title="Rejected Books">Books</a>
                                              </li>
                                          </ul>
                                          <div class="tab-content">
                                              <div id="R-notes" class="tab-pane active margin-bottom-200">
                                                <div class="row">
                                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.notes; let i=index">
                                                    <div class="product-list__item" *ngIf="data?.offer_status == false">
                                                        <figure class="product-list__img">
                                                            <a routerLink="/notes/{{data?.id}}">
                                                                <img src="{{Imageurl}}{{data?.notes_thumbnail}}" data-filter="*" alt="">
                                                            </a>
                                                        </figure>
                                                        <div class="product-list__content">
                                                            <div class="product-list__category">
                                                                <a routerLink="/notes/" title=""></a>
                                                            </div>
                                                            <div class="product-list__title tutor-subject">
                                                                <span title="Authur Name:" routerLink="/notes/{{data?.id}}">{{data?.name}}</span>
                                                            </div>
                                                            <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                                            </rating>
                                                        </div>
                                                      <p>user_offer: ${{data?.user_offer}}</p>
                                                      <!-- <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                                      <button *ngIf="data.status == true">Offer accepted</button>
                                                      <button *ngIf="data.status != true" (click)=approcourse(data?.accept_id)>Accept</button>
                                                      <button *ngIf="data.status != true" (click)="rejectedcourse(data?.accept_id)">Reject</button> -->
                                                    </div>
                                                
                                                
                                                  </div>
                                                </div>
                                              </div>
                                              <div id="R-courses" class="tab-pane margin-bottom-200">
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of offercount?.courses; let i=index">
                                                          <div class="product-list__item" *ngIf="item?.offer_status==false">
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/eachcourse/{{item.id}}">
                                                                      <img src="{{Imageurl}}{{item?.course_thumbnail}}" data-filter="*" alt="Course">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                  <div class="product-list__category">
                                                                      <a routerLink="/eachcourse/{{item?.id}}" title="{{item?.name}}">{{item?.name}}</a>
                                                                  </div>
                                                                  <div class="product-list__title tutor-subject">
                                                                      <span title="Authur Name:{{item?.author}}" routerLink="/eachcourse/{{item?.id}}">{{item?.author}}</span>
                                                                  </div>
                                                                  <rating ngModel="{{item?.rating}}" [readonly]="true" titles="{{item?.rating}}">
                                                                  </rating>
                                                              </div>
                                                             
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div id="R-flashcards" class="tab-pane margin-bottom-200">
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of offercount?.flashcards, let i=index">
                                                          <div class="product-list__item" *ngIf="item?.offer_status==false">
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/fcdetail/{{item.id}}">
                                                                      <img src="{{Imageurl}}{{item.flashcard_image}}" data-filter="*" alt="">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                  <div class="product-list__category">
                                                                      <a routerLink="/fcdetail/{{item?.id}}" title="{{item?.name}}">{{item?.name}}</a>
                                                                  </div>
                                                                  <div class="product-list__title tutor-subject">
                                                                      <span title="Authur Name:{{item?.userid}}" routerLink="/fcdetail/{{item?.id}}">{{item?.userid}}</span>
                                                                  </div>
                                                                  <rating ngModel="{{item?.rating}}" [readonly]="true" titles="{{item?.rating}}">
                                                                  </rating>
                                                              </div>
                                                             
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div id="R-books" class="tab-pane margin-bottom-200">
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of offercount?.books; let i=index">
                                                          <div class="product-list__item" *ngIf="item?.offer_status==false">
                                                              <p *ngIf="offer_status==false">
                                                                  No book offer rejected yet
                                                              </p>
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/detail/{{item?.id}}">
                                                                      <img src="{{Imageurl}}{{item?.book_image}}" alt="Book">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                  <div class="product-list__category">
                                                                      <a routerLink="/detail/{{item?.id}}" title="{{item?.name}}">{{item?.name}}</a>
                                                                  </div>
                                                                  <div class="product-list__title tutor-subject">
                                                                      <span title="Authur Name:{{item?.author_name}}" routerLink="/detail/{{item?.id}}">{{item?.author_name}}</span>
                                                                  </div>
                                                                  <rating ngModel="{{item?.rating}}" [readonly]="true" titles="{{item?.rating}}">
                                                                  </rating>
                                                              </div>
                                                            
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div id="flashcarddetail" class="tab-pane fade">
                                      <div class="container-fluid">
                                          <h1 class="mainbanner">Pending Offers</h1>
                                          <ul class="nav nav-tabs nav-justified fcdetail">
                                              <li class="nav-item"> <a data-toggle="tab" href="#P-notes" class="nav-link nav-active active" title="Pending Notes">Notes</a>
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#P-courses" id="flipFlash" class="nav-link nav-active" title="Pending Courses">Courses</a>
                                              </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#P-flashcards" id="flashdetail" class="nav-link nav-active" title="Pending Flash Cards">Flash Cards</a> </li>
                                              <li class="nav-item"> <a data-toggle="tab" href="#P-books" id="R-flashdetail" class="nav-link nav-active" title="Pending Books">Books</a>
                                              </li>
                                          </ul>
                                          <div class="tab-content">
                                              <div id="P-notes" class="tab-pane active margin-bottom-200">
                                                <div class="row">
                                                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.notes; let i=index">
                                                    <div class="product-list__item" *ngIf="data?.offer_status == null">
                                                        <figure class="product-list__img">
                                                            <a routerLink="/notes/{{data?.id}}">
                                                                <img src="{{Imageurl}}{{data?.notes_thumbnail}}" data-filter="*" alt="">
                                                            </a>
                                                        </figure>
                                                        <div class="product-list__content">
                                                            <div class="product-list__category">
                                                                <a routerLink="/notes/" title=""></a>
                                                            </div>
                                                            <div class="product-list__title tutor-subject">
                                                                <span title="Authur Name:" routerLink="/notes/{{data?.id}}">{{data?.name}}</span>
                                                            </div>
                                                            <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                                            </rating>
                                                        </div>
                                                      <p>user_offer: ${{data?.user_offer}}</p>
                                                      <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                                      <button *ngIf="data?.status == null" (click)=approcourse(data?.accept_id)>Accept</button>
                                                      <button *ngIf="data?.status == null" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                          
                                              <div id="P-courses" class="tab-pane margin-bottom-200">
                                                <h4 *ngIf="offercount?.courses == ''">No any one offer yet on your course</h4>
                                                  <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.courses; let i=index">
                                                      <div class="product-list__item" *ngIf="data?.offer_status == null">
                                                          <figure class="product-list__img">
                                                              <a routerLink="/eachcourse/{{data?.id}}">
                                                                  <img src="{{Imageurl}}{{data?.course_thumbnail}}" data-filter="*" alt="">
                                                              </a>
                                                          </figure>
                                                          <div class="product-list__content">
                                                              <div class="product-list__category">
                                                                  <a routerLink="/fcdetail/" title=""></a>
                                                              </div>
                                                              <div class="product-list__title tutor-subject">
                                                                  <span title="Authur Name:" routerLink="/eachcourse/{{data?.id}}">{{data?.name}}</span>
                                                              </div>
                                                              <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                                              </rating>
                                                          </div>
                                                        <p>user_offer: ${{data?.user_offer}}</p>
                                                        <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                                        <button *ngIf="data?.status == null" (click)=approcourse(data?.accept_id)>Accept</button>
                                                        <button *ngIf="data?.status == null" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                                      </div>
                                                  
                                                  
                                                    </div>
                                                  </div>
                                              </div>
                                              <div id="P-flashcards" class="tab-pane margin-bottom-200">
                                                <h4 *ngIf="offercount?.flashcards == ''">No any one offer yet on your flash cards</h4>
                                                  <div class="row">
                                                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.flashcards; let i=index">
                                                          <div class="product-list__item" *ngIf="data?.offer_status == null">
                                                              <figure class="product-list__img">
                                                                  <a routerLink="/fcdetail/{{data?.id}}">
                                                                      <img src="{{Imageurl}}{{data?.flashcard_image}}" data-filter="*" alt="">
                                                                  </a>
                                                              </figure>
                                                              <div class="product-list__content">
                                                                  <div class="product-list__category">
                                                                      <a routerLink="/fcdetail/" title=""></a>
                                                                  </div>
                                                                  <div class="product-list__title tutor-subject">
                                                                      <span title="Authur Name:" routerLink="/fcdetail/{{data?.id}}">{{data?.name}}</span>
                                                                  </div>
                                                                  <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                                                  </rating>
                                                              </div>
                                                            <p>user_offer: ${{data?.user_offer}}</p>
                                                            <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                                           
                                                            <button *ngIf="data?.status == null" (click)=approcourse(data?.accept_id)>Accept</button>
                                                            <button *ngIf="data?.status == null" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                                            
                                                          </div>
                                                      
                                                      
                                                        </div>
                      
                                                  </div>
                                              </div>
                                              <div id="P-books" class="tab-pane margin-bottom-200">
                                                <h4 *ngIf="offercount?.books == ''">No any one offer yet on your book</h4>
                                                  <div class="row">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of offercount?.books; let i=index">
                                                      <div class="product-list__item" *ngIf="data?.offer_status == null">
                                                          <figure class="product-list__img">
                                                              <a routerLink="/fcdetail/{{data?.id}}">
                                                                  <img src="{{Imageurl}}{{data?.book_image}}" data-filter="*" alt="">
                                                              </a>
                                                          </figure>
                                                          <div class="product-list__content">
                                                              <div class="product-list__category">
                                                                  <a routerLink="/fcdetail/" title=""></a>
                                                              </div>
                                                              <div class="product-list__title tutor-subject">
                                                                  <span title="Authur Name:" routerLink="/fcdetail/{{data?.id}}">{{data?.name}}</span>
                                                              </div>
                                                              <rating ngModel="{{data?.rating}}" [readonly]="true" titles="{{data?.rating}}">
                                                              </rating>
                                                          </div>
                                                        <p>user_offer: ${{data?.user_offer}}</p>
                                                        <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{data?.end_time}}"></countdown>
                                                       
                                                        <button *ngIf="data?.status == null" (click)=approcourse(data?.accept_id)>Accept</button>
                                                        <button *ngIf="data?.status == null" (click)="rejectedcourse(data?.accept_id)">Reject</button>
                                                      </div>
                                                  
                                                  
                                                    </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
        
                  


             