.margin-top-20{
    margin-top: 10px;
}
.tutor-subject {
    margin-bottom: 10px;
    margin-top: 10px;
}
.product-price{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    float: right;
}
.rating-float{
    float: left;
}
.side-tabs .nav-item .nav-active.active {
    color: #000!important;
    background: none!important;
}
.side-tabs .nav-item .nav-active{
    font-size: 16px!important;
}
countdown{
 display: block;
}
.div-button{
    text-align: center;
    margin-bottom: 10px;
}
.div-button button{
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)!important;
    border: none;
}
.div-button button:hover{
    box-shadow: none!important;
}

// ////////////////////////

.dashboard-layout{
    display: flex;
    min-height: 425px;
  }
  .side-bar{
    width: 380px;
    vertical-align: top;
    background: #fff;
    border-right: 1px solid #ebebeb;
    display: table-cell;
    margin-top: 6px;
    min-height: 425px;
  }
  .right-side{
    width: 100%;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs .nav-link{
    border: none;
  }
  .nav-link:hover{
    color: #555 !important;
    background-color: #f5f5f5 !important;
  }
  .side-tabs.nav-tabs li{
    padding: 0;
  }
  
  .open-btn{
    font-size:30px;
    cursor:pointer;
    display: none;
  }
  .close-btn{
    display: none;
  }
  @media only screen and (min-width:991px) {
    .side-bar{
        display: block;
    }
  }
  @media only screen and (max-width:992px) {
    .open-btn{
        display: block;
    }
    .close-btn{
        display: block;
    }
    .side-bar{
        display: none;
    }
  }