.margin-top-20{
    margin-top: 10px;
}
.tutor-subject {
    margin-bottom: 10px;
    margin-top: 10px;
}
.product-price{
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.side-tabs {
    margin-top: 140px;
}
.side-tabs .nav-item .nav-active.active {
    color: #000!important;
    background: none!important;
}
.side-tabs .nav-item .nav-active{
    font-size: 16px!important;
}