.margin-top-20{
    margin-top: 10px;
}
.tutor-subject {
    margin-bottom: 10px;
    margin-top: 10px;
}
.product-price{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    float: right;
}
.rating-float{
    float: left;
}
.side-tabs {
    margin-top: 90px;
}
.side-tabs .nav-item .nav-active.active {
    color: #000!important;
    background: none!important;
}
.side-tabs .nav-item .nav-active{
    font-size: 16px!important;
}
countdown{
 display: block;
}
.div-button{
    text-align: center;
    margin-bottom: 10px;
}
.div-button button{
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, .42), 0 4px 23px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)!important;
    border: none;
}
.div-button button:hover{
    box-shadow: none!important;
}