<div class="container" *ngIf="bidnotes?.books">
    <h1 class="mainbanner bg-Bid-Notes">Buy & Bid on Books</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of bidnotes?.books; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img">
                    <a routerLink="/detail/{{data.id}}">
                        <img src="{{Imageurl}}{{data.book_image}}" alt="Books Image"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/detail/{{data.id}}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject ">
                        <span title="Author Name:{{data.author_name | titlecase}}" routerLink="/detail/{{data.id}}">{{data.author_name | titlecase}}</span>
                    </div>
                    <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>

                    <a class="product-list__price" routerLink="/detail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                                (click)="addwishlist(data.id)">
                                <div *ngIf="data.wishlist !=null" class="sh-red">
                                    <i class="fas fa-heart"></i>
                                </div>
                            </a>
                            <div class="product-list__wishlist wishlist_icon" *ngIf="!data.wishlist==true" (click)="addwishlist(data.id)">
                                <i class="far fa-heart"></i>
                            </div>
                            <div *ngIf="!data.cart==false">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                            </div>
                            <div *ngIf="!data.cart==true">
                                <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                                    title="Add to Cart" (click)="addcart(nullvalue,nullvalue,data.id,nullvalue)">
                                    <a _ngcontent-c1="" class="wishlist material-icons"
                                        title="Add to Cart">add_shopping_cart</a></div>
                            </div>
                        </div>
                        <div class="text-center margin-top-10">
                            <a class="btn-style" *ngIf="data?.accept_offer == true" (click)="openDialog3(data?.id)">Offer Now</a>
                        </div>
                <div class="product-list__item-info-1">
                    <a class="btn-style" (click)="checknotes()" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
                    <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow" (click)="booksid(data?.id)"
                        data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
                        <a class="btn-style" *ngIf="data.Purchased == true">Book Already Bought</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}">
                    <a (click)="setPagenotes(1)" class="page-link">First</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===1}">
                    <a (click)="setPagenotes(pager.currentPage - 1)" class="page-link">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}">
                    <a (click)="setPagenotes(page)" class="page-link">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}">
                    <a (click)="setPagenotes(pager.currentPage + 1)" class="page-link" type="Next">Next</a>
                </li>
                <li class="page-item" [ngClass]="{hide:pager.currentPage===pager.totalPages}">
                    <a (click)="setPagenotes(pager.totalPages)" class="page-link" type="Last">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="trends?.books">
    <h1 class="mainbanner bg-Bid-Notes">Books Trending Now</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of trends.books; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img">
                    <a routerLink="/detail/{{data.id}}">
                        <img src="{{Imageurl}}{{data.book_image}}" alt="Books Image"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/detail/{{data.id}}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject ">
                        <span title="Author Name:{{data.author_name | titlecase}}" routerLink="/detail/{{data.id}}">{{data.author_name | titlecase}}</span>
                    </div>
                    <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>
                    <a class="product-list__price" routerLink="/detail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                    (click)="addwishlist(data.id)">
                    <div *ngIf="data.wishlist !=null" class="sh-red">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
                <div class="product-list__wishlist wishlist_icon" *ngIf="!data.wishlist==true" (click)="addwishlist(data.id)">
                    <i class="far fa-heart"></i>
                </div>
                <div *ngIf="!data.cart==false">
                    <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                        title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                </div>
                <div *ngIf="!data.cart==true">
                    <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                        title="Add to Cart" (click)="addcart(nullvalue,nullvalue,data.id,nullvalue)">
                        <a _ngcontent-c1="" class="wishlist material-icons"
                            title="Add to Cart">add_shopping_cart</a></div>
                </div>
            </div>
            <div class="text-center margin-top-10">
                <a class="btn-style" *ngIf="data?.accept_offer == true" (click)="openDialog3(data?.id)">Offer Now</a>
            </div>
    <div class="product-list__item-info-1">
        <a class="btn-style" (click)="checknotes()" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
        <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow" (click)="booksid(data?.id)"
            data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
            <a class="btn-style" *ngIf="data.Purchased == true">Book Already Bought</a>
    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===1}">
                    <a class="page-link" (click)="setToprated(1)" aria-label="Previous"> Previous </a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="setToprated(page)">
                    <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}">
                    <a class="page-link" (click)="setToprated(pager.totalPages)" aria-label="Next"> Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="toprated?.books">
    <h1 class="mainbanner bg-Bid-Notes">Top Rated Books </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of toprated?.books; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img">
                    <a routerLink="/detail/{{data.id}}">
                        <img src="{{Imageurl}}{{data.book_image}}" alt="Books Image"> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/detail/{{data.id}}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject ">
                        <span title="Author Name:{{data.author_name | titlecase}}" routerLink="/detail/{{data.id}}">{{data.author_name | titlecase}}</span>
                    </div>
                    <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>

                    <a class="product-list__price" routerLink="/detail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                    (click)="addwishlist(data.id)">
                    <div *ngIf="data.wishlist !=null" class="sh-red">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
                <div class="product-list__wishlist wishlist_icon" *ngIf="!data.wishlist==true" (click)="addwishlist(data.id)">
                    <i class="far fa-heart"></i>
                </div>
                <div *ngIf="!data.cart==false">
                    <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                        title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                </div>
                <div *ngIf="!data.cart==true">
                    <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                        title="Add to Cart" (click)="addcart(nullvalue,nullvalue,data.id,nullvalue)">
                        <a _ngcontent-c1="" class="wishlist material-icons"
                            title="Add to Cart">add_shopping_cart</a></div>
                </div>
            </div>
            <div class="text-center margin-top-10">
                <a class="btn-style" *ngIf="data?.accept_offer == true" (click)="openDialog3(data?.id)">Offer Now</a>
            </div>
    <div class="product-list__item-info-1">
        <a class="btn-style" (click)="checknotes()" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
        <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow" (click)="booksid(data?.id)"
            data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
            <a class="btn-style" *ngIf="data.Purchased == true">Book Already Bought</a>
    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===1}">
                    <a class="page-link" (click)="setToprated(1)" aria-label="Previous"> Previous </a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}" (click)="setToprated(page)">
                    <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}">
                    <a class="page-link" (click)="setToprated(pager.totalPages)" aria-label="Next"> Next </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" *ngIf="recent">
    <h1 class="mainbanner bg-Bid-Notes">Recently Visited Books </h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of recent; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img">
                    <a routerLink="/detail/{{data.id}}">
                        <img src="{{Imageurl}}{{data.book_image}}" alt=""> </a>
                    <div class="wishlist-overlay">
                        <a class="product-list__wishlist" href="javascript:void(0)">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category">
                        <a routerLink="/detail/{{data.id}}" title="{{data.name | titlecase}}">{{data.name | titlecase}}</a>
                    </div>
                    <div class="product-list__title tutor-subject">
                        <span title="Author Name:{{data.author_name | titlecase}}" routerLink="/detail/{{data.id}}">{{data.author_name | titlecase}}</span>
                    </div>
                    <rating ngModel="{{data.rating}}" [readonly]="true" titles="{{data.rating}}"></rating>

                    <a class="product-list__price" routerLink="/detail/{{data.id}}">{{data.price | currency:'USD'}}</a>
                    <a class="product-list__wishlist wishlist_icon" title="Add to wishlist"
                    (click)="addwishlist(data.id)">
                    <div *ngIf="data.wishlist !=null" class="sh-red">
                        <i class="fas fa-heart"></i>
                    </div>
                </a>
                <div class="product-list__wishlist wishlist_icon" *ngIf="!data.wishlist==true" (click)="addwishlist(data.id)">
                    <i class="far fa-heart"></i>
                </div>
                <div *ngIf="!data.cart==false">
                    <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                        title="Click and remove from Cart" (click)="delfromcart(data)"><i class="fa fa-cart-plus"></i></div>
                </div>
                <div *ngIf="!data.cart==true">
                    <div class="product-list__wishlist wishlist_icon margin-left-10" style="color:red"
                        title="Add to Cart" (click)="addcart(nullvalue,nullvalue,data.id,nullvalue)">
                        <a _ngcontent-c1="" class="wishlist material-icons"
                            title="Add to Cart">add_shopping_cart</a></div>
                </div>
            </div>
            <div class="text-center margin-top-10">
                <a class="btn-style" *ngIf="data?.accept_offer == true" (click)="openDialog3(data?.id)">Offer Now</a>
            </div>
    <div class="product-list__item-info-1">
        <a class="btn-style" (click)="checknotes()" *ngIf="data.sell_status==true && !data.Purchased"> Buy Now </a>
        <a type="button" class="btn-style" data-toggle="modal" data-target="#notesbidnow" (click)="booksid(data?.id)"
            data-dismiss="modal" *ngIf="data.bid_status==true && !data.Purchased"> Bid Now </a>
            <a class="btn-style" *ngIf="data.Purchased == true">Book Already Bought</a>
    </div>
            </div>
        </div>
    </div>
</div>
<!-- bid on book -->
<div class="modal fade" id="notesbidnow" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content margin-top-175">
      <div class="modal-header">
        <div class="form-1-header">
          <h1>Bid on Book</h1>
        </div>
      </div>
      <div class="modal-body"> <a [routerLink]="['/bid-history']" [queryParams]="{cat:'book', id:bidbookid}"
                                  class="view-bid">view bid history </a>

        <a [routerLink]="['/bid-history']" [queryParams]="{cat:'book', id:bidbookid}"> <countdown class="col-lg-12" units="Days | Hours | Minutes | Seconds" end="{{book?.endtime}}"></countdown>
          <p>Higher bid amount:{{getbooks?.bidamount}}</p>
        </a>


        <form name="form" role="form" method="post" #f="ngForm" class="user-add-ingo-form">
          <label>Place Your own bid:</label>
          <mat-form-field>
            <input matInput type="text" maxlength="4" placeholder="Enter bid amount (US $)*" [(ngModel)]="model.bidamount"
                   #bidamount="ngModel" name="bidamount">
          </mat-form-field> <a class="user-add-ingo-form-btn" (click)="bidc()" data-dismiss="modal">Bid
          Now </a>
        </form>
      </div>
    </div>
  </div>
</div>
