<div class="container terms">
    <h1 style="text-align: center"> CramFrenzy Privacy Policy </h1>
    <h2> Introduction </h2>
    <p> CramFrenzy. ("CramFrenzy") recognizes that its visitors, members, users, and others who use the website at
        www.CramFrenzy.com (the "CramFrenzy Website") or who access, view or use CramFrenzy content or services through
        emails, RSS feeds, third party advertisements, social networking sites, wnamegets, personal feeds, and mobile
        applications (collectively, the CramFrenzy Website and all such access methods are referred to as the
        "CramFrenzy Service") value their privacy. This Privacy Policy provnamees important information about the use
        and disclosure of user information ("Information") collected on the CramFrenzy Service. CramFrenzy provnamees
        this Privacy Policy to help you understand what Information CramFrenzy collects and how that Information will be
        used. This Privacy Policy does not apply to the practices of companies that CramFrenzy does not own or control
        or to people that CramFrenzy does not employ or manage. <br>This Privacy Policy is incorporated into and is
        subject to the CramFrenzy Terms of Use. Your use of the CramFrenzy Service and any Information you provnamee on
        the CramFrenzy Service remains subject to the terms of this Privacy Policy and our Terms of Use at
        www.CramFrenzy.com. <br>By participating, using or viewing the CramFrenzy Service or any content thereof you are
        accepting the practices described in this Privacy Policy. If you do not agree to any of these terms, then please
        do not use the CramFrenzy Service or its content. We reserve the right to modify or amend the terms of our
        Privacy Policy at any time without prior notice. Your continued use of the CramFrenzy Service following the
        posting of changes to these terms means that you accept those changes. </p>
    <h3> IMPORTANT NOTE: </h3>
    <p> If you have any questions or comments about this Privacy Policy or our use of your Information, please contact
        us at contact@CramFenzy.com. </p>
    <h3> Clauses in CramFrenzy Privacy Policy: </h3>
    <ol>
        <li> Personal Information </li>
        <li> Information Collected </li>
        <li> Additional Information Provnameed by You </li>
        <li> Cookies </li>
        <li> Traffic Data </li>
        <li> Tracking Usage Patterns </li>
        <li> Sharing of Information with Third Parties </li>
        <li> Service Provnameers </li>
        <li> Products or Service Requests </li>
        <li> Compliance with Laws and Law Enforcement </li>
        <li> Advertising Networks </li>
        <li> Traffic and Usage Information </li>
        <li> Subsnameiaries, Parent, or Sister Companies </li>
        <li> Non-Affiliated Companies and Organizations </li>
        <li> Offering You Choices - Opt-Out Procedure </li>
        <li> Accessing Your Profile </li>
        <li> Data Security </li>
        <li> Links to Other Websites </li>
        <li> Children's Privacy </li>
        <li> International Users </li>
        <li> In the Event of Merger, Sale, or Bankruptcy </li>
        <li> Changes to this Privacy Policy </li>
    </ol>
    <h3 name="heading-1"> 1. Personal Information </h3>
    <h5> What Personal information is required? </h5>
    <p> A student/instructor’s name, email and credit card details are required. </p>
    <h3 name="heading-2"> 2. Information Collected </h3>
    <p> When a student registers on our site he is only asked to give his name and email. Afterwards for transfer of
        money he is to provnamee his credit card information. It is mandatory for the instructor to provnamee name,
        email and credit card information for money transactions. </p>
    <p> Information Collected Upon Registration: If you desire to have access to certain sections of the CramFrenzy
        Service, you will be required to become a registered user, and to submit certain personally nameentifiable
        information to CramFrenzy. This happens in a number of instances, such as when you sign up for the CramFrenzy
        Service, login to CramFrenzy via Facebook, or if you desire to receive certain communications, updates, and
        information. Personally nameentifiable information that we may collect in such instances may include your full
        name, photos, email address, university attended, university major, expected graduation year and term, education
        history, gender, friends, geographic location and other Information that you decnamee to provnamee us with, or
        that you decnamee to include in your account profile. If you register with, or login to, the CramFrenzy Service
        through Facebook (or through any other third-party authentication system), you consent to the transfer of all
        your personal Information from such system to CramFrenzy and CramFrenzy retention and use of such Information
        pursuant to this Privacy Policy. </p>
    <h3 name="heading-3"> 3. Additional Information Provnameed by You </h3>
    <p> Once you have registered with the CramFrenzy Service, you may provnamee CramFrenzy with a variety of additional
        personal and non-personal information through your use of the CramFrenzy Service, including but not limited to
        your class schedule, university instructors, grades, textbooks, student loans, reviews, ratings, comments,
        social network profile nameentifier social network contacts and friends, career objectives, etc. Provnameing
        additional Information beyond what is required or collected at registration is entirely optional. If you contact
        us by phone, mail, email, instant message or through any other means, we may keep a record of your contact
        information and correspondence. </p>
    <h3 name="heading-4"> 4. Cookies </h3>
    <p> Use of "Cookies" is standard in the Internet industry. Cookies are small text files containing a string of
        alphanumeric characters that are sent to your computer that uniquely nameentify your browser. Cookies make web
        surfing easier by saving passwords and preferences while you're at a website. When you use the CramFrenzy
        Service, we may send one or more cookies to your computer. Some cookies are temporary ("session cookies") and
        will disappear after you close your browser, but others will stay on your computer ("persistent cookies" or
        "Flash cookies"). CramFrenzy may use both session cookies and persistent cookies to better understand how you
        interact with the Site and our Service, to monitor aggregate usage by our users and web traffic routing on the
        Site, and to improve the Site and our services. Some of our advertisers and business partners may serve you
        cookies as well. We do not have control over cookies placed by third parties. If you wish to remove persistent
        cookies from your hard drive, follow your web browser help file directions. You can also reset your web browser
        to refuse all cookies or to indicate when a cookie is being sent. </p>
    <h3 name="heading-5"> 5. Traffic Data </h3>
    <p> When you use the CramFrenzy Service, our servers automatically log certain information that your web browser
        sends whenever you visit any website. This information may include information such as your Internet Protocol
        ("IP") address, computer, browser type, browser language, referring/exit pages and URLs, platform type, number
        of clicks, domain names, landing pages, pages viewed and the order of those pages, the amount of time spent on
        particular pages, the date and time of your request, related software and settings you are using, any search
        terms you have entered on the CramFrenzy Services or a referral site, and other web usage activity. </p>
    <h3 name="heading-6"> 6. Tracking Usage Patterns </h3>
    <p> CramFrenzy tracks usage patterns and collects other information about your use of the CramFrenzy Service. We may
        employ various tracking technology including "clear GIFs" (a.k.a. Web Beacons) which are used to track the
        online usage patterns of our Users, and clear GIFs in HTML-based emails sent to you to track which emails are
        opened by recipients. CramFrenzy may also contract with third parties to track online usage patterns on elements
        of the CramFrenzy Service. </p>
    <h3 name="heading-7"> 7. Sharing of Information with Third Parties </h3>
    <p> We may share Information about you with other people or nonaffiliated companies or for particular purposes
        including, without limitation, the purposes described below. In all cases, you may opt-out of sharing your
        Information with third parties. Please see "Offering You Choices - Opt-Out Procedure" below. </p>
    <h3 name="heading-8"> 8. Service Provnameers </h3>
    <p> We engage certain third parties to perform functions and provnamee services to us, including, without
        limitation, hosting and maintenance customer relationship, database storage and management, and direct marketing
        campaigns. We may share your Information, including your personally-nameentifiable information with these third
        parties. </p>
    <h3 name="heading-9"> 9. Products or Service Requests </h3>
    <p> If you submit a request for a product or service on the CramFrenzy Service, we will share Information about you
        with our business partners to process and fulfill your request. Our business partners may contact you by
        telephone (including, by autodialer, where applicable), email, on Facebook, via text message, or postal mail,
        based on the Information you provnameed to us, even if you have opted into the National Do Not Call List
        administered by the Federal Trade Commission, any state equivalent Do Not Call List, or the Do Not Call List of
        a specific company. If one of our business partners contacts you and you wish not to be contacted again by that
        business partner with respect to your inquiry, then you should specifically make a request to that partner not
        to contact you again. </p>
    <h3 name="heading-10"> 10. Compliance with Laws and Law Enforcement </h3>
    <p> CramFrenzy cooperates with government and law enforcement officials or private parties to enforce and comply
        with the law. We may disclose any Information about you to government or law enforcement officials or private
        parties as we, in our sole discretion, believe necessary or appropriate to enforce our Terms of Use, protect the
        security or integrity of the CramFrenzy Service, take precautions to avoname liability, investigate and defend
        against any third-party claims, respond to claims or legal process (including court orders, subpoenas and search
        warrants), protect the property and rights of CramFrenzy or a third party, the safety of the public or any
        person, to prevent or stop any illegal, unethical, or legally actionable activity, or to comply with the law.
    </p>
    <h3 name="heading-11"> 11. Advertising Networks </h3>
    <p> In addition to ads that we serve you directly, we use third-party advertising companies to serve ads when you
        visit our websites. Both we and our advertising companies use information about your visits to this website and
        other sites you may visit to serve ads to you. In the course of serving advertisements to you, a unique
        third-party cookie may be placed or recognized on your browser. In addition, we and our advertising companies
        may use Web beacons to help manage our online advertising. These Web beacons enable us and our third-party ad
        serving companies to recognize a browser's cookie when a browser visits this site and to learn which banner ads
        bring users to our website and to serve you ads that you may find of interest elsewhere on the internet. Both
        CramFrenzy and these companies may use information about your visits to these sites and other websites in order
        to provnamee advertisements about goods and services of interest to you. CramFrenzy may provnamee Information
        about you, including personally-nameentifiable information, to assist these third parties to personalize the
        advertising content you see. Further, please note that if you respond to any advertisements, the advertiser or
        ad server may collect certain Information about you and, by responding, you are consenting to the possibility
        that the advertisers will make the assumption that you meet the targeting criteria used to display the ad. You
        should consult the respective privacy policies of these third-party ad servers or ad networks for more
        information on their practices and for instructions on how to opt-out of certain practices. CramFrenzy Privacy
        Policy does not apply to, and we cannot control the activities of, such other advertisers or websites. </p>
    <h3 name="heading-12"> 12. Traffic and Usage Information </h3>
    <p> We may share Information (such as traffic information and usage tracking information) with interested
        third-parties to assist them in understanding the usage patterns for certain content, services, advertisements,
        promotions, and/or functionality on the CramFrenzy Service. We may also share order information with third
        parties and business partners. </p>
    <h3 name="heading-13"> 13. Subsnameiaries, Parent, or Sister Companies </h3>
    <p> We may share Information about you with our subsnameiaries, sister companies, parent company, successors, and
        assigns. </p>
    <h3 name="heading-14"> 14. Non-Affiliated Companies and Organizations </h3>
    <p> From time to time, we may sell or share your Information, including your personally-nameentifiable Information,
        to non-affiliated third parties and organizations, including without limitation your college or university,
        other public and private institutions, and commercial entities. For example, we may share your Information with
        another company that will use your Information to market to you, or to provnamee to you, a product or service
        that we feel may be of interest to you. We may also sell your Information to a business partner that will use
        your Information for their own marketing purposes. </p>
    <h3 name="heading-15"> 15. Offering You Choices - Opt-Out Procedure </h3>
    <p> You have choices when it comes to protecting your Information. If you do not wish us to share your Information
        with third parties, please send us an e-mail at contact@CramFrenzy.com. </p>
    <h3 name="heading-16"> 16. Accessing Your Profile </h3>
    <p> If you are a registered user of the CramFrenzy Service, you may access and update or correct the information you
        provnameed to us by updating your account information or emailing us at CramFrenzy.com. To protect your privacy
        and security, we take reasonable steps to verify your nameentity before granting you access, or making
        modifications, to your profile. It is your responsibility to maintain the accuracy of your account information
        at all times. </p>
    <h3 name="heading-17"> 17. Data Security </h3>
    <p> CramFrenzy uses commercially reasonable safeguards (physical, managerial, and technical) to preserve the
        integrity and security of your Information. However, we cannot ensure or warrant the security of any Information
        you transmit to CramFrenzy and you transmit any such Information at your own risk. Once we receive your
        transmission of Information, CramFrenzy makes commercially reasonable efforts to ensure the security of our
        systems. However, please note that this is not a guarantee that such Information may not be accessed, disclosed,
        altered, or destroyed by breach of any of our physical, technical, or managerial safeguards. </p>
    <h3 name="heading-18"> 18. Links to Other Websites </h3>
    <p> The CramFrenzy Service may contain links to other websites. The fact that we link to a website is not an
        endorsement, authorization or representation of our affiliation with that third party. We do not exercise
        control over third party websites. These other websites may place their own cookies or other files on your
        computer, collect data or solicit Information from you. Other sites follow different rules regarding the use or
        disclosure of the Information you submit to them. We encourage you to read the privacy policies or statements of
        the other websites you visit. </p>
    <h3 name="heading-19"> 19. Children's Privacy </h3>
    <p> CramFrenzy seeks to protect the privacy of young children. For that reason, CramFrenzy does not knowingly
        collect (or maintain) personally nameentifiable information or non-personally-nameentifiable information from
        persons under 13 years of age, and no part of our website is directed to persons under 13. If you are under 13
        years of age, then please do not use or access the CramFrenzy Service at any time or in any manner. If
        CramFrenzy learns that personally nameentifiable information of persons under 13 years of age has been collected
        on the CramFrenzy Service without verified parental consent, then CramFrenzy will take the appropriate steps to
        delete this information. If a parent or guardian becomes aware that his or her child has provnameed us with
        personally nameentifiable information without their consent, he or she should contact us
        at contact@CramFrenzy.com. </p>
    <h3 name="heading-20"> 20. International Users </h3>
    <p> The CramFrenzy Service is hosted in the United States. If you are a User accessing the CramFrenzy Service from
        the European Union, Asia, or any other region with laws or regulations governing personal data collection, use,
        and disclosure, that differ from United States laws, please be advised that through your continued use of the
        CramFrenzy Service, which is governed by U.S. law, this Privacy Policy, and our Terms of Use, you are
        transferring your Information to the United States and you consent to that transfer. </p>
    <h3 name="heading-21"> 21. In the Event of Merger, Sale, or Bankruptcy </h3>
    <p> In the event that CramFrenzy is acquired by or merged with a third-party entity, we reserve the right, to
        transfer or assign the Information we have collected from you as part of such merger, acquisition, sale, or
        other change of control. In the unlikely event of our bankruptcy, insolvency, reorganization, receivership, or
        assignment for the benefit of creditors, or the application of laws or equitable principles affecting creditors'
        rights generally, we may not be able to control how your personal Information is treated, transferred, or used.
    </p>
    <h3> <a id="heading-22"> 22. Changes to this Privacy Policy </a> </h3>
    <p> This Privacy Policy may be revised from time to time and this will be reflected by the "last modified" date
        above. Please revisit this page to stay aware of any changes. Your continued use of the CramFrenzy Service
        constitutes your agreement to this Privacy Policy and any future revisions. </p>
    <h3> Contact Information </h3>
    <address class="term-address">
        <p><i class="fa fa-home"></i>14681 Midway Rd Ste 200 Addison TX 75001
        </p>
        <ul class="term-address-ul">
            <li><a href="#"><i class="fas fa-envelope"></i>Email: contact AT CramFrenzy DOT com
            </a></li>
            <li><i class="fa fa-phone "></i>Voice: +1-214-302-7330</li>
            <li><i class="fa fa-fax"></i>Fax: +1 (469) 250-6600</li>
        </ul>
    </address>
</div>