<div class="row sh-allbooks search-fixed">
    <div class="col-md-12 padding-top-40">
        <form class="search-bg wow animated fadeInDown" data-wow-duration="1s" data-wow-delay="1s"> <input
                placeholder="Search FlashCards" type="search" name=querysearch [(ngModel)]="query"
                #querysearch="ngModel" (keyup)=filter(query) class="search-bg__text"> <button class="search-bg__btn"
                (click)="againflashesearch(query)">Search</button> </form>
        <div class="search-results">
            <ul class="list-normal">
                <li *ngFor="let data of searchResult;"> <a routerLink="/fcdetail/{{data.id}}" (click)="filter(query)">
                        <i class="material-icons">arrow_forward</i>{{data.name}}</a> </li>
                <li *ngIf="searchResult.length==0">
                    <div class="no-result-found"> </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="component-title">Flash Cards</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let data of result; let i=index">
            <div class="product-list__item">
                <figure class="product-list__img"> <a routerLink="/fcdetail/{{data.id}}"> <img
                            src="{{Imageurl}}{{data.flashcard_image}}" alt="FlashCard Image"> </a>
                </figure>
                <div class="product-list__content">
                    <div class="product-list__category"> <a routerLink="/fcdetail/{{data.id}}"
                            title="{{data.name | titlecase}}">{{data.name | titlecase}}</a> </div>
                    <div class="product-list__title tutor-subject mb-3"> <span
                            title="User Name:{{data.user_id | titlecase}}">{{data.user_id | titlecase}}</span> </div>
                    <ul class="product-list__star-list">
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                        <li> <a href=""> <i class="fa fa-star" aria-hidden="true"></i> </a> </li>
                    </ul>
                    <p class="product-list__price">{{data?.price | currency:'USD'}}</p>
                </div>
                <div class="product-list__item-info-1"> <a class="btn-style" (click)="checkflashcard()"> Buy Now </a> <a
                        class="btn-style" (click)="checkflashcard()"> Bid Now </a> </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="result?.length >=1">
        <div class="col-lg-12">
            <ul class="pagination justify-content-center">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===1}"> <a class="page-link"
                        (click)="setPageflashcard(1)" aria-label="Previous"> Previous </a> </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage===page}"
                    (click)="setPagecourse(page)"> <a class="page-link">{{page}}</a> </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage===pager.totalPages}"> <a class="page-link"
                        (click)="setPageflashcard(1)" aria-label="Next"> Next </a> </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #no_data_temp1>
    <div class="container margin-bottom-200">
        <div class="row">
            <div class="col-md-8">
                <div class="no-result-heading-find"> Sorry, we couldn't find any results for <br>"{{full}}" </div>
                <div class="no-result-idea"> Try adjusting your search. Here are some ideas: <ul
                        class="no-result-idea-list">
                        <li> Make sure all words are spelled correctly. </li>
                        <li> Try different search terms. </li>
                        <li> Try more general search terms. </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="no-result-img"> <i class="material-icons"> search </i> </div>
            </div>
        </div>
    </div>
</ng-template>