.upcoming-sch mat-form-field{
  width: 75%;
}

.upcoming-sch button{
  width: 20%;
}

.upcoming-form{
  width: 50%;
  margin: 0 auto;
}

.upcom-btn{
  color: #fff;
  background: #cc0000;
  border: 1px solid #cc0000;
  padding: 0 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 25px;
}

.upcoming-month-form {
  width: 100%;
}
.upcoming-month-form mat-form-field {
  width: 50%;
  margin: 0 auto;
  display: block
}
.margin-bottom-30 {
  margin-bottom: 30px
}
.margin-bottom-300 {
  margin-bottom: 300px !important
}