<div class="each-upper-banner">
    <div class="container">
        <h1 class="text-center text-center">Book</h1>
        <div class="row">
            <div class="col-lg-8 col-lg-8 upper-banner-contact">
                <h1>{{result?.name | titlecase}}<span>({{result?.book_edition}} Edition)</span></h1>
                <p>{{result?.book_detail | titlecase}}</p>
                <span>Author Name: {{result?.author_name | titlecase}}</span>
            </div>
        </div>
    </div>
</div>
<div class="container padding-top-40">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <!-- <div class="details-section">
                <h1 class="mt-5">Details</h1>
                <p class="mb-5">{{result?.detail | titlecase}}</p>
            </div> -->
            <div class="What-will-i-learn">
                <div class="What-will-i-learn__content">
                    <div class="What-will-i-learn__title"> What Will I Learn? </div>
                    <ul class="What-will-i-learn__items">
                        <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i class="fa fa-check"></i>
                            </span> <span class="What-will-i-learn__text">Create boilerplate starter projects with
                                React, Redux, Express, and Mongo</span> </li>
                        <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i class="fa fa-check"></i>
                            </span> <span class="What-will-i-learn__text">Understand common web technologies and
                                design patterns to connect them together</span> </li>
                        <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i class="fa fa-check"></i>
                            </span> <span class="What-will-i-learn__text">Master deployment techniques between the
                                production and development environments</span> </li>
                        <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i class="fa fa-check"></i>
                            </span> <span class="What-will-i-learn__text">Make an app with Google OAuth
                                authentication</span> </li>
                        <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i class="fa fa-check"></i>
                            </span> <span class="What-will-i-learn__text">Learn to effectively create and send
                                emails from a backend server</span> </li>
                        <li class="What-will-i-learn__item"> <span class="What-will-i-learn__icon"> <i class="fa fa-check"></i>
                            </span> <span class="What-will-i-learn__text">Accept and process credit card payments
                                from users</span> </li>
                    </ul>
                </div>
            </div>
            <div class="reviews-ans" *ngIf="result?.bidpaid == true || result?.paid == true">
                <div class="row background-grey">
                    <div class="col-lg-12">
                        <h4>Rate this course </h4>
                        <div class="rating-starts">
                            <fieldset class="ratingq move-to-center"> <input type="radio" id="star5q" name="rating"
                                    value="5" (click)="get(5)" /> <label class="full" for="star5q" title="Awesome - 5 stars"></label>
                                <input type="radio" id="star4halfq" name="rating" value="4.5" (click)="get(4.5)" />
                                <label class="half" for="star4halfq" title="Pretty good - 4.5 stars"></label> <input
                                    type="radio" id="starq" name="rating" value="4" (click)="get(4)" /> <label class="full"
                                    for="starq" title="Pretty good - 4 stars"></label> <input type="radio" id="star3halfq"
                                    name="rating" value="3.5" (click)="get(3.5)" /> <label class="half" for="star3halfq"
                                    title="Meh - 3.5 stars"></label> <input type="radio" id="star3q" name="rating"
                                    value="3" (click)="get(3)" /> <label class="full" for="star3q" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2halfq" name="rating" value="2.5" (click)="get(2.5)" />
                                <label class="half" for="star2halfq" title="Kinda bad - 2.5 stars"></label> <input type="radio"
                                    id="star2q" name="rating" value="2" (click)="get(2)" /> <label class="full" for="star2q"
                                    title="Kinda bad - 2 stars"></label> <input type="radio" id="star1halfq" name="rating"
                                    value="1.5" (click)="get(1.5)" /> <label class="half" for="star1halfq" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1q" name="rating" value="1" (click)="get(1)" /> <label
                                    class="full" for="star1q" title="Sucks big time - 1 star"></label> <input type="radio"
                                    id="starhalfq" name="rating" value="0.5" (click)="get(0.5)" /> <label class="half"
                                    for="starhalfq" title="Sucks big time - 0.5 stars"></label> </fieldset>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <form name="form" role="form" method="post">
                            <h4>Review <sup>*</sup></h4> <textarea class="form-control" name="comment" #comment
                                clear-field></textarea>
                            <div class="pull-right">
                                <button class="margin-top-10 btn-style" title="Submit Review" type="submit" (click)="reviews(rate, comment.value, result.id, nullvalue, nullvalue, nullvalue)">
                                    <span>
                                        <i class="far fa-thumbs-up"></i> Review
                                    </span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 card-1">
            <div class="card each-card">
                <img class="card-img-top" src="https://storage.cramfrenzy.com/images/{{result?.book_image}}"
                    data-filter="*" alt="Book Image">
                <div class="card-body">
                    <h3 class="text-center card-title current-card-price">{{result?.discount | currency:'USD'}}</h3>
                    <h5 class="text-center card-title old-card-price">{{result?.actual_price | currency:'USD'}}</h5>

                  <a class="card-btn" *ngIf="result?.bidpaid == true || result?.paid == true">Book Already Bought</a>
                  <a class="card-btn" *ngIf="result?.paid == false && result?.bidpaid == false" (click)="checkbook(result?.id)">Buy Now</a>

                  <a class="card-btn btn-add-cart" *ngIf="result?.paid == false && result?.bidpaid == false" (click)="cart(bookID,nullvalue, nullvalue, nullvalue)">Add to Cart</a>

                  <button class="card-btn"  *ngIf="result?.bidpaid==true || result?.paid==true && result?.data== true" data="https://storage.cramfrenzy.com/uploads/C_+Q+and+Answer.pdf"
                          type="application/pdf">

                    <a   href="https://storage.cramfrenzy.com/uploads/hicss_2012_smartcities55.pdf">Download PDF</a>
                  </button>
                  <!--<a routerLink="/login" class="card-btn" (click)="checkbook()">Buy Now</a>-->
                    <!--<a class="card-btn btn-add-cart" (click)="cart(bookID,nullvalue, nullvalue, nullvalue)">Add to Cart</a>-->
                    <h4 class="text-center card-isbn">ISBN: {{result?.ISBN}}</h4>
                    <h4 class="text-center card-para">30-Day Money-Back Guarantee</h4>
                </div>
                <hr>
                <div class="card-footer">
                    <h1 class="text-center">Share this Book:</h1>
                    <ul class="card-footer-social-icon">
                        <li> <a routerLink=""> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a routerLink=""> <i class="fab fa-twitter"></i> </a> </li>
                        <li> <a routerLink=""> <i class="fab fa-pinterest"></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10" *ngIf="result?.bidpaid == true || result?.paid == true">
            <div class="background-grey review-section float_left">
                <h4>Student feedback</h4>
                <div class="row review-box padding-10 float_left">
                    <div class="col-sm-12 col-md-3">
                        <h1>4.5</h1>
                        <div class="rating float_left width100">
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star-half filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                        </div>
                        <div class="float_left"><span>Rating</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:80%">80%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:60%">60%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:40%">40%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:20%">20%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar bg-secondary" style="width:10%">10%</div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 rating-stars">
                        <div class="width100 float_left margin-bottom-5">
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                        </div>
                        <div class="width100 float_left margin-bottom-5">
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                        </div>
                        <div class="width100 float_left margin-bottom-5">
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                        </div>
                        <div class="width100 float_left margin-bottom-5">
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                        </div>
                        <div class="width100 float_left margin-bottom-5">
                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i class="fa fa-star filled"></i>
                            </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                            <div class="float_left position-relative"> <i class="far fa-star"></i> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="background-grey review-section margin-bottom-20 float_left">
                <h4>Reviews</h4>
                <div class="padding-10 float_left">
                    <div *ngFor="let reviews of view?.reviews">
                        <div *ngIf="reviews !=null">
                            <div class="pull-left">
                                <div class="review-container">
                                    <div class="pull-left">
                                        <div class="user-image">
                                            <span>AT</span>
                                        </div>
                                        <div class="pull-left">
                                            <div class="time-to-go">
                                                <span>{{reviews?.commentDate}}</span>
                                            </div>
                                            <div class="user-name">
                                                <span>Anas Tahir</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="pull-right review-box">
                                        <div class="rating float_left width100">
                                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i
                                                    class="fa fa-star filled"></i>
                                            </div>
                                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i
                                                    class="fa fa-star filled"></i>
                                            </div>
                                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i
                                                    class="fa fa-star filled"></i>
                                            </div>
                                            <div class="float_left position-relative"> <i class="far fa-star"></i> <i
                                                    class="fa fa-star-half filled"></i>
                                            </div>
                                            <div class="float_left position-relative"> <i class="far fa-star"></i>
                                            </div>
                                        </div>
                                        <p>{{reviews?.comment}}</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
                                <h3>Comment: {{reviews?.comment}}</h3>
                                <h3>Post date: {{reviews?.commentDate}}</h3>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="text-center pull-left" *ngIf="item==400">
                    <img src="../../../assets/img/No-One-Reviewed-this-Book.gif">
                </div>
            </div>
        </div>
    </div>
</div>
