.width-20-percent {
    float: left;
    width: 180px;
    margin: 8px 0
}
.logo:hover {
    color: transparent
}

.logo img {
    width: 100%;
    height: 100%
}
#mainNav {
    width: auto;
    padding: 0;
    float: right
}

.main-nav__list {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0 0 0 10px;
    text-transform: capitalize;
    letter-spacing: -10px
}

.main-nav__list-icons {
    display: inline-block
}

.main-nav__list>.main-nav__list-icons>li,
.main-nav__list>li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    position: relative;
    text-align: left
}

.main-nav__list>.main-nav__list-icons>li>a,
.main-nav__list>li>a {
    padding: 25px 6px;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    line-height: 24px;
    color: #616161!important;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.main-nav__list>.main-nav__list-icons>li>a>i,
.main-nav__list>li>a>i {
    font-size: 18px;
    vertical-align: initial;
}
.fa-android,.fa-apple {
    font-size: 22px !important;
}
.main-nav__list>.main-nav__list-icons>li:hover>a,
.main-nav__list>li:hover>a {
    color: #c00!important;
    text-decoration: none
}

.main-nav__list>li>a>i {
    margin-right: 5px
}



.wrapp-header {
    background: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 9999
}

.main-nav {
    width: 100%;
    text-align: right
}

.main-nav::after {
    display: table;
    clear: both
}

.main-nav__btn {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    display: none;
    padding: 0;
    color: #616161;
    position: relative
}

.search-bg {
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}

.search-bg {
    width: 63%;
    margin: 0 auto;
    border-radius: 30px;
    height: 50px;
    display: flex
}

.search-bg__text {
    border: none;
    width: 75%;
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
    font-weight: 700
}

.search-bg__text:ebkit-input-placeholder {
    font-size: 20px!important;
    color: #616161!important;
    font-weight: 900;
    opacity: 1
}

.search-bg__text::-moz-placeholder {
    font-size: 25px!important;
    color: #727e85;
    font-weight: 900;
    opacity: 1
}

.search-bg__text:-ms-input-placeholder {
    font-size: 25px!important;
    color: #727e85;
    font-weight: 900;
    opacity: 1
}

.search-bg__btn {
    font-weight: 600;
    background: #000;
    color: #fff!important;
    text-transform: capitalize;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    width: 25%;
    box-sizing: border-box;
    text-decoration: none!important;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    font-size: 20px;
    -webkit-appearance: none!important
}

.search-bg__btn:hover {
    background-color: #c00
}

.search-bg__btn.btn-icon-search {
    display: none
}

.main-nav__btn:hover .icon-left,
.main-nav__btn:hover .icon-left::after,
.main-nav__btn:hover .icon-left::before,
.main-nav__btn:hover .icon-right,
.main-nav__btn:hover .icon-right::after,
.main-nav__btn:hover .icon-right::before {
    background-color: #c00
}

.main-nav__btn .icon-left,
.main-nav__btn .icon-left::after,
.main-nav__btn .icon-left::before,
.main-nav__btn .icon-right,
.main-nav__btn .icon-right::after,
.main-nav__btn .icon-right::before {
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #616161
}

.main-nav__btn .icon-left {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: 23px;
    left: 11px
}

.main-nav__btn .icon-left::after,
.main-nav__btn .icon-left::before {
    left: 0;
    content: ""
}

.main-nav__btn .icon-left::before {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: -10px
}

.main-nav__btn .icon-left::after {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: 10px
}

.main-nav__btn .icon-right,
.main-nav__btn .icon-right::before {
    -webkit-transition-duration: .5s
}

.main-nav__btn .icon-right {
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: 23px;
    left: 25px
}

.main-nav__btn .icon-right::before {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    content: "";
    top: -10px;
    left: 0
}

.main-nav__btn .icon-right::after {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    content: "";
    top: 10px;
    left: 0
}

.main-nav__btn.open .icon-left {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    background: 0 0
}

.main-nav__btn.open .icon-left::before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    -ms-transform: rotate(45deg) scaleX(1.4) translate(2px, 2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px)
}

.main-nav__btn.open .icon-left::after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    -ms-transform: rotate(-45deg) scaleX(1.4) translate(2px, -2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px)
}

.main-nav__btn.open .icon-right {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    background-color: transparent
}

.main-nav__btn.open .icon-right::before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    -ms-transform: rotate(-45deg) scaleX(1.4) translate(-2px, 2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px)
}

.main-nav__btn.open .icon-right::after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    -ms-transform: rotate(45deg) scaleX(1.4) translate(-2px, -2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px)
}


.main-nav__list>.main-nav__list-icons>li>.sub-menu,
.main-nav__list>li>.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 20px -10px #000;
    box-shadow: 0 0 20px -10px #000
}

.main-nav__list>.main-nav__list-icons>li:hover>.sub-menu,
.main-nav__list>li:focus>.sub-menu,
.main-nav__list>li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    width: max-content;
    top: 65px
}

.main-nav__list>.main-nav__list-icons>li>.sub-menu>ul,
.main-nav__list>li>.sub-menu>ul {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: auto;
    border: 1px solid #eee;
    position: relative;
    -webkit-box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .1);
    max-height: 450px
}

.main-nav__list>.main-nav__list-icons>li>.sub-menu>ul>li,
.main-nav__list>li>.sub-menu>ul>li {
    list-style: none;
    padding: 5px 10px;
    font-weight: 700;
    position: relative
}

.main-nav__list>li>.sub-menu>ul>li a>i,
.main-nav__list>li>.sub-menu>ul>li a>span {
    vertical-align: top
}

.main-nav__list>li>.sub-menu>ul>li a>span {
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px)
}

.main-nav__list>li>.sub-menu>ul>li>a {
    font-size: 15px;
    color: #616161;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    line-height: 18px
}

.main-nav__list>li>.sub-menu>ul>li:hover>a {
    color: #c00
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu {
    position: absolute;
    top: 0;
    left: 126px;
    opacity: 0;
    visibility: hidden;
    width: max-content
}

.main-nav__list>li>.sub-menu>ul>li:hover>.sub-sub-menu {
    opacity: 1;
    visibility: visible
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul {
    padding: 0;
    margin: 0;
    width: auto;
    border: 1px solid #fff;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .2)
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li {
    list-style: none;
    padding: 5px 10px;
    font-weight: 700;
    line-height: 18px
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li>a {
    font-size: 15px;
    color: #616161;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    overflow: hidden;
    white-space: nowrap;
    display: block
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li>a:hover {
    color: #c00;
    text-decoration: none!important
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li>a:focus {
    outline: 0;
    text-decoration: none!important
}

.list-user li a {
    font-size: 20px
}

.list-user:before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 25px;
    bottom: 25px;
    background: #616161;
    width: 2px
}

.main-nav__list>li>.sub-menu.adjustment {
    left: -41px
}

.main-search.active {
    opacity: 1;
    visibility: visible
}

.main-search {
    bottom: 0;
    left: 0;
    top: 0
}

.main-search {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    right: 0;
    z-index: 999999;
    -webkit-transition: .2s ease all 0s;
    -o-transition: .2s ease all 0s;
    transition: .2s ease all 0s;
    opacity: 0;
    visibility: hidden
}

.search-outer {
    padding: 80px 100px 45px
}

.search-holder {
    border: 1px solid #777;
    border-radius: 55px;
    padding: 10px 20px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px 0 #ccc inset;
    box-shadow: 0 0 10px 0 #ccc inset;
    background: #fefefe
}

.form-search .mat-form-field-ripple,
.form-search mat-form-field.mat-form-field .mat-form-field-underline,
.search-results {
    background: #fff
}

.form-search mat-form-field.mat-form-field {
    text-align: center;
    font-weight: 700;
    font-size: 75px;
    color: #fff;
    width: 100%
}

.form-search input {
    font-size: 75px!important;
    color: #fff
}

.form-search .mat-focused .mat-form-field-label,
.form-search .mat-form-field-label {
    color: #fff
}

.form-search .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    font-size: 40px;
    color: #fff
}

.form-search .mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
    -webkit-transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    font-size: 40px;
    color: #fff
}

.form-search input:-webkit-autofill,
.form-search input:-webkit-autofill:focus,
.form-search input:-webkit-autofill:hover,
.form-search select:-webkit-autofill,
.form-search select:-webkit-autofill:focus,
.form-search select:-webkit-autofill:hover,
.form-search textarea:-webkit-autofill,
.form-search textarea:-webkit-autofill:focus,
.form-search textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: #fff;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -o-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

.form-search .mat-form-field-label {
    -webkit-transition: .3s ease all 0s;
    -o-transition: .3s ease all 0s;
    transition: .3s ease all 0s
}

.form-search button {
    display: none
}

.form-search input::-webkit-input-placeholder {
    font-size: 60px;
    color: #000;
    font-weight: 900
}

#closeSearch {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    -webkit-transition: .25s ease all 0s;
    -o-transition: .25s ease all 0s;
    transition: .25s ease all 0s;
    z-index: 1
}

#closeSearch:hover {
    color: #ccc
}

.search-block {
    float: right;
    position: relative;
    font-size: 20px
}

.search-results {
    padding: 10px 30px;
    margin: 15px 0 0;
    border-radius: 30px;
    max-height: 480px;
    overflow: auto
}

.search-results .head {
    padding: 20px
}

.results-found {
    font-size: 30px;
    font-weight: 700
}

.search-holder input[type=search] {
    font-size: 36px;
    line-height: 48px;
    width: 100%;
    border: 0;
    background: 0 0;
    font-weight: 900;
    text-align: center;
    color: #000
}

.search-holder input[type=search]::-webkit-input-placeholder {
    font-weight: 900;
    opacity: 1;
    color: #777
}

.search-holder input[type=search]:-ms-input-placeholder {
    font-weight: 900;
    opacity: 1;
    color: #777
}

.search-holder input[type=search]::-moz-placeholder {
    font-weight: 900;
    opacity: 1;
    color: #777
}