.width-20-percent {
    float: left;
    width: 180px;
    margin: 8px 0
}

.logo:hover {
    color: transparent
}

.logo img {
    width: 100%;
    height: 100%
}

.wrapp-header {
    background: #fff;
    -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, .25);
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, .25);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    z-index: 9999
}

.main-nav {
    width: 100%;
    text-align: right
}

.main-nav::after {
    display: table;
    clear: both
}

.main-nav__btn {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    display: none;
    padding: 0;
    color: #616161;
    position: relative
}

.main-nav__btn:hover .icon-left,
.main-nav__btn:hover .icon-left::after,
.main-nav__btn:hover .icon-left::before,
.main-nav__btn:hover .icon-right,
.main-nav__btn:hover .icon-right::after,
.main-nav__btn:hover .icon-right::before {
    background-color: #c00
}

.main-nav__btn .icon-left,
.main-nav__btn .icon-left::after,
.main-nav__btn .icon-left::before,
.main-nav__btn .icon-right,
.main-nav__btn .icon-right::after,
.main-nav__btn .icon-right::before {
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: #616161
}

.main-nav__btn .icon-left {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: 23px;
    left: 11px
}

.main-nav__btn .icon-left::after,
.main-nav__btn .icon-left::before {
    left: 0;
    content: ""
}

.main-nav__btn .icon-left::before {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: -10px
}

.main-nav__btn .icon-left::after {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: 10px
}

.main-nav__btn .icon-right,
.main-nav__btn .icon-right::before {
    -webkit-transition-duration: .5s
}

.main-nav__btn .icon-right {
    -o-transition-duration: .5s;
    transition-duration: .5s;
    top: 23px;
    left: 25px
}

.main-nav__btn .icon-right::before {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    content: "";
    top: -10px;
    left: 0
}

.main-nav__btn .icon-right::after {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    content: "";
    top: 10px;
    left: 0
}

.main-nav__btn.open .icon-left {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    background: 0 0
}

.main-nav__btn.open .icon-left::before {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
    -ms-transform: rotate(45deg) scaleX(1.4) translate(2px, 2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px)
}

.main-nav__btn.open .icon-left::after {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
    -ms-transform: rotate(-45deg) scaleX(1.4) translate(2px, -2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px)
}

.main-nav__btn.open .icon-right {
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    background-color: transparent
}

.main-nav__btn.open .icon-right::before {
    -webkit-transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
    -ms-transform: rotate(-45deg) scaleX(1.4) translate(-2px, 2px);
    transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px)
}

.main-nav__btn.open .icon-right::after {
    -webkit-transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
    -ms-transform: rotate(45deg) scaleX(1.4) translate(-2px, -2px);
    transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px)
}

#mainNav {
    width: auto;
    padding: 0;
    float: right
}

.main-nav__list {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0 0 0 10px;
    text-transform: capitalize;
    letter-spacing: -10px
}

.main-nav__list-icons {
    display: inline-block
}

.main-nav__list>.main-nav__list-icons>li,
.main-nav__list>li {
    display: inline-block;
    vertical-align: top;
    letter-spacing: 0;
    position: relative;
    text-align: left
}

.main-nav__list>.main-nav__list-icons>li>a,
.main-nav__list>li>a {
    padding: 25px 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 24px;
    color: #5d5d5d!important;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}

.main-nav__list>.main-nav__list-icons>li>a>i,
.main-nav__list>li>a>i {
    font-size: 16px;
    vertical-align: initial
}

.main-nav__list>.main-nav__list-icons>li:hover>a,
.main-nav__list>li:hover>a {
    color: #c00!important;
    text-decoration: none
}

.main-nav__list>li>a>i {
    margin-right: 5px
}

.main-nav__list>.main-nav__list-icons>li>.sub-menu,
.main-nav__list>li>.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 20px -10px #000;
    box-shadow: 0 0 20px -10px #000
}

.main-nav__list>.main-nav__list-icons>li:hover>.sub-menu,
.main-nav__list>li:focus>.sub-menu,
.main-nav__list>li:hover>.sub-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1;
    width: max-content;
    top: 65px
}

.main-nav__list>.main-nav__list-icons>li>.sub-menu>ul,
.main-nav__list>li>.sub-menu>ul {
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: auto;
    border: 1px solid #eee;
    position: relative;
    -webkit-box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .1);
    max-height: 450px
}

.main-nav__list>.main-nav__list-icons>li>.sub-menu>ul>li,
.main-nav__list>li>.sub-menu>ul>li {
    list-style: none;
    padding: 2px 5px;
    font-weight: 700;
    position: relative
}

.main-nav__list>li>.sub-menu>ul>li a>i,
.main-nav__list>li>.sub-menu>ul>li a>span {
    vertical-align: middle;
    text-align: center
}

.main-nav__list>li>.sub-menu>ul>li a>span {
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px)
}

.main-nav__list>li>.sub-menu>ul>li>a {
    font-size: 15px;
    color: #616161;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    line-height: 18px
}

.main-nav__list>li>.sub-menu>ul>li:hover>a {
    color: #c00
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu {
    position: absolute;
    top: 0;
    right: 100%;
    opacity: 0;
    visibility: hidden;
    width: max-content
}

.main-nav__list>li>.sub-menu>ul>li:hover>.sub-sub-menu {
    opacity: 1;
    visibility: visible
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul {
    padding: 0;
    margin: 0;
    width: auto;
    border: 1px solid #fff;
    background: #fff;
    position: relative;
    -webkit-box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 2px 3px 15px 0 rgba(0, 0, 0, .2)
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li {
    list-style: none;
    padding: 5px 10px;
    font-weight: 700;
    line-height: 18px
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li>a {
    font-size: 15px;
    color: #616161;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    overflow: hidden;
    white-space: nowrap;
    display: block
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li>a:hover {
    color: #c00;
    text-decoration: none!important
}

.main-nav__list>li>.sub-menu>ul>li>.sub-sub-menu>ul>li>a:focus {
    outline: 0;
    text-decoration: none!important
}

.list-user li a {
    font-size: 20px
}

.list-user:before {
    content: '';
    position: absolute;
    left: 0;
    right: auto;
    top: 25px;
    bottom: 25px;
    background: #616161;
    width: 2px
}

.main-nav__list>li>.sub-menu.adjustment {
    left: -35px
}

.main-search.active {
    opacity: 1;
    visibility: visible
}

.main-search {
    bottom: 0;
    left: 0;
    top: 0
}

.main-search {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    right: 0;
    z-index: 999999;
    -webkit-transition: .2s ease all 0s;
    -o-transition: .2s ease all 0s;
    transition: .2s ease all 0s;
    opacity: 0;
    visibility: hidden
}

.search-outer {
    padding: 80px 100px 45px
}

.search-holder {
    border: 1px solid #777;
    border-radius: 55px;
    padding: 10px 20px;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 10px 0 #ccc inset;
    box-shadow: 0 0 10px 0 #ccc inset;
    background: #fefefe;
    outline: 0
}

.form-search .mat-form-field-ripple,
.form-search mat-form-field.mat-form-field .mat-form-field-underline,
.search-results {
    background: #fff
}

.form-search mat-form-field.mat-form-field {
    text-align: center;
    font-weight: 700;
    font-size: 75px;
    color: #fff;
    width: 100%
}

.form-search input {
    font-size: 75px!important;
    color: #fff
}

.form-search .mat-focused .mat-form-field-label,
.form-search .mat-form-field-label {
    color: #fff
}

.form-search .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    -webkit-transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    font-size: 40px;
    color: #fff
}

.form-search .mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
    -webkit-transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    transform: translateY(-1.28125em) scale(1) perspective(10px) translateZ(0);
    font-size: 40px;
    color: #fff
}

.form-search input:-webkit-autofill,
.form-search input:-webkit-autofill:focus,
.form-search input:-webkit-autofill:hover,
.form-search select:-webkit-autofill,
.form-search select:-webkit-autofill:focus,
.form-search select:-webkit-autofill:hover,
.form-search textarea:-webkit-autofill,
.form-search textarea:-webkit-autofill:focus,
.form-search textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: #fff;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -o-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
}

.form-search .mat-form-field-label {
    -webkit-transition: .3s ease all 0s;
    -o-transition: .3s ease all 0s;
    transition: .3s ease all 0s
}

.form-search button {
    display: none
}

.form-search input::-webkit-input-placeholder {
    font-size: 60px;
    color: #000;
    font-weight: 900
}

#closeSearch {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    -webkit-transition: .25s ease all 0s;
    -o-transition: .25s ease all 0s;
    transition: .25s ease all 0s;
    z-index: 1
}

#closeSearch:hover {
    color: #ccc
}

.search-block {
    float: right;
    position: relative;
    font-size: 20px
}

.search-results {
    padding: 10px 30px;
    margin: 15px 0 0;
    border-radius: 30px;
    max-height: 480px;
    overflow: auto
}

.search-results .head {
    padding: 20px
}

.results-found {
    font-size: 30px;
    font-weight: 700
}

.search-holder input[type=search] {
    outline: none;
    font-size: 36px;
    line-height: 48px;
    width: 100%;
    border: 0;
    background: 0 0;
    font-weight: 900;
    text-align: center;
    color: #000
}

.search-holder input[type=search]::-webkit-input-placeholder {
    font-weight: 900;
    opacity: 1;
    color: #777
}

.search-holder input[type=search]:-ms-input-placeholder {
    font-weight: 900;
    opacity: 1;
    color: #777
}

.search-holder input[type=search]::-moz-placeholder {
    font-weight: 900;
    opacity: 1;
    color: #777
}

.sellnowbtn {
    background: #000;
    color: #fff;
    font-weight: 600;
    margin: 20px 10px
}

.sellnowbtn:focus {
    outline: 0;
    box-shadow: none
}

.sellnowbtn i {
    margin-right: 5px
}

.fa-android,
.fa-apple {
    font-size: 22px!important
}

.fa-android {
    color: #a4c639
}

.fa-apple {
    color: #a3aaae
}

.dropdown-heading {
    font-size: 18px;
    margin: 10px;
    border-left: 5px solid #c00;
    padding-left: 10px;
    font-weight: 600;
    color: #333
}

.cutom-pd li a i {
    width: 20px;
    margin: 0 3px;
    font-size: 14px!important
}

.sub-menu ul li a img,
.sub-sub-menu ul li a img {
    width: 20px;
    height: 100%;
    margin-right: 5px
}

.cutsom-pd-bars i {
    width: 20px;
    margin-right: 5px
}

.add-book,
.add-course,
.add-flash-card,
.add-notes,
.become-a-tutor,
.bid-rent-buy-book,
.book,
.book-categories,
.course,
.course-categories,
.find-tutors,
.flash-card,
.flash-categories,
.flash-categories-1,
.institute-2,
.notes,
.notes-categories,
.q-a-expert,
.scholorship,
.scholorships,
.tutor,
.upcoming-scolarship {
    background-size: 100%;
    max-width: 100%;
    background-image: url(assets/img/add_notes/submenu.png)
}

.add-course {
    background-position: 0 0
}

.add-flash-card {
    background-position: 0 4.761905%
}

.add-notes {
    background-position: 0 9.52381%
}

.add-book {
    background-position: 0 14.285714%
}

.become-a-tutor {
    background-position: 0 19.047619%
}

.bid-rent-buy-book {
    background-position: 0 23.809524%
}

.book-categories {
    background-position: 0 28.571429%
}

.book {
    background-position: 0 33.333333%
}

.course {
    background-position: 0 38.095238%
}

.find-tutors {
    background-position: 0 42.857143%
}

.flash-categories-1 {
    background-position: 0 47.619048%
}

.flash-categories {
    background-position: 0 52.380952%
}

.flash-card {
    background-position: 0 57.142857%
}

.institute-2 {
    background-position: 0 61.904762%
}

.notes-categories {
    background-position: 0 66.666667%
}

.notes {
    background-position: 0 71.428571%
}

.q-a-expert {
    background-position: 0 76.190476%
}

.scholorship {
    background-position: 0 80.952381%
}

.scholorships {
    background-position: 0 85.714286%
}

.tutor {
    background-position: 0 90.47619%
}

.upcoming-scolarship {
    background-position: 0 95.238095%
}

.course-categories {
    background-position: 0 100%
}

.main-nav__list_books_1,
.main-nav__list_events_1,
.main-nav__list_flash_cards_1 {
    display: none
}

.heart-li:hover .heart-sub-meun {
    opacity: 1;
    visibility: visible;
    top: 65px
}

.addtocart-sub-meun,
.heart-sub-meun {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .4), 0 6px 20px 0 rgba(0, 0, 0, .2)
}

.main-nav__list_scholarship {
    display: none!important
}

.list-normal {
    padding: 0;
    margin: 0;
    list-style: none
}

.list-normal li {
    display: block;
    margin: 0
}

.heart-main-div,
.heart-time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left
}

.list-normal li a {
    color: #000;
    text-decoration: none;
    padding: 4px 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 22px
}

.list-normal li a:hover {
    color: #c00
}

.list-normal li a i {
    color: #c00;
    padding-right: 5px
}

.heart-li {
    position: relative!important
}

.heart-li sup {
    top: -15px;
    left: -5px
}

.heart-sub-meun {
    position: absolute;
    top: 100%;
    right: 0;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    color: #000;
    width: 450px;
    transition: .4s
}

.heart-full-div {
    max-height: 350px;
    overflow: auto
}

.heart-detail {
    color: #767676;
    font-size: 14px
}

.heart-detail,
.heart-heading {
    overflow: hidden;
    font-weight: 600
}

.heart-time {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.heart-time i {
    color: #c00
}

.heart-time i:hover {
    color: #a00
}

.wishlist-btn {
    text-transform: capitalize;
    font-size: 20px;
    text-align: center
}

.heart-card-btn {
    font-size: 14px;
    text-transform: none;
}

.heart-card-btn:focus,
.heart-card-btn:hover {
    color: #007bff;
}

.wishlist-btn-div {
    display: block;
    background: #f2f3f5;
    padding: 5px;
    text-align: center
}

.wishlist-btn-div .btn {
    width: 50%
}

.wishlist-btn {
    color: #fff;
    background: #000;
    padding: 15px;
    border-radius: 50px;
    display: block
}

.wishlist-btn:focus {
    color: #fff
}

.heart-img {
    height: 50px;
    width: 50px;
    object-fit: cover
}

.heart-contact {
    margin-left: 10px;
    width: 70%
}

.heart-heading {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    white-space: unset;
}

.heart-new-price {
    color: #c00;
    font-size: 16px;
    font-weight: 600
}

.addtocart-li {
    position: relative!important
}

.addtocart-li sup {
    top: -15px;
    left: -5px
}

.addtocart-li:hover .addtocart-sub-meun {
    opacity: 1;
    visibility: visible;
    top: 65px
}

.addtocart-sub-meun {
    position: absolute;
    top: 100%;
    right: -10px;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    color: #000;
    width: 450px;
    transition: .4s
}

.addtocart-full-div {
    max-height: 350px;
    overflow: auto
}

.addtocart {
    border-bottom: 1px solid #ccc;
    text-align: right;
    position: relative;
}
.cart-padding{
    padding: 0 10px;
}
.addtocart-time {
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
}
.addtocart-cross{
    position: absolute;
    right: 20px;
    top: 10px;
}
.addtocart-time i {
    color: #c00;
    cursor: pointer
}

.addtocart-time i:hover {
    color: #a00;
}
.notification-box-heading.false-notification{
    background: #d4d4d4;
}
.addtocart-main-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left
}
.heart {
    position: relative;
    padding: 0 10px;
}
.heart:hover {
    background: none;
}
.addtocart-img {
    height: 50px;
    width: 50px;
    object-fit: cover
}

.discount-p {
    float: right;
    color: #6d6c6c;
}

.discount-p i {
    margin-left: 5px
}

.addtocart-contact {
    margin-left: 10px;
    width: 70%
}

.notification-box {
    width: 100%;
    margin: 0
}

.notification-box-heading {
    padding: 10px;
    border: none;
    position: relative;
}

.notification-heading {
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    font-weight: 600;
    padding: 0 10px
}

.notification-heading:hover {
    color: #c00;
}

.addtocart-new-price {
    color: #c00;
    font-size: 16px;
    font-weight: 600;
}

.addtocart-main-total-title {
    color: #000
}

.addtocart-main-total-price {
    color: #c00
}

.addtocart-main-total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 12px 0 0;
    font-size: 20px;
    font-weight: 600;
    background-color: #f2f3f5
}

.logo {
    outline: none;
    cursor: pointer
}
.heart-heading a,
.heart-detail a,
.heart-price .heart-new-price a,
a.heart-card-btn,
.addtocart-new-price a{
    color: #000;
}
.text-trans{
    text-transform: none;
}